[2017-05-22 22:52] grechaw commented on #206
prettier is, i will admit, an excellent thing.

[2017-05-22 22:54] grechaw commented on #299
If you need to use a proxy, then it will be a host and port provided you by your system administrator.  These values need, in other words, to be filled in by you on the advice of a colleague

[code]

This issue really doesn't have anything to do with our project, but if there is some documentation we should reference for devs in your situation, perhaps we can include that in a README?

[2017-05-23 12:04] GayatreeT commented on #299
Yes, Charles, I did use the proxy host and port number for our network.

Yeah it’s probably not directly about the project, but I figured the people connected with it would be the ones to contact. Sorry, I tried emailing first coz I didn’t want to open an issue, but I was redirected to this & stackexchange.
Anyway, I tweaked some things and it did install last night.
Thanks!

Regards,
Gayatree

Fr

[2017-05-23 12:05] GayatreeT commented on #299
P.S. Re: documentation: Yeah, if you’d like to add that people behind a firewall would need to set some proxy settings, you can add that.

From: Tiwari, Gayatree
Sent: Tuesday, May 23, 2017 8:04 AM
To: 'marklogic/entity-services'
Subject: RE: [marklogic/entity-services] Error in executing Entity Services Examples (#299)

Yes, Charles, I did use the proxy host and port number for our network.

Yeah

[2017-05-23 16:32] grechaw commented on #299
OK, looking forward to feedback and more issues, glad you got the proxy working @GayatreeT

[2017-05-23 16:32] #299 closed

[2017-05-23 16:35] jmakeig commented on #206
I’ve got it working on MarkLogic. (I’d like to see a button in Query Console too.)

[2017-05-31 16:24] #263 closed

[2017-05-31 22:23] grechaw commented on #288
Taking a look now about updating ml-gradle to use the new TDE directory structure.

[2017-05-31 23:31] grechaw commented on #288
I've updated example code to make this change, and verifies it all works with an ml-gradle upgrade.

[2017-06-02 23:39] grechaw commented on #288
committed to develop and b9_0 branches

[2017-06-03 00:03] rashiatmarklogic commented on #288
Lets sync up on this next week, I need to understand what needs to be done here.

[2017-06-05 16:35] grechaw commented on #288
OK, this is actually a really simple verification I think, amounts to "no regression".
The change is that PM didn't want me to encourage use of "tdex" to mark extraction templates.  So @rjrudin changed ml-gradle to load extraction template from a directory under ml-schemas, and allows them to have the extension ".xml".  So this change goes through the examples, and puts all TDEs into a 'tde' folde

[2017-06-05 21:13] grechaw commented on #276
Added some good commentary, I think.

[2017-06-07 20:38] #212 closed

[2017-06-07 20:38] #214 closed

[2017-06-07 20:38] #227 closed

[2017-06-07 20:38] #240 closed

[2017-06-07 20:38] #243 closed

[2017-06-07 20:38] #245 closed

[2017-06-07 20:38] #246 closed

[2017-06-07 20:38] #247 closed

[2017-06-07 20:38] #250 closed

[2017-06-07 20:38] #257 closed

[2017-06-07 20:38] #258 closed

[2017-06-07 20:38] #259 closed

[2017-06-07 20:38] #261 closed

[2017-06-07 20:38] #262 closed

[2017-06-07 20:38] #264 closed

[2017-06-07 20:38] #268 closed

[2017-06-07 20:38] #270 closed

[2017-06-07 20:38] #271 closed

[2017-06-07 20:38] #277 closed

[2017-06-07 20:38] #279 closed

[2017-06-07 20:38] #280 closed

[2017-06-07 20:38] #281 closed

[2017-06-07 20:38] #282 closed

[2017-06-07 20:38] #283 closed

[2017-06-07 20:38] #284 closed

[2017-06-07 20:39] #113 closed

[2017-06-07 21:32] #208 closed

[2017-06-07 21:35] grechaw commented on #241
I've actually been starting a little work in this direction in prototyping model-from-triples.
It uses the famous wine.rdf ontology to create some entity types.

[2017-06-07 21:38] grechaw commented on #188
Added labels for BT and planning purposes.  I'll have some prototyping to show when we return from London, or before.

[2017-06-08 02:18] grechaw commented on #234
This issue falls under the general rubric of "vocabulary for mapping".  I'll put into the 9.0-3 planning project to see if we can use that to scope and triage issues.

[2017-06-08 02:20] grechaw commented on #287
We didn't manage to go 100% with this example for MarkLogic world, but can come back to it.  I'll put this issue into triage in 9.0-3 timeframe, for us to discuss in a feature group meeting.

[2017-06-08 17:34] grechaw commented on #298
So the question for the WG will be -- should we catch and transform invalid column names, or leave them as-is for the developer to rationalize.

[2017-06-08 17:35] grechaw commented on #292
We'll take some action, or not, on this in the next WG meeting.
@matt-turner I'll put you on the optional invite in case you have an interest.

[2017-06-08 17:42] grechaw commented on #275
@jmakeig this issues is lacking enough context such that it is perhaps meaningless?
Do you have a sentimental attachment to it?

[2017-06-08 17:43] grechaw commented on #266
This issue is a proposed design change, but it needs more grounding in scenario to map the capability to an implementation.  Probably not for 9.0-3?

[2017-06-08 17:46] grechaw commented on #30
To what degree does the data hub do this for us now?  I still think a utility would be nice., probably not hard to make a mapping between ES models and some kind of graph drawing toolkit.

[2017-06-08 21:12] jmakeig commented on #30
I think this is more of a long-term story, beyond 9.0-3, at least.

[2017-06-08 21:31] jmakeig commented on #266
The other issue is more of an existential one: What is an entity? Is (the concept of) an “address” an entity? If you were the Post Office, maybe, but for many applications an address is a rich piece of data that only exists in the context (i.e. as a sub-property) of something else, like a Person or and Order.

As a Data Architect, I want to be able to define and reuse sub-entities, like Address. F

[2017-06-09 17:48] jmakeig commented on #266
* Anything with sub-structure is an entity
* Need a way to describe “important” or “top-level” entities, i.e. those that represent true business entities
* Need a way to tell the materialization how to (completely) denormalize within another entity

[2017-06-12 18:42] #80 closed

[2017-06-12 18:42] #83 closed

[2017-06-12 18:42] #140 closed

[2017-06-12 18:42] #146 closed

[2017-06-12 18:42] #149 closed

[2017-06-12 18:42] #156 closed

[2017-06-12 18:42] #170 closed

[2017-06-12 18:42] #173 closed

[2017-06-12 18:42] #181 closed

[2017-06-12 18:42] #182 closed

[2017-06-12 18:42] #183 closed

[2017-06-12 18:42] #184 closed

[2017-06-12 18:42] #185 closed

[2017-06-12 18:42] #186 closed

[2017-06-12 18:42] #190 closed

[2017-06-12 18:42] #196 closed

[2017-06-12 18:42] #207 closed

[2017-06-12 18:42] #220 closed

[2017-06-12 18:42] #221 closed

[2017-06-12 18:42] #252 closed

[2017-06-12 18:48] #139 closed

[2017-06-12 18:48] #172 closed

[2017-06-12 18:51] #242 closed

[2017-06-12 18:53] #145 closed

[2017-06-12 18:54] #76 closed

[2017-06-20 16:39] grechaw commented on #117
Mary notes that this may be a product feature in the end rather than just a recipe.

[2017-06-20 16:51] damonfeldman commented on #117
There is a tool at CMS called "data slice" that does something like this for XML docs. It uses a mapping of the links such as

Person//personId=>InsuranceApplication//applicantID
InsuranceApplication//id=>Policy//appID

etc. to define the links (we would likely have more/better concept of a link in Entity Services someday) and it starts at some roots, subject to some selection criteria (query, dat

[2017-06-20 17:09] jmakeig commented on #117
Maybe, but a recipe is a quicker potential win and a good way to generate better requirements.

[2017-06-23 21:34] grechaw commented on #232
Here is a draft proposal for a 'new style' instance module function:

[code]

[2017-06-23 22:01] grechaw opened #301 "Bubble up private code gen methods to make integration easier (see Data Hub)."
Some functions required for extraction are currently included as private functions with code-generated modules.  It would be more convenient to work with entity services from the data hub perspective were these functions part of the es:module.

Propose removing two functions from instance converter and two functions from version translator.

instance:init-source => es:init-source
instance:add-atta

[2017-06-23 22:03] grechaw commented on #301
I have this work ready to review by @paxtonhare .

It will require docs work, as the public interface is slightly changed.  Also I'd like review to make sure these functions make sense, that they are indeed useful and should be exposed.

[2017-06-29 17:01] #275 closed

[2017-07-03 20:51] grechaw commented on #122
Considering design for namespaces in canonical documents.
We already have a "baseURI" property, which is used to form the left-hand side of triples.  It would be a natural fit for also being the namespace of canonical instances, but there are other options that would provide more flexibility.

Say each entity type could take a "namespace" property.  Then the canonical XML namespace would be contro

[2017-07-05 18:39] grechaw commented on #301
Hi @bsrikan this issue should go to Kim next, as it is largely a documentation task.

[2017-07-06 17:33] grechaw commented on #143
I don't see anything actionable here right now -- it could be that Data Hub and Entity Services have complementary ways of editing the envelope now, or that a kind of entity services empty-envelope-generator function would help.

Set milestone to backlog, we can revisit as needed.

[2017-07-06 17:34] grechaw commented on #144
This enhancement is covered now by issue #291

[2017-07-06 17:34] #144 closed

[2017-07-06 17:35] grechaw commented on #278
It seems like we're doing alignment checks now and have good tasks for 9.0-3.  I'll move this issue along to ship.

[2017-07-11 15:40] jmakeig commented on #298
I think we should do this. I would expect any TDE the Entity Services generates to be (at least) valid, out-of-the-box. That doesn’t mean the developer won’t have to do some rationalization, it’s just that we’ll get her over the “invalid” hump.

See also customer feedback from @derms about TDE (albeit sans ES) on-boarding experience.

[2017-07-11 16:32] grechaw commented on #298
There is a deeper way to consider the issue.  Note that entity services, by convention, prefers:

CapitalizedCamelCase for entity type names, and
lowercaseCamelCase for property names.

Note that if entities enforced this, or internally canonicalized names, then there would not be hyphens in them.  But we chose not to enforce names.

Internally, MarkLogic knows about camelCase vs. hyphenation, viz

[2017-07-11 16:34] grechaw commented on #298
That said, Daniel had a good point.  Why don't we just make TDE more lenient wrt column names?

[2017-07-11 19:11] jmakeig commented on #298
Because SQL92?

[2017-07-11 19:26] grechaw commented on #298
That's not a reason, that's a rationalization.  Optic could handle column names with hyphens, and our SQL engine could as well.  But if that's the end of that line of reasoning, then we can just turn this into a bug and move forward with a TDE column name mapping.  It won't affect anybody wrt compatibility.

[2017-07-13 20:00] bsrikan opened #303 "extract-instance-X() is missing a property that is an array of external references"
Test Class: TestEsConversionModuleGenerator
Test Name: testInstanceToCanonicalXml()

XQuery being executed:
`
import module namespace ext = 'http://refCombo#Northwind-Ref-Combo-SameDocument-SubjectIri-0.0.1' at '/conv/valid-ref-combo-sameDocument-subIri.xqy';`
`ext:instance-to-canonical-xml(ext:extract-instance-Order( doc('10248.xml') ))
`

extract-instance-Order() of the generated module "/conv/v

[2017-07-13 20:01] grechaw commented on #303
good catch.

[2017-07-13 21:45] bsrikan opened #304 "Aesthetic bugs in entity-services-codegen.xqy"
Issue1:
Couple of function declarations still take $source as node() as compared to the refactored item()
a>declare function {$module-prefix}:convert-instance-{$entity-type-name}( $source as node() ) as map:map
b>declare function {$module-prefix}:convert-instance-{$removed-entity-type-name}( $source-node as node() ) as map:map

Issue2:
Function declaration within <removed-type> is not closed prope

[2017-07-13 22:23] grechaw commented on #304
Issue one was requested by Paxton verbally.  I need to get it into the spec as a change and make sure the WG is ok with it.

Issue 2 ill definitely address

[2017-07-14 18:59] bsrikan opened #305 "Examples person and races not running properly"
When running person example we get an error as below:
[code]
Model and source docs dont seem to have been inserted

When running races example we get an error as below:
`TDE-INDEX: Error applying template /tde/Race-0.0.1.xml to document /runs/311.xml: TDE-EVALFAILED: Eval for Column runnerName='runByRunner/Runner/name' returns an empty sequence for a non-nullable column . See the MarkLogic server

[2017-07-14 23:24] grechaw commented on #256
Initial upgrade looks successful.  It's a big patch but a nice thing to keep current.  I'll set to fix, continue to verify the patch, and submit for inclusion.

[2017-07-14 23:52] grechaw commented on #256
I think in the process of migration I've hit upon the bug that @bsrikan found in #303

[2017-07-15 00:12] grechaw commented on #303
It's not an extra "OrderDetails" but rather, the ref is pointing to a non-existing type called "OrderDetails".
I'll come back to you on this one, I think the new result might be better?  Not sure, I'll have to talk with you about it.

[2017-07-17 21:22] grechaw commented on #303
Hi Srikanth, I think you did find a bug in here, but also I think that the test has unexpected results.

I"ll make a feature branch for you to take a look at -- I need some consultation in how to proceed.  Part of the issue is that I upgraded XML Unit at the same time, and had to make some choices throughout the codebase as to how to adjust.

[2017-07-18 16:23] grechaw commented on #291
The WG rejected the idea of a vocabulary item for envelope style, but think it's rather part of the API.
So my spec updates include function changes to accommodate this requirement idea.  As part of the output from es:instance-converter-generate(), these functions will be available in 9.0-3:

[code]

[2017-07-18 17:13] grechaw commented on #291
I sent along a query to data integration group about this item -- I think it might still be required.

[2017-07-19 16:32] grechaw commented on #298
I'll fix this while trying to deliver new functionality in 9.0-3 timeframe

[2017-07-19 17:07] grechaw opened #307 "Figure out how to export with CRLF and LF"
Right now, entity services codegen spits out UNIX-friendly text.
When you import it into a windows tool, everything is one one line, which is a little bit annoying.

[2017-07-19 17:13] grechaw opened #308 "Incoporate generation of JSON envelopes"
This issue replaces another one that was not well-described.

In 9.0-3, Entity Services will generate JSON envelopes.  This is an API enhancement, and it has been incorporated into a draft of a delta spec.  Tests and implementation are in progress.

[2017-07-19 17:20] grechaw opened #309 "Property to allow codegen of either element range indexes or path range indexes, per entity type"
Two new properties are introduced, on each entity type,

path-range-index  (JSON pathRangeIndex)
and
element-range-index (JSON elementRangeIndex)

path-range-index is equivalent to backward compat range-index, which we will deprecate.

[2017-07-19 17:21] grechaw commented on #309
There is some intersection between this task and support for namespaces in XML.

[2017-07-19 21:38] grechaw commented on #309
Made significant progress on this issue today, along with namespace support #122 .

Implemented and tests passing for XML/JSON entity types, database properties generation and search options generation.

So the portions of #122 that do not have to do with range indexes are still remaining.

[2017-07-19 22:27] grechaw commented on #303
It does seem after our conversation that the 'property' step should not be there for references

[2017-07-19 22:35] bsrikan commented on #303
Following test in e2e is another example of the bug where it fails to extract ShipAddress which is an array of ShipDetails

[code]

[2017-07-19 22:49] bsrikan commented on #301
Test updates are checked in #310. Passing it on to Kim for documentation.

[2017-07-19 22:50] bsrikan commented on #297
Test updates in PR #310. Will ship after successful regression run

[2017-07-19 22:51] bsrikan commented on #232
Test updates in PR #310. Will ship after successful regression run

[2017-07-20 21:27] grechaw commented on #122
implemented changes to database properties creation and search options.  schema looks perhaps more complex than I thought, test instances are done.

[2017-07-21 00:30] jmakeig opened #311 "Descriptor schema (or just actually be JSON Schema)"
With a schema, many editors will provide type-ahead hints when editing JSON, for example, [in VSCode](https://code.visualstudio.com/docs/languages/json#_mapping-in-the-user-settings). We should provide a JSON Schema for our Entity Type Descriptor. We should also publish this at a URL so that it can be referenced in config, such as in the example above.

Longer term, we should think about actually

[2017-07-21 00:32] jmakeig opened #312 "Add SUPPORT file"
https://help.github.com/articles/adding-support-resources-to-your-project/

Content TBD.

[2017-07-21 17:47] bsrikan commented on #232
Shipping the issue.

[2017-07-21 17:48] bsrikan commented on #297
Shipping the issue.

[2017-07-21 20:35] grechaw opened #313 "Update schema for 9.0-3 entity type changes"
The new vocabulary items in the entity services model need to be added to the XSD.

[2017-07-21 20:53] grechaw opened #314 "Verify JSON XPath expressions for TDE and indexes."
At MarkLogic World I found that JSON envelopes required a change to generated TDE templates in order to navigate object node structure.

This task is to track down that difference and account for it in JSON envelopes.

[2017-07-21 21:00] grechaw commented on #314
The change had to do with nesting.  JSON envelope required an extra ".." to reference a parent from an embedded instance.  There may be an alternate that will work with both XML and JSON, or this might indicate we should rethink the JSON structure slightly.

[2017-07-21 23:56] grechaw commented on #309
Almost complete, will deliver PR by Monday.

[2017-07-21 23:57] grechaw commented on #304
These fixes are in my current work in progress.

[2017-07-21 23:58] grechaw commented on #303
I think I finally fixed this issue today, along with the new namespace implementation.  Still have to explore the test surface area to see if I'm missing something.

[2017-07-23 03:45] grechaw commented on #256
more changes coming that will fix the functional tests i think.

[2017-07-24 14:30] grechaw commented on #308
This issue is in PR.

[2017-07-24 15:04] grechaw commented on #311
You realize that this request is for a descriptor for the es in a different version of JSON schema than es was actually based on?  I was pretty surprised how different the new JSON schema is from what we used for entity services.

Also, the different between entity services and JSON schema is about supporting datatypes.  I've not seen any JSON schema that supports datatypes reasonably.

So, laudab

[2017-07-24 21:41] jmakeig commented on #311
Yes, mostly place-holder for now. Title should be “Make a kick-ass editor experience for Entity Services model descriptors”.

[2017-07-25 17:23] grechaw commented on #298
We have decided just to replace hyphens with underscore,

That is, in those cases where a property has a hyphen, the corresponding column name will have an underscore

this-column =>  this_column

[2017-07-25 17:28] grechaw opened #316 "XSD generation for namespace"
This part of namespace configuration is still not delivered.
XSDs need to be modified when there is a model that has the namespace and namespace-uri properties.

[2017-07-25 17:53] bsrikan opened #317 "database-properties-generate() shows an empty "element-range-index" property"
If a model doesnt have an "element-range-index" property defined, database-properties-generate() still shows "element-range-index" as an empty property. This should not be the case.

Actual:
[code]

Expected:
[code]

[2017-07-25 21:07] grechaw commented on #313
Seems the schema was not updated even for the 9.0-1 release.  There are bugs in there.  This task is now a little bigger, to correct and make the schema valid for XML model descriptors.

[2017-07-26 03:33] bsrikan commented on #256
migration to xmlunit2.0 working OK and doesnt break unit or functional tests. Shipping the issue.

[2017-07-26 03:34] bsrikan commented on #303
Will test once PR #315 is merged to develop.

[2017-07-26 20:48] bsrikan opened #318 "instance-to-canonical-json() doesnt return all the items for a property that is an array"
Below query is from unit test:

[code]

There are 2 products in the source document and only 1 is returned. Apparently it seems to have been overwritten so the last product is only returned.
instance-to-canonical-xml() returns 2 as expected.

EDITED: Updated to instance-to-canonical-json() in place of instance-to-json-envelope()

[2017-07-26 21:01] bsrikan commented on #308
Started testing. Filed a bug #318

[2017-07-26 21:13] grechaw commented on #318
good catch.

[2017-07-26 22:22] bsrikan commented on #309
Started testing. Filed a bug, #317

[2017-07-27 17:56] bsrikan opened #319 "es:instance-get-attachments() doesnt work with json envelopes"
Query from functional test testInstanceGetAttachmentsJSON()

[code]

Query returns an empty sequence because es:instance-get-attachments() currently doesnt work with instance-to-json-envelope().
get-attachments() is looking for '//es:attachments' whereas it should be "//attachments" for json envelopes

[2017-07-27 18:10] grechaw commented on #313
Also, add unit test for validating envelopes.  The bug in the schema has to do with envelopes.

[2017-07-27 18:18] grechaw opened #320 "Provide a validation block in schematron for namespace declaration."
There are probably valid and invalid uses of namespace and namespacePrefix that I've not uncovered yet.  This issue is to track and implement what we find.

[2017-07-27 18:45] bsrikan opened #321 "es:instance-to-envelope() throws XDMP-CHILDNODEKIND error with JSON attachment"
Query from functional test testInstanceGetAttachmentsJSON()

[code]

Query returns following error:
`XDMP-CHILDNODEKIND: $attachment -- element nodes cannot have object node children`

[2017-07-27 21:24] grechaw commented on #321
Our agreement was that, which this error is acceptable for instance-to-xml-envelope, the legacy function should be backward compatible and quote attachments when needed.

[2017-07-27 21:27] grechaw commented on #316
I've got this feature all done now and tests passing.  Will create a PR.  The testing I had to do is slightly non-optimal, but I did cover the case of a model with two namespaces, and hence two imports.

[2017-07-27 21:49] bsrikan commented on #321
Thanks for adding that point.

[2017-07-27 23:06] grechaw commented on #321
I'll change the description --- pretty sure it's instance-to-envelope throwing the error

[2017-07-27 23:31] grechaw commented on #321
Fixing this is a backward incompatibility, but not with any release :)

[2017-07-27 23:47] grechaw commented on #321
I've got a fix for this bug.

[2017-07-28 00:06] grechaw commented on #321
Now that I've looked back, I need to take my fix back out.  I've put code into both envelope functions that quote attachments -- I think I may just have a little bug int he codegen for canonical xml.  Is your patched version of this module anywhere I can get it -- i want the one with instance-to-canonical xml etc etc

[2017-07-28 00:54] bsrikan commented on #303
Issue is fixed and the functional test runs OK. Shipping the bug.

[2017-07-28 02:41] bsrikan commented on #321
[valid-ref-same-doc-gen.xqy.zip](https://github.com/marklogic/entity-services/files/1181846/valid-ref-same-doc-gen.xqy.zip)

attached the zip version

[2017-07-28 16:22] grechaw commented on #321
I took a look in your module -- I think I need a minor change, but not the change I originally made.  It looks like my intention is to always store attachments without error.  (Which is different from what we discussed yesterday.)  I'm going to shoot an email to the group about this.

[2017-07-28 16:23] grechaw commented on #321
come to think of it, I think that it's best if we just don't error out.

XML envelopes -- quote JSON as string, leave XML alone
JSON envelopes -- quote XML as string, leave JSON alone.

[2017-07-28 16:26] kcoleman-marklogic commented on #321
That sounds eminently sensible to me.

[2017-07-28 16:59] grechaw commented on #321
OK I have a fix.  Very straightforward it turns out.

[2017-07-28 17:29] grechaw commented on #321
Pushing to grechaw/bugfixes, but I'm not going to make a PR until I've looked at a few more of these simple bugs.

[2017-07-28 20:14] grechaw commented on #319
I've fixed this issue, in PR later today.

[2017-07-28 20:28] grechaw commented on #318
Fixed this too in a PR to be pushed shortly.

[2017-07-28 20:42] bsrikan opened #323 "database-properties-generate() doesnt populate namespace-uri for word-lexicon when the enclosing type has one"
In a model if an entity type has "namespace-uri" defined(and a word-lexicon), database-properties-generate() is generated where namespace-uri for that word-lexicon is empty.

Actual:
[code]

Expected:
[code]

Sample model:
[code]

[2017-07-28 21:01] grechaw commented on #317
looks like we do that with all of them:

{
"database-name": "%%DATABASE%%",
"schema-database": "%%SCHEMAS_DATABASE%%",
"path-namespace": [
{
"prefix": "es",
"namespace-uri": "http://marklogic.com/entity-services"
}],
"element-word-lexicon": [],
"range-path-index": [],
"range-element-index": [],
"triple-index": true,
"collection-lexicon": true
}
[code]

[2017-07-28 21:45] grechaw commented on #317
added this issue to PR.

[2017-07-31 17:43] bsrikan commented on #323
This issue has not been fixed yet and was possibly marked as 'test' by mistake. Switching to 'new'.

[2017-07-31 20:55] bsrikan commented on #321
Verified the fix to be working as expected.

[2017-07-31 20:58] bsrikan commented on #319
Verified fix to be working as expected.

[2017-07-31 21:10] bsrikan commented on #318
Verified the fix. Working as expected.

[2017-07-31 21:14] bsrikan commented on #317
Verified the fix. Working as expected.

[2017-07-31 21:23] bsrikan opened #325 "Triples not matching for the unit test testModelXMLConversion()"
From #324

[2017-07-31 21:26] bsrikan opened #326 "Functional test verifySchemaValidation() fails with XDMP-REDCOMPLEXTYPE"
From #324

[2017-08-01 21:48] bsrikan commented on #319
Shipping the issue.

[2017-08-01 21:48] bsrikan commented on #318
Shipping the issue.

[2017-08-01 21:49] bsrikan commented on #317
Shipping the issue.

[2017-08-01 21:53] bsrikan commented on #321
Shipping the issue.

[2017-08-02 06:24] bsrikan opened #328 "es:init-source() doesnt work for json source doc that is not enclosed with a parent"
After running mldeploy and 'rune2eNwind' for e2e test, I found that envelopes were not getting created for extract-instance-Superstore().
After digging a little deeper I found the issue to be with es:init-source(). It has a then statement that looks like
`    then $source/*`
The extraction works ok if this is `then $source/node()` instead like it was before. '/*' returns the values in json source

[2017-08-03 22:16] bsrikan opened #329 "extraction template produces an empty column, if an entity type has required defined but no primaryKey"
Sample model below produces an empty column. This is not a regression and seems to be an existing bug.
Model:
[code]

Extraction template column:
[code]

[2017-08-04 18:39] bsrikan opened #330 "database-properties-generate() produces duplicate namespaces"
Sample model below produces duplicate namespaces. I have tried with 2 entity types that do not have any array $ref and they seem ok. Only for ET with array $refs in them and having namespace declaration seem to have this issue.

Model:
[code]

Output:
[code]

[2017-08-05 03:36] bsrikan commented on #330
Same behavior for below sample model as well. Now I am not sure if array refs has anything to do with the error:

[code]

[2017-08-07 23:28] grechaw commented on #328
You've isolated an issue I knew we had -- this is related to the XPath issues for JSON in TDE.  Needs to be addressed for 9.0-3 for sure.

[2017-08-07 23:30] grechaw commented on #329
strange, I'll look into it.

[2017-08-08 00:25] grechaw commented on #325
Hi @bsrikan these two serializations are equivalent, except the second one contains one more triple.
If you change the first line to

[code]

Then the tests will pass, as they check for parsed triples, not serializations.

[2017-08-08 21:48] grechaw commented on #323
I'll push a fix and test adjustment for this momentarily, setting to 'fix'

[2017-08-08 21:52] grechaw commented on #323
In PR for you now.

[2017-08-08 21:53] grechaw commented on #325
In PR, ready to go.

[2017-08-08 22:21] grechaw commented on #330
I'm fixing this by assuming that one must have unique prefixes for each namespace within a model descriptor.  It would be invalid anyhow if one were to violate this principle (maybe should be in validation?)

In any event, I'm also reserving the 'es' prefix for the entity services namespace, so I'll update the spec with a note about this requirement too.

[2017-08-08 22:43] bsrikan commented on #323
Left a comment in PR to make changes to fix.

[2017-08-08 22:58] grechaw commented on #330
In PR now, over to you @bsrikan

[2017-08-09 17:57] bsrikan commented on #122
Added tests that will be in PR later today.

[2017-08-09 17:58] bsrikan commented on #309
Added tests that will be in PR later today

[2017-08-09 17:58] bsrikan commented on #308
Added tests that will be in PR later today.

[2017-08-09 17:58] bsrikan commented on #325
Unit tests are working ok now. Shipping this issue.

[2017-08-09 18:03] grechaw commented on #328
The object-node JSON document is a special case.  node() doesn't work by itself because for lots of XML documents this will select whitespace text nodes as well as element children.

I need to add a test specifically for this kind of doc, to make sure that all is OK.

[2017-08-09 18:07] grechaw commented on #328
I guess a goal of init-source should be to get the top-level non-document node of an input, which should be a single element or an object node.

[2017-08-09 20:42] grechaw commented on #328
Well, i was finding this all to be somewhat tricky, but am closing in on a good fix.  Getting all this right also brought to my attention work needed in instance-json-from-document, similar to the bug in #207

[2017-08-09 23:26] grechaw commented on #298
This is in progress now, I've modified some of my test cases to include hyphens so as to cover this change in units.

[2017-08-10 18:45] bsrikan commented on #330
Verified in functional tests. Shipping the issue.

[2017-08-10 18:49] grechaw commented on #326
@bsrikan has a functional test that verifies this issue.

[2017-08-10 20:30] bsrikan commented on #323
Verified the fix. Shipping the issue.

[2017-08-10 20:34] bsrikan commented on #122
Task completed. Added tests are running fine. Shipping the task

[2017-08-10 20:35] bsrikan commented on #308
Task complete. Added tests are running fine. Shipping the task.

[2017-08-10 20:35] bsrikan commented on #309
Task complete. Added tests are running fine. Shipping the task.

[2017-08-10 20:38] bsrikan commented on #316
Task complete. Added tests are running fine. Shipping the task.

[2017-08-10 20:50] bsrikan opened #334 "Update/add e2e test for 9.0-3"
This task is to track e2e updates and new test queries that has to be added for enhancements in 9.0-3.

Subscribing @grechaw

[2017-08-10 21:38] grechaw commented on #313
I've got this change ready to go in the svn checkout for b9 and head.  Here's the patch:

[code]

[2017-08-10 21:39] grechaw commented on #313
@bsrikan can you take a look at this issue and see that you think it's acceptable before I check it in?  I've got the change for b9 and trunk ready to commit.

[2017-08-10 22:07] grechaw commented on #326
OK I've identified where this bug is.  Tricky.  It occurs because of the method I used to group schemas by namespace.  The model is processed by entity type, and then grouped by namespace, and my duplicate detection is now written at the wrong level.
The grouping for duplicate detection must be at the namespace level, not the type level

[2017-08-10 23:35] grechaw commented on #326
Hi @bsrikan I fixed this issue in PR.  The functional tests still need some work though -- as schema-generate now creates one schema per namespace, you need test mods to load all the generated schemas rather than just one.  I found this tricky enough that I just did it 'manually' for the one type i introduced with multiple namespaces.

[2017-08-10 23:35] grechaw commented on #313
I checked in the change to svn, and a test had to be adjusted because of it.  That test is in the bugfixes PR now.

[2017-08-10 23:52] bsrikan commented on #313
I will get to it later today. Finishing up on some 8.0-7 tasks.

[2017-08-11 00:28] bsrikan commented on #298
Is this change applicable only to column names? I have a test testExtractionTemplatesRequired() where <schema-name> having "-" was also changed to underscore. Is this expeted?

[2017-08-11 15:56] grechaw commented on #298
Indeed, schema, view, and column names all have this issue.
Needs to be explicit in the docs too, I'll check

[2017-08-11 16:18] kcoleman-marklogic commented on #298
Bit too soon to check the docs since they haven't been changed since 9.0-1. :)

But, yes, it needs to be explicitly called out. Along with removing the stricture against hyphens that is currently in there.

[2017-08-11 16:32] grechaw commented on #298
Since this was treated as a bugfix for the original design, I updated entity-services.md spec with the following note:

[code]

I've antipathy against removing the stricture.   Mapping are not great -- they are harder to understand and maintain.  Avoiding hyphens would avoid ever getting into an issue where you have to know two different forms of a name for, say, Optic queries and cts:search

[2017-08-11 16:39] kcoleman-marklogic commented on #298
I agree that it is not a good idea and we should advise against it. However, I think that's different from something like this, which is what we say now:

That's just plain not true now.

[2017-08-11 16:58] grechaw commented on #298
Got it

[2017-08-11 18:15] bsrikan commented on #328
Fix is required to instance-from-doccument(), instance-get-attachments() and instance-xml-from-document() as well like you did for instance-json-from-document().

All these return empty sequence when used with instance-to-json-envelope()

[2017-08-11 19:04] grechaw commented on #328
OK.  I'll make a bug for this.

[2017-08-11 19:04] grechaw commented on #328
Oh, you just put back to 'fix'.  That's fine, I'll work on this issue to resolve.

[2017-08-14 17:55] grechaw opened #335 "instance-xml-from document not working with JSON envelopes"
In working on #328 we found that we need new instance handling for JSON envelopes.

This task tracks making unit tests and fixes for each of the instance-X-from-document functions and every envelope type.

[2017-08-14 18:14] bsrikan commented on #328
335 is created now to address json-envelope changes to instance-from-doccument(), instance-get-attachments() and instance-xml-from-document().
Added a functional test to verify this bug and rune2eNwind also runs fine now. Shipping this issue.

[2017-08-14 18:18] bsrikan commented on #298
Issue is fixed now. Added a test that verifies the fix.
Assigning to Kim to make documentation changes.

[2017-08-14 18:19] bsrikan commented on #334
Working on granular privileges test most of this week. Will get to e2e the week after.

[2017-08-15 20:31] grechaw commented on #329
Proposed solution -- emit a comment rather than an empty comment

[code]

[2017-08-15 21:15] grechaw commented on #335
I've got instance-xml-from-document working with JSON envelopes.  One minor issue I ran into is that, since JSON envelopes ignore the namespace property, the XML one gets out of JSON envelopes is returned in no namespace.

I think this is OK -- the alternate would be to encode namespaces in JSON documents somehow, which we already decided not to do.

[2017-08-15 21:21] bsrikan commented on #329
I think there is a comment, its not empty. We currently say "This column joins to property <> of Order" where <> is the primary key followed by empty tags. Your proposal is that we replace all of it with the warning comment alone. Fine with me.

[2017-08-15 21:28] grechaw commented on #329
Right, currently there's a comment, but it makes no sense and has invalid stuff after it.  My fix replaces comment and garbage with the comment above.

[2017-08-16 22:25] grechaw opened #337 "create blacklist of prefixes for new namespace-prefix property"
In 9.0-3, there are no restrictions on the prefixes that developers choose for entity models.

The spec mentions "es", but there are others to avoid, and validation should alert about use of:

"es", "xs", "xml", "xsi", "xsd", "json"

[2017-08-16 22:32] grechaw opened #338 "Change functions {type}:instance-to-canonical($instance) arguments"
In WG review, we decided to change how to express the API for instance and envelope creation.

This issue is to track updates to spec and to implementation and tests.

instead of

[code]

We introduce a two-argument version of {$type}:instance-to-canonical($instance, $envelope-format)

If the second argument is "json" then a JSON canonical instance is returned.  If it's "xml" then the XML version

[2017-08-17 18:36] grechaw commented on #338
This was not a difficult change to do.  I've got it working locally and will prepare a PR this afternoon.

[2017-08-18 17:53] grechaw commented on #304
I'm finally addressing these today

[2017-08-21 16:58] grechaw commented on #314
I verified that XPath expressions work for single-level entities.  I'm now reviewing the examples and will see how they work for multi-level TDE.

[2017-08-22 19:53] grechaw commented on #314
I have found one thing I'd like to fix -- the TDE templates now find the instance context with namespace -- but JSON envelopes have none.  So I need  a TDE which will patch both template types.

[2017-08-22 19:56] grechaw commented on #305
I see what this is -- the examples have their own gradlew script inside the subdirectory.  Relative directory matters when loading configs, so the examples only work with that gradle wrapper, from the examples directory.

The README shows how to run them from there.  I think your config will be correct and the error gone when you retry from within the examples dir.

[2017-08-22 22:45] jmakeig commented on #266
“weak” entities (so it matches next time I search)

[2017-08-24 02:12] bsrikan commented on #326
@grechaw I get XDMP-VALIDATEUNEXPECTED error after I load all the generated schemas per namespaces. Can you please look into it.
Attached zip has all the xsd files required to reproduce the issue. You can have all of them in the schemas database at once.
[Namespace-schemas.zip](https://github.com/marklogic/entity-services/files/1247524/Namespace-schemas.zip)
I have 4 instances for model valid-1-na

[2017-08-24 02:18] bsrikan commented on #326
Model descriptor can be found in functionaltests/src/test/resources/xml-entity-types/
valid-1-namespace.xml and valid-2-namespace.xml and you can probably replace
`doc('valid-1-namespace-0.xml')` with
`es:model-get-test-instances( es:model-from-xml( fn:doc('valid-1-namespace.xml')))[1]` and so on

[2017-08-24 16:47] grechaw commented on #326
Thanks @bsrikan I'll look into it

[2017-08-24 18:19] grechaw commented on #326
These two have the same issue:

[code]

As expected, a schema can not be used if the same element name is used for two separate purposes.  In valid-1-namespace, ProductID can refer to the ID of a product, or it can refer to the Product of an OrderDetail.  In the first case we expect an integer, in the second case an embedded or pointer to a Product.

The schema emits the proper comment that flags

[2017-08-24 18:33] grechaw commented on #326
The other issue is similar. In each case, there names commented out that need to be there in order to work.
One case does seem fixable.  There is one case where an element name is commented out because it has a duplicate, but only a local name duplicate in a separate schema, so both element names could persist.
I'll see what I can do about this issue.

[2017-08-24 18:38] grechaw commented on #326
That wasn't so hard.  It's still an error (and a tricky one) to solve cases like #1, where you really have two properties that mean two different things.

However, I've put in a fix which only wraps duplicates in comments if the duplicate is within the same namespace.

[2017-08-24 18:46] grechaw commented on #326
OK this latest commit removes a couple of your 'not working' cases.
I don't have the models ending in -ord or -super so did not persue those.
The issues you have with duplicate names within one namespace should be failures -- there are comments in the schema to explain what's going on.

[2017-08-25 00:02] bsrikan commented on #326
While retesting for the fix, I came to know that for generated schema to work or validate as expected we need to remember this:
`schema-gen() generates different xsd per namespace but needs all the xsd that are from one model in the schemas db`
It is better not to have just one xsd in schemas DB, generated from a model having namespace, but all the xsd(s) that such a model generates to avoid error

[2017-08-25 06:01] bsrikan commented on #335
We are still missing es:instance-get-attachments() for json envelopes I had mentioned in 328 as a comment.

`es:instance-get-attachments(ext:instance-to-envelope(ext:extract-instance-Superstore( doc('namespaceSrc.xml')),"xml"))` works but
`es:instance-get-attachments(ext:instance-to-envelope(ext:extract-instance-Superstore( doc('namespaceSrc.xml')),"json"))` doesnt

[2017-08-25 07:58] bsrikan commented on #304
Verified. Shipping the issue.

[2017-08-25 07:58] bsrikan commented on #329
Verified. Shipping the issue.

[2017-08-25 07:59] bsrikan commented on #338
Verified. Shipping the issue.

[2017-08-25 08:00] bsrikan commented on #326
Verified the issue. Passing over to Kim for documentation as mentioned in my comment above.

[2017-08-25 08:01] bsrikan commented on #314
Verified in tests. Will ship this bug after adding e2e test for this issue.

[2017-08-25 17:44] grechaw commented on #335
ok i was able to repro with a test.  my bad.

[2017-08-25 17:58] grechaw commented on #335
OK we're in good shape here with a test and a fix.  back to you

[2017-08-25 20:33] bsrikan commented on #334
Updated all the artefacts in e2e with the latest code.
mldeploy gives an error as so @grechaw :

[code]

[2017-08-29 18:37] grechaw opened #339 "Update examples with new codegen"
The examples which changed in 9.0-3 have been updated with newly generated artifacts.

However, there are examples with no feature-level updates.  These too should have new code generation, even though functionality will not be changed.

[2017-08-29 18:53] grechaw opened #340 "Investigate use of map:put($namespace) in init-intance"
@kcoleman-marklogic has noticed that namespace information is added to an instance in two places, both in es:init-instance and in extract-instance-X.

The first place gets namespace information from scraping the source document.
In the second its asserted from the model.  The first situation seems wrong to me -- without namespaces information in the model, canonical instances should be written to

[2017-08-29 21:17] grechaw opened #341 "Configured namespaces not found in TDE templates"
It appears that namespace and namespace prefixes, when configured on a type, are not getting implemented with TDE templates.

I suspect that I did this work in a branch that was never merged in, as it's a surprising gap.

In TDE, both path namespaces and all XPaths needs to be in the right namespace

[2017-08-29 21:53] bsrikan opened #342 "database-properties-generate() is not generating all path-namespaces from model in e2e"
Model valid-ref.json in e2e has 2 namespaces with prefix 'cust' and 'ord' but only one is generated in database-properties-generate()

[code]

[2017-08-29 21:57] bsrikan opened #343 "search-options() is not generated for element-range-index"
Used model valid-ref.json in e2e to generate search options. On deploy got below validate error:

`XDMP-VALIDATEMISSINGATTR: (err:XQDY0027) validate strict { es:search-options-generate(fn:doc("valid-ref.json")) } -- Missing required attribute: Found () but required (@name & @ns?) at /*:options/*:constraint[6]/*:range/*:element using schema "search.xsd"`

The search:constraint block looks like this

[2017-08-30 17:24] grechaw commented on #343
What's odd about this bug is that I have a test case, which looks like this one, that works.  Something fishy going on...

[2017-08-30 17:30] grechaw commented on #343
Ah, no, i do have a gap in my unit tests.  I tested element range index with a namespace, but not without.

[2017-08-30 17:39] grechaw commented on #343
OK, test and fix implemented. will push to new PR and then supplement with more fixes.

[2017-08-30 18:05] grechaw commented on #342
I think your working copy of valid-ref-2 is not on github yet?  I'd like to examine it, as it seemed like other similar model descriptors were working OK.

[2017-08-30 19:04] grechaw commented on #341
Started work on this issue, but I'm slightly mired down.  I need to make some assertions for a simpler namespaced model, then tackle SchemaCompleteEntityType for a more complex look.

[2017-08-30 20:41] bsrikan commented on #342
Attached those models herewith.
[e2e_ns_Models.zip](https://github.com/marklogic/entity-services/files/1265026/e2e_ns_Models.zip)

[2017-08-30 21:46] grechaw commented on #342
thanks ill check them out.

[2017-08-30 22:04] grechaw commented on #342
OK -- not a bug.

I found where in the code I am neglecting to include path range indexes for namespaces.   Turns out behavior is correct.

If there are element range indexes, then the namespace information is included right in the element-range-index block.  It doesn't need an entry in path-namespaces to resolve it.

So for those types with element-range-index, but not a path-index, there will be

[2017-08-31 16:07] #276 closed

[2017-08-31 16:55] grechaw commented on #341
All tests now passing, will add fix and tests to PR.

[2017-09-01 23:08] grechaw commented on #339
I've created one commit that fixes issues with example-person related to namespaces and TDE.  Also moved things around a little bit to align with ml-gradle.

[2017-09-02 00:02] grechaw commented on #339
updating races example is somewhat laborious, but I've made some progress this afternoon.

[2017-09-02 05:05] bsrikan commented on #335
Test added. Functional tests looking good. Shipping the bug.

[2017-09-02 05:31] bsrikan commented on #343
Get following error on e2e mldeploy. Attaching models for e2e:
[e2e_ns_Models.zip](https://github.com/marklogic/entity-services/files/1271924/e2e_ns_Models.zip)

[code]

[2017-09-04 14:00] bsrikan commented on #313
When validating instance-to-envelope() got following error:

`XDMP-VALIDATEUNEXPECTED: (err:XQDY0027) validate strict { nwind:instance-to-envelope($superstore-e) } -- Invalid node: Found text{"{"RowID":"1944", "Or..."} but expected (any(skip,!())*) at fn:doc("")/es:envelope/es:attachments/text() using schema "entity-type.xsd"
`

QUERY:

[code]

[2017-09-04 14:53] bsrikan commented on #334
Above mentioned issue is now fixed. Created a PR with updates to e2e with 9.0-3 enhancements.
validation of superstore envelope against entity-type.xsd gave an error and so did deploying generated search options with namespace in it. Both the issues #313 and #343 assigned to Charles for further analysis.

[2017-09-05 17:17] kcoleman-marklogic opened #345 "syntax err in translator gen for a removed property"
The following example drops a property ("rating") between the source and target versions of a model. When you generate a version translator, the commented out line for the dropped property is missing a comma between the parameters of es:init-instance. Not a big deal since it is commented out (and probably not very likely to be uncommented), but it seems untidy of us.

This code is what we generate

[2017-09-05 17:21] kcoleman-marklogic commented on #345
Actually, the more I think about this, the weirder it is. There's no declaration for `$rating`, either. Is the syntax error just supposed to be our way of saying "I have no idea wtf to do here. Fix me."

Might it be better to just leave it out entirely?

[2017-09-05 18:32] bsrikan commented on #342
Agree with dev comments. Shipping the issue as not a bug.

[2017-09-05 20:06] bsrikan commented on #343
Please note that the model zip attached here is the one with namespaces. What we have now checked in e2e is the original model from 9.0-1 so mldeploy of e2e works.
I wanted to have separate e2e tests for namespace. So if you generate artifacts with attached model and deploy you will see the error in the comment above.

[2017-09-05 20:25] grechaw commented on #343
how do you go about generating them?

[2017-09-05 20:26] grechaw commented on #343
do you sore the models anywhere in the source tree?
I'm finding that mlGenerateCode works great.

[2017-09-05 20:27] grechaw commented on #343
Ah, i think you use the gradle task i made, duh

[2017-09-05 21:04] grechaw commented on #313
It looks like the definition of es:attachments does not allow for text as it should. Probably I simply need to add a 'mixed' attribute to this element definition.

[2017-09-06 17:19] grechaw commented on #345
hm, yes, looks like it needs a little reworking doesn't it.  I think it should be doable to get this right.  Not sure how I could have good coverage and have missed this, so I'll figure out what's up.

[2017-09-06 17:22] grechaw commented on #313
sending reviewed patch to mr triage.

[2017-09-06 19:05] jmakeig opened #346 "Repated double properties for nested entities"
An entity with a sub-entity of type "person" where that sub-entity is also called "person" results in a duplicate name in the XML like:

[code]

The extra level of indirection is particularly odd (and appears to users to be a bug) when the reference and the sub-entity have the same name, resulting in an element being doubled.

[2017-09-06 19:06] jmakeig commented on #346
From [RFE4043](http://rfetrack.marklogic.com/detail/4043).

[2017-09-06 22:10] grechaw commented on #346
Entities have properties, and the type of a property can be an entity.

This example doesn't follow that convention.  It's a different way of grouping documents, more like XML modeling.

So what is the action one might take for this issue?  It's not a bug, just a statement.

The convention of entity types being Uppercase and property names being lowerCase helps to distinguish among them

[2017-09-07 04:35] bsrikan commented on #343
So I was able to deploy the new sub project I made with models having namespaces in them. Didnt get the error I reported in comment earlier. Must be a carriage return somewhere as you suspected @grechaw. Shipping this issue.

[2017-09-07 15:50] jmakeig commented on #346
I’m not sure I understand the original issue or your analysis, @grechaw. @damonfeldman can you please weigh in?

[2017-09-07 15:57] grechaw commented on #346
Let me put it this way-- what model created this envelope?  As is, entity services cannot make it.  The original issue Michael Doane came up with had a notion of an entity ( ~element) which contains other entities.  Containment or 'sub-entities' is not something that entity services does at this time.

[2017-09-07 16:04] damonfeldman commented on #346
This may be data from an augmentation in the data hub framework. Perhaps @paxtonhare  can weigh in. I would say this is an RFE around having ES specify documents with a particular structure. If I understand correctly, a feature for nested entities is planned already?

[2017-09-07 19:22] grechaw commented on #345
Turned out to be pretty simple -- just an off-by-one in a function to assist with padding.

[2017-09-07 19:23] grechaw commented on #345
Also, I am letting the 'let' expression through now for those properties which have been removed, so $rating is a legit variable in your example above.

[2017-09-08 20:34] grechaw commented on #287
I've started work on an ELS-integration recipe and will be looping back with @cvbmilani and @jmakeig about it next week.

[2017-09-12 15:02] bsrikan commented on #313
Able to deploy e2e just fine now. mixed attribute for attachments seems to work. Shipping the issue.

[2017-09-12 15:07] bsrikan commented on #334
Able to deploy e2e now and both 313 and 343 have been shipped. Made significant progress in e2e.
Generated a new project to test models with namespace as part of 9.0-3 enhancements. Generated new artifacts updated both e2e-nwind and e2e-namespace project. e2e-nwind is already checked in with latest artefacts.

Verified that extract-instance, canonical data and envelopes work fine in the namespace

[2017-09-12 15:10] bsrikan commented on #345
Seems fixed. Updated keys in functional tests. Will ship once merged to b9_0/develop

[2017-09-12 15:15] bsrikan commented on #339
Updated PR #347 yesterday with issues encountered in person and races example. Some more fix required to this issue. Sending back.

[2017-09-13 23:15] grechaw commented on #340
I investigated the two places where namespace information is added.
The use of namespaces in init-instance is currently required for resolving references.  But my hunch remains -- this does not look like the right source for namespace information, but rather might point to having fixed the 'issue' in the wrong place.

[2017-09-14 00:04] grechaw commented on #340
I now consider this a more serious issue, which would be great to get fixed.  It's an edge case, but if I address it then the 9.0-3 support for namespaces will be better.  I'm closing in on a good fix but it's a slight API change, so I need to make sure that we're OK with it all around.

The issue is that the method for getting namespace info in init-instance is faulty.  It works for the happy-pat

[2017-09-14 17:39] grechaw commented on #340
OK, I've got a fix.  It doesn't look as disruptive as I expected.  I think it's important to go in and I'll circulate for review.

[2017-09-14 19:39] bsrikan commented on #345
Test run ok in regression. Good to ship from my side. Passing to you Kim for validation.

[2017-09-14 21:54] grechaw commented on #340
In PR, assigning to you @bsrikan .

[2017-09-15 17:44] grechaw commented on #339
Probably this is OK to ship now.

[2017-09-15 17:45] bsrikan commented on #339
Yes it is. Shipping it now.

[2017-09-15 17:47] bsrikan commented on #341
Shipping the issue as the tests are running ok in regression. Configured namespaces are now available in the generated TDE.

[2017-09-15 18:21] bsrikan commented on #340
Functional tests have been updated thanks to @grechaw, to reflect latest code change for use of namespaces in init-instance. All green. OK to ship.

[2017-09-18 15:23] kcoleman-marklogic commented on #326
@bsrikan Does this cover your concern:

[2017-09-18 15:49] kcoleman-marklogic commented on #298
Documentation updated.

[2017-09-18 17:23] bsrikan commented on #326
Install all of the generated schemas in the `schemas` database, and we are good @kcoleman-marklogic .

[2017-09-18 20:45] bsrikan opened #349 "Version translator code has an improper closing braces in a commented out code"
For scenarios similar to an entity type in source but not in target model, the commented out code has a closing brace } instead of bracket )

Example:
   ` =>map:with("$type", "ShipDetails" }
`
should be
    `=>map:with("$type", "ShipDetails" )`

[2017-09-18 22:15] kcoleman-marklogic commented on #326
Oops, thanks.

[2017-09-19 06:28] bsrikan commented on #334
Checked in e2e-nwind updates in a PR. Have another set of checkins ready for namespaces. Facing some concerns with translate and upconverts. Will discuss with Charles tomorrow and resolve.  It could either be issue which has to be triaged or an expected behavior. Whatever the conclusion, post discussion I will be able to checkin my changes for namespace e2e test tomorrow and ship this task.

[2017-09-19 14:06] kcoleman-marklogic commented on #345
Looks OK to me, too.

[2017-09-19 16:31] grechaw commented on #349
Given this is in comments, it doesn't seem unreasonable to expect it go get into the release.

[2017-09-19 17:12] bsrikan opened #351 "Syntax error in version translate for property that is an internal reference"
For a property say "hasCustomerID" that is an internal ref in model2, version translator produces a syntax error on deploying the artifact.

Model1:
[code]

Model2:
[code]

Code in version translator that produces syntax err:
[code]

expected:
`let $hasCustomerID := $source-node/hasCustomerID ! $extract-reference-Customer(.)`

[2017-09-19 17:14] bsrikan opened #352 "Version translator is missing a scenario for namespaces"
When working with upconverts I saw that a query like
`new:instance-to-envelope(t:convert-instance-X(doc(‘envelope-from-model1’))) `
doesn’t preserve namespace present in model2.
It will be good to have a logic for version translate when it comes to scenario like source has namespace, target doesn’t and vice versa.

[2017-09-19 17:14] grechaw commented on #351
I'm in this code right now fixing issue #349 so I'll try to get it snuck in at this late stage.  Not good to ship a syntax error.

[2017-09-19 17:23] grechaw commented on #351
I see now why I hit this error.  the partial function is not composable with the es:with-namespace expression in the way I would have expected.  interesting.  I need to look more closely at your expected value though...

[2017-09-19 17:31] bsrikan commented on #351
Ok. I mentioned it so, since that version worked for me. But you are right, please check for other scenarios too.

[2017-09-19 17:49] grechaw commented on #349
This will be in a PR with #351 in a minute or two.

[2017-09-19 17:51] grechaw commented on #351
This particular property is hitting the 'reference from scalar' logic.  The expected value needs to be its own function, which could go in a variable or inline.  Here's the inline version:

[code]

[2017-09-20 00:15] bsrikan commented on #351
Test in e2e verified this bug and is working as expected. Shipping.

[2017-09-20 00:16] bsrikan commented on #349
Test in e2e and functional tests verified this bug and is working as expected. Shipping.

[2017-09-20 00:17] bsrikan commented on #314
Test in e2e verified this bug and is working as expected. I indeed had to add a "../" to work with json envelopes for embedded instances. Shipping.

[2017-09-20 00:18] bsrikan commented on #334
With PR #350 all planned e2e tests are in. This task is good to ship.

[2017-09-20 00:20] bsrikan commented on #305
All example tests running fine. Missed this bug as it wasnt labelled Test. But this is all good to ship now.

[2017-09-20 22:58] kcoleman-marklogic commented on #301
Apidoc for these functions has already been added. You can find them pubs, under the "Helper Functions" subcat of the ES apidoc. Charles has reviewed them, so I think we close this task out.

[2017-09-22 21:37] #309 closed

[2017-09-22 21:37] #313 closed

[2017-09-22 21:37] #314 closed

[2017-09-22 21:37] #316 closed

[2017-09-22 21:37] #317 closed

[2017-09-22 21:37] #318 closed

[2017-09-22 21:37] #319 closed

[2017-09-22 21:37] #321 closed

[2017-09-22 21:37] #323 closed

[2017-09-22 21:37] #325 closed

[2017-09-22 21:37] #326 closed

[2017-09-22 21:37] #328 closed

[2017-09-22 21:37] #329 closed

[2017-09-22 21:37] #330 closed

[2017-09-22 21:37] #334 closed

[2017-09-22 21:37] #335 closed

[2017-09-22 21:37] #338 closed

[2017-09-22 21:37] #339 closed

[2017-09-22 21:37] #340 closed

[2017-09-22 21:37] #341 closed

[2017-09-22 21:37] #342 closed

[2017-09-22 21:37] #343 closed

[2017-09-22 21:37] #345 closed

[2017-09-22 21:37] #349 closed

[2017-09-22 21:37] #351 closed

[2017-09-22 21:38] #52 closed

[2017-09-22 21:38] #68 closed

[2017-09-22 21:38] #87 closed

[2017-09-22 21:38] #121 closed

[2017-09-22 21:38] #122 closed

[2017-09-22 21:38] #134 closed

[2017-09-22 21:38] #198 closed

[2017-09-22 21:38] #201 closed

[2017-09-22 21:38] #217 closed

[2017-09-22 21:38] #218 closed

[2017-09-22 21:38] #230 closed

[2017-09-22 21:38] #232 closed

[2017-09-22 21:38] #256 closed

[2017-09-22 21:38] #297 closed

[2017-09-22 21:38] #298 closed

[2017-09-22 21:38] #301 closed

[2017-09-22 21:38] #303 closed

[2017-09-22 21:38] #304 closed

[2017-09-22 21:38] #305 closed

[2017-09-22 21:38] #308 closed

[2017-09-22 21:39] #278 closed

[2017-09-22 21:39] #288 closed

[2017-09-22 21:39] #291 closed

[2017-09-22 22:35] jmakeig commented on #346
Yes, #266 describes sub-entities. We should also think about serialization strategies, such as which (and how) to denormalize related entities (or even sub-entities) or how to handle elements vs. attributes, one-to-many (e.g. pluralized parent element in XML, `Array` wrappers on single items in JSON, etc.). What else?

I don’t want to give too much artistic license on serialization. If done correc

[2017-10-02 21:38] jmakeig commented on #206
Reassess using an AST-based design to abstract from specific language and lend itself better to tooling, for example for schema mapping.

[2017-10-02 21:41] grechaw commented on #320
* namespace-uri must be a URI
* prefixes must be unique per namespace-uri

[2017-10-17 23:09] grechaw commented on #337
I have implemented this task and updated the specification.   I'll edit the issue to match implementation.

[2017-10-19 22:47] bsrikan opened #355 "A model with duplicate namespace URI but unique prefix should throw an error"
Run model-validate() on an xml/json model with duplicate namespace URI but unique prefix.
This should throw an error. Current implementation wont it seems apparently.

Issue created from test case(107) review of 9.0-4 test plan.

[2017-10-19 23:12] grechaw commented on #355
well, that was quick.

[2017-10-20 21:39] bsrikan commented on #355
Now we get an error, but the logic has false positives and false negatives as commented in #354 .
Will ship once that is fixed.

[2017-10-20 21:40] bsrikan commented on #337
Tested and have tests ready for checkin. There is an open issue discussed in #354. My tests will be in PR once that is taken care of.

[2017-10-20 21:43] bsrikan commented on #320
Verified. Tests will be checked-in after review comments in PR #354 incorporated.

[2017-10-20 21:46] bsrikan commented on #352
@grechaw today is functional complete day for 9.0-4. Will this be available for test today or latest by Monday. Please let me know.

[2017-10-20 22:06] grechaw commented on #352
I won't be able to deliver by today, no.   Monday is a bit of a stretch given how full it is down at San Carlos, but I will focus some hours on it this weekend and let you know how it goes.

[2017-10-25 21:39] bsrikan commented on #355
Added test that verifies this fix. Good to ship.

[2017-10-25 21:40] bsrikan commented on #337
Test added for this enhancement. Will ship after few runs in regression.

[2017-10-25 21:40] bsrikan commented on #320
Test added for this enhancement. Will ship after few runs in regression.

[2017-10-26 18:22] grechaw commented on #287
back on track getting Justin's feedback incorporated.

[2017-10-26 20:38] grechaw commented on #287
I'll have a working example and PR today I think.

[2017-10-27 19:03] grechaw commented on #287
sending to @bsrikan pending review.  In a new PR today.

[2017-10-31 18:32] bsrikan commented on #355
Test running ok. Shipping the issue.

[2017-10-31 18:32] bsrikan commented on #337
Test running ok. Shipping the issue.

[2017-10-31 18:33] bsrikan commented on #320
Test running ok. Shipping the issue.

[2017-10-31 18:33] bsrikan commented on #352
Working on e2e updates for this bug. Will have a PR in a day or 2.

[2017-10-31 20:47] bsrikan commented on #352
I have three scenarios to test this with:

Case1: source has no namespace; target has namespace for that ET
Case2: source has an ET with namespace; target doesnt have namespace for that ET
Case3: source has an ET with namespace; target has a new namespace for that ET

What should the convert instance look like for each of the three.
For Case1, convert-instance() has es:with-namespace() as expected

[2017-11-01 16:02] grechaw commented on #352
OK, I'll make sure this info gets into the spec.  It didn't feel like I came up with a lot of questions in my implementation, so I think it's all pretty straightforward.

[2017-11-01 17:05] jmakeig commented on #287
Is there a PR where I can provide feedback? The two above are from September.

[2017-11-01 17:12] grechaw commented on #287
Hi Justin, it just looks that way because I merged new work into an old commit and did a git push -f.

Probably something to avoid in the future.

Charles Greer
Lead Engineer
MarkLogic Corporation
cgreer@marklogic.com
Cell:  +1 707 318 0442
@grechaw
www.marklogic.com

________________________________
From: Justin Makeig <notifications@github.com>
Sent: Wednesday, November 1, 2017 10:05:40 AM
To: m

[2017-11-01 17:29] jmakeig commented on #287
Everyone’s staring at me because I literally laughed out loud. Yes, please do not force push on shared branches.

Is there a commit(s) I can look at then? I’d like to better understand the approach, especially to guide our future plans with entity models as the place to hang policy.

[2017-11-01 17:40] grechaw commented on #287
git push -f on a PR is perfectly appropriate, IMO

the commit is good to look at, it's the timestamp that is misleading.

[2017-11-01 17:49] jmakeig commented on #287
Agreed 100%. I thought you were talking about something that had already been merged.

[2017-11-01 17:50] bsrikan commented on #352
Got clarified after discussing with Charles that XPath expressions in the let statements of convert-instance() block will have namespace of source model. Hence it is expected.

I have updated my tests and they work fine.

[2017-11-02 17:21] grechaw commented on #287
It occurred to me that @cvbmilani might want an explicit link to the branch too.

https://github.com/grechaw/entity-services/tree/els-recipe/entity-services-examples/example-els

I'll have some more edits, would like to know whether the example is something like you had in mind Ciao

[2017-11-02 18:25] bsrikan commented on #352
Tests running OK in regression. Shipping the issue.

[2017-11-02 18:58] grechaw commented on #287
In addition to good feedback for README, @bsrikan noted I don't demonstrate query rolesets here.

Now that I know what they are I will add to the example.

[2017-11-03 17:16] grechaw commented on #287
In addition to good feedback for README, @bsrikan noted I don't demonstrate query rolesets here.

Now that I know what they are I will add to the example.

As it stands, what's protected is *seeing* the path.  However, without an extra step, queries across the board cannot see the values from the protected path.  One must add query rolesets to the configuration in order for a privileged user to be

[2017-11-07 17:05] grechaw commented on #287
I've added query rulesets to the example.
I should say that the experience of adding ELS configuration was low-level and straightforward, but it still took me quite some time and effort to do it.  We could really improve tooling and data management for this feature significantly.

[2017-11-07 17:06] grechaw commented on #287
@bsrikan , I've added query rolesets to the example.   Back to you for verification.

[2017-11-07 21:28] bsrikan commented on #287
Verified and this looks good. Searching for the pii after adding query rolesets works for users having privilege to read the pii.

@grechaw
Should I pass this issue to @cvbmilani for verification or ship it?

[2017-11-09 19:46] bsrikan commented on #287
Shipping the issue.

[2017-11-09 19:56] grechaw commented on #287
Thanks @bsrikan ! I think that's a wrap for 9.0-4

[2017-11-14 21:01] paxtonhare opened #359 "Additional Query won't grab json Entities"
The search-options generated by `search-options-generate` has `es:` namespaces in the path. That will not allow it to work with JSON entity instances.

Can we get this changed to support both?

current output for my particular entity:

[code]

[2017-11-14 23:04] grechaw commented on #359
Yes, this is a bug.  I missed the change in 9.0-3 work.  I also ran into it the issue recently, annoying.  Of course the short term workaround is to edit the options.  If you generate a TDE template, you'll see the approach I took to address namespaces -- do you think something here would be similarly appropriate?

[2017-12-08 17:32] grechaw opened #360 "Migrate entity services model to OpenAPI 3.0"
Entity Services's vocabulary is derived from Swagger 2.0, which has morphed into OpenAPI.

The Open API 3.0 specification, in addition to having some improvements, also supports many more types, which was the main need we had for ES.  If we upgrade, we stand a change to form a better foundation for many of our initiatives.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md

[2017-12-12 22:25] grechaw opened #361 "Replace race example data with new generated data"
Remove data from the race example and create new data based on some algorithm or by authoring something ourselves.

[2017-12-19 22:20] cvbmilani opened #362 "ELS example: extract two version of ssn with rdt.redact to mask real-time"
A constant ask is: Can a mask real time? The answer is to use Entity Services to create two version(Full, Masked) of the ssn and use two paths to protect the Full SSN and the Masked SSN. Hence a call center operator only sees Masked, while HR sees Full. Better yet, to use rdt.redact on the extraction to masked the ssn.

[2017-12-21 17:11] grechaw commented on #293
@kcoleman-marklogic this issue is probably not on your radar at all as it's hidden over here in github.  Do you want to update it?  It's set for 9.0-2, which is why I'm asking.

[2017-12-21 17:17] grechaw commented on #199
@kcoleman-marklogic here's another issue that maybe can be dispensed with.  I think we addressed.

[2017-12-21 17:19] #287 closed

[2017-12-21 17:19] #320 closed

[2017-12-21 17:19] #337 closed

[2017-12-21 17:19] #352 closed

[2017-12-21 17:19] #355 closed

[2017-12-21 17:22] kcoleman-marklogic commented on #199
I think I took care of most of this for 9.0-3, but let me dig up the bugtrack version of this and see.

[2017-12-21 17:28] kcoleman-marklogic commented on #293
I think I took care of most of this for 9.0-3 (or maybe it was 9.0-2, IDK). You're right, though: It never made it's way into bugtrack (yay, integration fail), so wasn't on my radar. Will review for 9.0-4 and update this issue appropriately.

[2017-12-21 17:56] #293 closed

[2017-12-21 19:20] kcoleman-marklogic commented on #199
I would not say we addressed it. AFAICT, the only thing that's been addressed is the bit about running the examples from the parent dir. I think everything I said in the original description still applies.

However, I can't claim this is a priority for me right now, either. I'm going to change the milestone. If you'd rather just close it, that is fine, too.

[2018-01-31 19:55] sparnell commented on #346
If I'm following this discussion correctly, it seems that the position is that there's no way to express an entity with a sub-entity property that doesn't result in the extra level of markup when serialized to XML. If that's correct, then I'll second Justin's original comment that this is seen as a bug by users. In fact, I'm commenting on this because I was asked by a customer's developer to file

[2018-02-01 16:48] grechaw opened #364 "instance-json-from-document returns arrays incorrectly"
In the marklogic-data-hub project, @joecrean reports an issue with an entity services function.  See

http://github.com/marklogic-community/marklogic-data-hub/issues/708

[2018-02-13 18:28] grechaw commented on #359
Since this was brought to my attention, ill get on having a fix in 9.05

[2018-02-14 03:25] paxtonhare commented on #359
Looks good to me.

On Tue, Feb 13, 2018 at 2:38 PM, Charles Greer <notifications@github.com>
wrote:

[2018-02-14 18:29] grechaw commented on #359
So this fix is in develop now, assigned to @bsrikan to ensure testing coverage (which in this case is not too critical i think...)

[2018-02-14 21:44] grechaw commented on #362
Seems like a straightforward enhancement.  Probably this issue should be part of the DHF++ backlog, as that's where coordinated effort on entity-services and the data hub go.

[2018-02-23 21:45] grechaw commented on #364
Started to take a look at this.    @joecrean has a proposed fix.  Analyzing why my existing tests did not surface this problem.

[2018-02-23 22:05] grechaw commented on #364
My test cases did not have scalar values in arrays, only objects.  I'll make a new test case to cover this bug.

[2018-02-23 22:33] grechaw commented on #364
Hi @joecrean I actually could not reproduce this issue, and I'm wondering what might be the same and different about your test data, or maybe if I fixed it in some other way earlier.  Can you forward me the XML envelope that is giving you the bad return for instance-json-from-document()?

[2018-02-26 08:48] joecrean commented on #364
Hi @grechaw , i am soo sorry , I completely overlooked your original request for some details.  Here is a reduced/redacted test case.

[code]

[2018-02-26 09:54] joecrean commented on #364
hi @grechaw
just wanted to speak to your point about the use of a scalar array. Initially i created an entity definition with a couple of external entity references ; best example is for authors. However what i really wanted was a foreign key value. Entity Services expected me to generate an of author entities direct in my Foo entities. But I want to have the author entities separate with only for

[2018-02-26 20:21] grechaw commented on #364
Your case clearly shows the issue.  I'm cross-eyed trying to figure what I've missed.  Anyhow, I've done the same thing as you to make simple foreign keys too.  If you define a ref, then the structure as you noted comes out a little differently.  As long as you know how to join your keys, I think using scalar values is a good alternative.

[2018-02-26 20:26] grechaw commented on #364
I see now why I could not reproduce.  In order to handle arrays more gracefully in generally, the default serialization includes an attribute now for properties that are arrays.   Before this change arrays of a single element were being serialized as (non-array) scalars in JSON.

So the bugfix you've provided has no effect on OOTB envelopes, but the DHF may not have caught up with this change.  Th

[2018-03-07 00:51] grechaw opened #370 "change references to 'pii-role' or 'pii' to 'pii-reader'"
We decided that 'pii-reader' is a more appropriate name, so I'll be sweeping through this feature and updating.

@bsrikan  this will come soon.

[2018-03-17 00:08] grechaw commented on #364
This issue went into develop some time ago, but i neglected to move it along.

[2018-03-17 00:10] grechaw opened #373 "Update pii generation to be valid for mgmt api."
When originally committed, the pii configuration was a guess.  Now that we have developed the method to deploy, I've made some tuning to the generation code and tests.

[2018-03-23 18:10] bsrikan commented on #373
Closing the bug. Tests added.

[2018-03-23 18:12] bsrikan commented on #370
Moving to ship. Tests were checked into develop.

[2018-03-23 18:13] bsrikan commented on #364
Tests added and running in regression. Shipping this.

[2018-03-23 18:14] bsrikan commented on #361
Tests running in regression. Shipping this.

[2018-03-23 18:22] bsrikan commented on #359
Tests added and running in regression. Shipping this.

[2018-05-09 16:22] ravi-b-m opened #375 "instance-to-canonical-xml converting an array"
I was wondering if there is any reason for adding attribute `datatype="array"` when we are canonicalizing an array of json objects or strings. The reason I ask is for eg: if my json that I am trying to canonicalize has the structure as follows
[code]
the resulting xml looks likes follows:

[code]

I could modify the code generated by es to have all the `<company>` elements inside the `<companies>`

[2018-05-10 17:39] grechaw commented on #375
I see two questions here

1.  the canonical structure here has a property "companies" and a type "company".  We recommend that you use a property that has semantic meaning for the relationship, like "worksFor" or "soldTo", and then use uppercase for the embedded type, Company.  Having a property and a type that are semantically equivalent is collapsing two concepts in entity services.

2. the attr

[2018-05-10 17:48] ravi-b-m commented on #375
If I change the canonicalization to the following, will this effect the TDE
[code]
Will namespace be any issue, for eg:= `<companies>` is in different namespace than `<company>` ?

[2018-05-10 17:52] grechaw commented on #375
It is possible to declare namespaces for your XML serializations if you choose.  That's in the model, ad the entity type level.

This particular change will not affect the TDE, since the XPaths for any given node remain the same.

[2018-05-10 17:53] #375 closed, assigned to nobody

[2018-05-10 18:04] grechaw commented on #375
Thanks for the interaction, @ravi-b-m

[2018-06-21 16:16] #359 closed

[2018-06-21 16:16] #361 closed

[2018-06-21 16:16] #364 closed

[2018-06-21 16:16] #370 closed

[2018-06-21 16:16] #373 closed

[2018-06-21 16:18] grechaw opened #376 "Add 'instanceIRI' column to TDE row projection"
The current row projection of entity instances could be much improved by the addition of an 'instanceIRI' column.

Such a column enables a join in Optic API between the graph of models and instances, and the row model of instance attributes.  Such queries are very powerful for index-based, relational queries of all your connected canonical data.

[2018-06-26 16:55] grechaw opened #377 "Migrate schematron implementation to built-in"
When built-in schematron validation is available, entity services can take advantage of it by placing a compiled version of entity services sch. schemas in the modules directory.
This could be checked in here to github or in svn directly

[2018-10-12 16:54] pdesmarets commented on #311
Take a look at https://hackolade.com/nosqldb.html#marklogic  A visual JSON Schema editor build for NoSQL databases.  Still need to do reverse-engineering of MarkLogic, but almost there...

[2018-10-12 16:56] grechaw commented on #311
Thanks @pdesmarets , I'll look forward to that.  I've tinkered slightly with hackolade and think it would be a great fit for us too.

[2018-10-12 17:07] pdesmarets commented on #311
We added a ML plugin a few months.  Would love to get your feedback for future enhancements.

[2018-11-09 17:02] grechaw commented on #377
Since 9.0-8 has reached functionally complete date, this mod should be queued up for work.  It's a non-functional change but it would be good to knock it out with some chance to check out regressions

[2018-11-10 00:14] grechaw commented on #377
I've done the initial foray into the switch.  It seems like it's working.  However the new implementation doesn't report the same failures are the previous one.  I'd like to find out how to control the reporting in the new implementation.  It might be that we can just modify the keys to be more precise and elicit the more granular error that we're looking for.

As an example of what im talking abo

[2020-07-15 14:32] epilith commented on #359
This bugfix has caused another bug. Line 144 of [this file](https://github.com/marklogic/marklogic-data-hub/blob/4.x-develop/marklogic-data-hub/src/main/resources/ml-modules/root/data-hub/4/impl/hub-entities.xqy) causes problems with any namespace ending in es:. We have discovered this because we are using an entity with namespace `pasdes:` and it is replaced by `pasd*:` by this fix.

At the minim

[2020-07-15 16:22] ehennum commented on #359
@epilith , this repository no longer reflects the current state of Entity Services, which was moved into the internal repository for MarkLogic server (because Entity Services is distributed with a server).

The best way to report an issue with Entity Services now is to work with MarkLogic support to file the issue.

I'll explore having this repository removed now so other users don't make the natu