[2016-01-27 18:53] grechaw opened #1 "Move 'primary-key' and index declarations to type, include "required""
In JSON Schema and swagger, a type definition can include "required"

[code]

I propose that, rather than putting primary-key and indexed-with on properties, as the spec currently reads, that they be on the type, like 'required'.

[code]

[2016-02-03 22:12] jmakeig opened #2 "Test issue"

[2016-02-03 22:45] grechaw opened #3 "Make tests get host and port from gradle.properties"
RIght now the tests his eval on localhost port 8000.

Port 8000 is ok for eval tests, but localhost is not.

[2016-03-02 21:57] #1 closed, assigned to nobody

[2016-04-18 16:28] jmakeig opened #27 "Missing modules in OS X build"
I've got the 9.0-20160418 nightly on OS X. When I try to `import module namespace es = "http://marklogic.com/entity-services" at "/MarkLogic/entity-services/entity-services.xqy";`, as in the examples, I get `XDMP-MODNOTFOUND: (err:XQST0059) Module /MarkLogic/entity-services/entity-services.xqy not found`. My `/MarkLogic/Modules` directory doesn’t look to contain `entity-services`:

[code]

[2016-04-18 22:58] jmakeig opened #29 "Remove “xdmp” from the repository name"
“xdmp” has little meaning outside of MarkLogic Engineering, where the sausage is made.

[2016-04-18 23:00] jmakeig opened #30 "Visual representation of models"
It should be possible to transform entity models into something visual, like any number of ERD formats. This will make documentation and selling much easier.

Next step would be to provide a way to edit entities visually.

[2016-04-18 23:12] jmakeig opened #31 "Enhance model with controlled vocabulary"
I have a `Product` entity for my hypothetical grocery store management application. A `Product` has a `Category` attribute. The category is a string value. However, the valid strings come from an external taxonomy of food types. [For example](http://www.eatwisconsincheese.com/wisconsin-cheese/cheesecyclopedia),

[code]

I want to be able to specify  the relationship between `Product > Category` an

[2016-04-19 17:16] jmakeig opened #32 "Extend semantic entity model with policies"
For example,
1. `ssn` is not just a string field, but has a format of `###-##-####` and can only be seen by roles `X`, `Y`, and `Z`. Roles `A` and `B` can see a masked version using the deterministic algorithm.
2. `payment_terms` as part of entity `Order` version `12.1.0`, has a specific meaning, documented by these paragraphs and was approved by user `XYZ` on date `D`.
3. The relationship between

[2016-04-21 20:11] jmakeig opened #34 "Prompt for admin user and password in examples’ deployment script"
Like https://www.timroes.de/2014/01/19/using-password-prompts-with-gradle-build-files/

[2016-04-30 01:43] #2 closed, assigned to jmakeig

[2016-05-12 19:01] grechaw commented on #29
Done

[2016-05-12 19:01] #29 closed

[2016-05-24 18:21] grechaw opened #45 "Issue to test bugtrack integration."
This is a test.

[2016-05-24 18:43] rashiatmarklogic commented on #45
great was thinking to do this too. Lets see if this gets created in bugtrack in like 6 hrs or so.. I do not see entity-services category in bugtrack though.

[2016-05-24 19:45] sastafford opened #46 "Error when running xquery to transform each document in the raw collection"
I'm following the tutorial for Entity Services on the EA website.  I'm at the part where I need to run the transform on all the documents on the raw collection and I get the following error in QConsole.

[1.0-ml] XDMP-CHILDNODEKIND: map:get($entity-instance, "$attachments") -- element nodes cannot have object node children
Stack Trace

In /ext/Race-0.0.1.xqy on line 216
In race:instance-to-envelop

[2016-05-24 20:02] grechaw commented on #45
Hi @rashiatmarklogic .  This issue was imported here  https://bugtrack.marklogic.com/39976

I updated labels in this project to work like some of the other ones we have.  You need 'Bug', a status and a severity label to make the integration work.

I'll update the milestones to match what bugtrack expects - -maybe the reporting will just work out.  Sudhakar should change the category to "Entity Ser

[2016-05-24 20:02] grechaw commented on #45
Changed status to watch integration work.

[2016-05-24 20:09] sastafford commented on #46
It doesn't like XML Constructor around the JSON map for element es:attachments

[code]

[2016-06-03 16:41] grechaw commented on #46
Hi @sastafford that is correct -- our initial foray just uses XML for an envelope.  In your extraction module, you must customize the line that puts $attachments to hold a xdmp:quoted version.

I've been mulling over whether this is a common enough use case to go ahead and implement JSON envelopes for those who with to use them..

[2016-06-22 22:41] grechaw opened #52 "Instance envelopes use es:title from the document, not the type of the instance"
I discovered this bug while implementing search options.

When you use a conversion modules's conv:instance-to-envelope() function, the envelope has a

es:title element with the value of the document's title.  This title is supposed to indicate the type of the entity instance, and so should be a type name not the document name.

I've got a fix prepared.

[2016-06-23 20:08] grechaw commented on #46
Hi @jmakeig this issue is an RFE.  We know it would be pretty straightforward to make JSON envelopes.  It will just take a little research to see what is and isn't supported by such an envelope.
Note that there's an instance function to get JSON out of an XML envelope -- the disadvantage with the current limitation is that you cannot store JSON sources as attatchments without quoting them.

[2016-06-23 20:08] #45 closed

[2016-06-23 20:11] grechaw commented on #52
Hi @rashiatmarklogic @bsrikan I wanted to alert you to this bug, as it will change conversion module code when it goes into develop.  The change is in the es:instance-to-envelope function (and is obvious from the commit)

[2016-06-23 21:03] rashiatmarklogic commented on #52
Noted. You can merge the change to develop and we will handle the regression.

[2016-06-24 20:19] rashiatmarklogic commented on #52
I think that TestEsConversionModuleGenerate.java is failing in regression today because of this change.

[2016-07-07 20:58] grechaw opened #68 "Change in element order for schema-generate"
When I committed 6b9ed50dc70533 for bug 40598, I also changed the order of elements in the schema-generate to be more sensible.  This issue is to track that change for testing.  There's no functional change for schemas, in that commit, just the ordering of elements.

[2016-07-08 02:19] bsrikan opened #71 "ValidateUnexpected and ValidateBadType schema errors for some instances of an ET doc that include $ref"
1> Using schema valid-ref-same-document.xsd
import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';
validate strict { doc ('valid-ref-same-document-2.xml')}

Error msg:
[1.0-ml] XDMP-VALIDATEBADTYPE: (err:XQDY0027) validate strict { fn:doc("valid-ref-same-document-2.xml") } -- Invalid node type: ProductID lexical value "" invalid for

[2016-07-08 19:08] grechaw commented on #71
Hi @bsrikan  there is a bug in the TestEsSchemaGeneation teardown.  I fixed the same bug in unit tests last week.

[code]

The /ext/ should not be there in the 'moduleName' line.  just look at schema unit tests for how cleanup should look.

[2016-07-08 19:21] bsrikan commented on #71
True Charles. Removing /ext/ will help cleaning up stored schema files. Other issue mentioned here is for XDMP-VALIDATEUNEXPECTED which requires a fix. Please take a look.

[2016-07-08 19:28] bsrikan commented on #71
Infact all 4 errors mentioned are reproduced even after taking care of cleaning up by removing /ext/

[2016-07-13 22:26] grechaw opened #76 "Should the new extract-array() function be in es:* module"
Like es:optional, I'm finding another small utility function useful for both conversion modules.  This one includes an empty array for required properties, but an empty sequence for optional ones.

It's a fix for a bug where  optional array keys were populated regardless of the source's extraction of a value or not.

[2016-07-13 22:49] grechaw opened #77 "external references should have the type as an enclosing element name."
The canonical representation of an embedded entity instance wraps the outer structure within each property element.  It should look more like this, whereas now the type information of reference is lost unless the instance is embedded.  This is really a design and implementation bug and I'm addressing it in the specification as I submit this issue to track its execution.

Also, existing bug 40487 r

[2016-07-13 22:51] grechaw commented on #77
Also related to bug:39341

[2016-07-14 18:12] grechaw commented on #71
OK thanks for the additional info.  I'll try to reproduce.

[2016-07-14 18:20] grechaw commented on #77
I'm knocking this bug out now -- it will require several key updates.

I need to have this right in order to implement version comparisons properly

[2016-07-14 18:30] grechaw commented on #71
This issue may be fixed as part of my current work on references.

[2016-07-15 00:15] grechaw commented on #77
Significant progress on this bug today.

[2016-07-15 16:34] grechaw commented on #77
I'm working though a schema validation consequence of my change, and will have a PR before noon on this.  completing version comparison may well follow in the afternoon.

[2016-07-15 19:51] grechaw commented on #71
I now indeed recognize this behavior and now have tests and code to cover it.  Setting to Fix, expect to be referenced in PR shortly

[2016-07-18 17:17] grechaw opened #80 "Investigate the special case of serialization entity instance to JSON, with array of one item"
When an entity instance stores a propery, it uses XML elements and sequence semantics to do so.  That means that the instance data model cannot tell when it is representing an array, if there is only one item in the array.

We need to investigate this issue and perhaps correct it.  An attribute in the XML data could solve the issue.

[2016-07-18 22:43] #27 closed

[2016-07-18 22:43] #3 closed

[2016-07-18 22:47] grechaw opened #82 "Refactor names of signatures and functions to be 'model' where now is implied e-t-doc"
We have a loosey-goosey notion of an entity services document.  To clarify the role of the in-memory model in the API, we'll change some functions.  The WG approved the changes today, and the spec reflects some of them already.  This issue will trace the implementation.

[2016-07-18 23:51] grechaw commented on #71
I'm taking a look at the cases here to determine where there may or may not be a bug.

1> Using schema valid-ref-same-document.xsd
import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';
validate strict { doc ('valid-ref-same-document-2.xml')}

* not a bug.
The model for the ProductID property has it as an integer, and optional.
The

[2016-07-18 23:52] grechaw commented on #71
One thing that might be at play here is that es:entity-type-get-test-instances() has changed with regard to external references.  We might want to review the test cases to see which ones are valid.

[2016-07-18 23:54] grechaw commented on #71
Case 2 requires the commented-out ProductID definition to be the one in use.   So case 2 is a kind of customization case, which shows the alternatives that must be taken if one has multiple ways to reference one property in a model.

[2016-07-18 23:58] grechaw commented on #71
Case 3 looks the same as case 2.

[2016-07-19 00:07] grechaw commented on #71
Case 4 looks like it's still an issue:

[code]

[2016-07-19 00:09] grechaw commented on #71
Ah I understand case 4 -- it's because there's a local and external reference with the same local name -- I have to account for this situation.

[2016-07-19 16:53] grechaw commented on #82
subtask:  change name of collection in TDEs.
subtask:  change name of element in schema
subtask:  testing name updates
subtask:  function signatures
subtask: examples, including QC workspace

[2016-07-19 20:25] grechaw commented on #82
I've done the implementation and tests are all passing.
Still to finish:  examples, verify spec.
I'll make another commit to clean up names throughout, without changing functions or keys.  Then I'll make a PR for @rashiatmarklogic  and @bsrikan  to consider.

[2016-07-19 23:38] grechaw opened #83 "Gap in version-translator - entity types that go away or appear"
I neglected to implement two important parts of es:version-translator-geneate()
1.  when an entity type from the source is not in the target, provide the paths to each property inside of a comment so that they can be used as reference material for customization.
2.  when an entity type from the target is not in the source, provide a template to create instances from constants.

[2016-07-19 23:39] grechaw commented on #83
Note @rashiatmarklogic @bsrikan I realized today that I have not implemented this part of version translator yet.

[2016-07-20 00:17] rashiatmarklogic commented on #83
Sure. noted.

[2016-07-20 21:39] grechaw opened #85 "configuration of ml-schemas needs solution for examples"
The subproject entity-services-examples currently configures its mlSchemasPath
in `entity-services-examples/gradle.properties` as "mlSchemasPath=entity-services-examples/src/main/ml-schemas" which allows the parent project to deploy using

`./gradlew entity-services-examples:mlDeploy`

however, from within the child directory,

`./gradlew mlDeploy` does not read the schemas from the local project.

[2016-07-21 17:23] bsrikan commented on #77
Fixed regression tests and created PR #86

[2016-07-22 17:06] grechaw commented on #82
This issue is in PR - will be merged today and assigned to @bsrikan

[2016-07-22 17:15] grechaw commented on #83
This issue is really a gap in functional completeness, and so its a bug that I've let it go past today.  I would still like to contain it in EA-3 though as it provides an important part of the codegen story.

[2016-07-22 17:19] grechaw opened #87 "During release process, update DMSDK dependency"
Examples use DMSDK.  Until EA-3 is available, we cannot verify the publicly available version of DMSDK, and so need to update entity services examples during or after the DMSDK release.

[2016-07-22 17:36] bsrikan commented on #83
Does that mean its not in PR #84 and would be available in later PR?

[2016-07-22 17:37] bsrikan commented on #82
Great

[2016-07-26 17:00] grechaw commented on #77
This issue was a kind of forced design update, and upon reflection I think there are bugs in
database-properties-generate and extraction-templates.  When working with examples I realized that I had to change an extraction template when there was  reference involved.

I'll make a stub issue for investigation.

[2016-07-26 17:02] grechaw opened #91 "Check extraction templates and range index defs (paths) for references"
Issue #77 changed somewhat how we expect to persist references.  While the change caused issues and fixes for schema generation, I suspect a bug in extraction templates now.

This issue is to investigate and track what's next.

Put EA-3 to verify.  Not sure whether I need to fix this or not, but I think it does need a fix.

Now, a reference's index will be defined the same as if it were a scalar p

[2016-07-27 17:17] grechaw commented on #91
I've got a fix for this issue.  It corrects extraction template generation so as to get paths to references correct.

[2016-07-27 17:28] grechaw commented on #91
This is about the embedded references in #77 -- I missed needed changes in extraction template.

[2016-07-27 23:50] grechaw commented on #71
Aha!  It's because you have a property name that is equal to an entity type name.

Best practice will be to lowercase property names and capitalize type names, so this is an edge case.

I think that this is bad enough practice that we should catch it in validation and disallow.

[2016-07-27 23:55] grechaw commented on #85
The PR for examples right now works from IDEs and from the command line from within
entity-services-examples, which I think is preferable to the previous method, which only worked
from the parent project.

[2016-07-28 17:29] rashiatmarklogic opened #93 "ES-MODEL-INVALID : Local reference #/definitions/OrderDetail"
must resolve to local entity type.Local reference #/defintions/Product must resolve to local entity type.

The XQuery
==========
  xquery version "1.0-ml";
  import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';
  es:extraction-template-generate( es:model-from-node( fn:doc("valid-ref-same-document.xml")))

The model looks like :
==

[2016-07-28 17:34] rashiatmarklogic commented on #93
@bsrikan : Hi Srikanth subscribing you in this issue as well. Please note that its only happening ( I think) when we pass a XML version of the model
es:extraction-template-generate( es:model-from-node( fn:doc("valid-ref-same-document.xml")));

Since,
es:extraction-template-generate( es:model-from-node( fn:doc("valid-ref-same-document.json")));
works fine.

I am not sure that which bug might have i

[2016-07-28 17:40] rashiatmarklogic commented on #93
Same issue seen with es:model-get-test-instances() API and TestEsInstanceGenerator.java

Xquery
======
  xquery version "1.0-ml";
  import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';
  es:model-get-test-instances( es:model-from-node( fn:doc("valid-ref-same-document.xml")))

And the XQuery2
=============

  xquery version "1.0-ml

[2016-07-28 17:42] rashiatmarklogic commented on #93
I am marking this issue as critical - reason is that its actually blocking QA to test anything further. Many test cases are hitting same issue and failing in regression.

Charles - Please solve this issue ASAP.

[2016-07-28 20:32] grechaw commented on #93
I'll try to reproduce now

[2016-07-28 20:37] grechaw commented on #93
One of the changes from issue #82 was that 'es:entity-type' is now called 'es:model'

All of the XML models must be updated.

[2016-07-28 21:52] grechaw commented on #93
So probably PR #94 has the fix to this issue too?  I saw that a lot of the elements had that renaming.

[2016-07-28 22:10] rashiatmarklogic commented on #93
Yes, thats true #94 has a fix for this.

[2016-07-29 00:06] bsrikan commented on #85
Sure Charles.
e2e folder works the same way I think. It has its path configured as src/main/ml-schemas.
Can you show in our meeting tomorrow the problems/difficulties faced with the path having entity-services-examples in it by comparing these 2.

[2016-07-29 00:07] grechaw commented on #85
Sure thing

[2016-07-29 17:54] grechaw commented on #85
We agreed to move forward with the fix as represented in the examples PR.  I'll push this issue through when we decide to merge examples.

[2016-07-29 21:49] grechaw commented on #85
This is all done and set.  Will be mergen when the examples are.

[2016-07-29 23:08] #93 closed

[2016-07-29 23:12] grechaw opened #101 "Separate validation from conversion to model type"
Validation is very slow, and need not happen every time one wishes to create code.

Kim and I have worked up a modification of `es:model-from-node` that provides for this optimization and clarification.

This task is an open issue to set down the proposed change and circulate.

It is labeled a bug because it manifests as a peculiar usability issue in JavaScript.

[2016-07-29 23:46] grechaw commented on #71
Oh, @bsrikan if you put 'fixes xxx' into a commit it closes an issue.  This breaks bugtrack integration :)
Reopening so that it will be assigned properly in BT

[2016-07-30 23:29] bsrikan commented on #71
Oh! I read that '#xxx' doesnt close the issue. But I added fixes in my statement that closed the issue I think. Will be careful.

[2016-08-03 18:06] bsrikan commented on #71
Added new model and updated test to validate Entity and property names are distinct

[2016-08-03 23:01] bsrikan commented on #82
Tests are running successfully in regression after absorbing the change in function signatures and error msgs from "entity-type" to "model".

[2016-08-09 06:02] bsrikan commented on #82
This bug is validated through tests running in regression. Good to ship.

[2016-08-09 06:10] bsrikan commented on #91
This bug is validated through tests running in regression. As a result of this bugfix, there were key changes required for extract instances test in TestEsConversionModuleGenerator.java and were pushed to develop via #105. Good to ship.

[2016-08-09 23:17] bsrikan commented on #71
There were changes made to schema gen and how model-get-test-instances() behave for references. Type was added per #77.
The errors reported in this bug are understood and work as expected when the OOTB generated schema is edited to uncomment the needed elements which were otherwise commented as duplicates.
Test for the validation enforced has been running in regression after merge of #100.
Hence g

[2016-08-09 23:27] bsrikan commented on #77
This bug is also good to ship as the extract-instance tests were updated accordingly going with current output as the expected. Will reopen in EA-4 if required.

[2016-08-09 23:30] bsrikan commented on #68
Rashi shipped this bug in Bugtrack. Hence shipping it in git..

TestEsRequired.java and TestEsSchemaGenerator.java are verifying this bug, and they are passing now. Good to ship !

[2016-08-09 23:35] bsrikan commented on #52
Shipping this in git as Rashi already shipped the one in Bugtrack -- 40431.

[2016-08-15 23:07] grechaw commented on #87
Per email, assigning to @kkanthet for action during release process.

[2016-08-17 02:36] grechaw commented on #101
We are considering this change as a candidate for EA-3 so that we do not have a lingering design change after EA-3.  We've analyzed the blast radius and QA is on board.  I need to talk with WG and @jmakeig tomorrow to make sure we can move forward.

[2016-08-17 20:19] bsrikan opened #110 "Task to update tests per #109"
Task to update test for changes in PR #109 involving design changes to validation. APIs involved

model-from-node() -- this is removed now
model-validate() -- validation of model doc. o/p is a model
model-from-xml($xml) -- converts from xml doc to a model
model-to-json/xml -- no changes/impact

[2016-08-17 20:24] grechaw commented on #110
I also took out model-to-json as it is a no-op

[2016-08-18 22:59] bsrikan commented on #110
Tests updated to incorporate model-validate() and model-from-xml() as appropriate wherever model-from-node() was being used earlier.
#111 also includes some cleanup to tests since model-to-json() is removed.

Will ship this task after tomorrow's clean regression run

[2016-08-19 00:11] jmakeig opened #112 "Extend entity model with governance attributes"
Assert that first and last name properties on runners are PII in the entity model (as triples). Create a redaction policy that, given a document, discovers its type, looks up its model, and automatically redacts PII fields without having to explicitly state specific fields.

Bonus: Make PII a subclass of “Private” and redact all private information by inference. (Or something similar.)

[2016-08-19 00:12] jmakeig opened #113 "Type versioning"
Demonstrate how version an entity type definition and write a translation from old to new.

Bonus: Add bitemp to be able to query on old or new versions as they were known previously.

[2016-08-19 00:18] jmakeig opened #114 "Lookup data from a controlled vocabulary"
"Product category" is stored as as a string in the Product entity. However, its values are constrained to a controlled vocabulary. We should illustrate how to assert this in the entity type model and how to use this information to

1. Validate harmonized instances
1. Write broader/narrower queries
1. DDL reporting on which properties depend on which vocabulary

[2016-08-19 00:24] jmakeig opened #115 "Track governance at the type, instance, and batch level"
Type model:
* Entities or specific properties of entities are derived from *system XYZ*, using *script ABC*, as defined in *process GHI*, etc.

Instance:
* Derived from *batches A, F, and M*
* Harmonized by *process DEF* on date *LMNO*

Batch:
* Bill of materials for batches to capture raw data that was loaded
* Links to instance derivation (see above)

[2016-08-19 05:38] bsrikan commented on #101
Tests updated. Issue will be shipped after successful regression run on 08/19.

[2016-08-19 18:19] bsrikan commented on #101
Tests are running successfully in regression. Shipping the bug.

[2016-08-19 18:19] bsrikan commented on #110
Shipping the task. Tests are running successfully in regression.

[2016-08-19 18:53] jmakeig opened #117 "Referentially consistent export"
Use the entity model to get a consistent subset of entities and their related entities that. For example, get me the 50 most recent customers, their related sales orders, products, etc. Handle cycles and, perhaps, truncate at some depth to avoid always getting the whole database. Export all reference data each time.

[2016-08-19 20:11] jmakeig opened #118 "Conflicting update error in the example loading/transformation"
Based on the error message below, it looks like the URIs are being set correctly. Thus many transactions are trying to update `/runs/.xml`.  This is a blocker for the EA3 write-up.

[code]

[code]

[2016-08-19 20:17] grechaw commented on #118
Note: this is a bug in example code, and as such does not pose a stability risk for code freeze.

[2016-08-19 21:32] bsrikan opened #119 "Getting 401: Unauthorized error while running examples in reg machine"
[code]

@grechaw as discussed assigned issue to @jmakeig

[2016-08-19 23:41] grechaw commented on #118
This is resolved now.  It was my stupid StructuredQueryBuilder error.

[2016-08-20 00:25] kcoleman-marklogic opened #121 "Validation error reporting is confusing"
It would be nice to include the property name or a line number with each validation error. For example, I managed to leave off the "es:" namespace qualifier from some of my property datatype elements, thusly:

[code]

When I validated my model, I was greeted with the following message, which was, um, not as helpful as one might wish:

[code]

First off, it wasn't until I figured out what was wrong

[2016-08-22 05:34] jmakeig commented on #119
@bsrikan Can you verify that the users (`adam` and `whitney`) and the roles (`race-*`) were created successfully? Did you update `application.properties`, starting with `application.properties.CHANGEME`?

[2016-08-22 17:46] bsrikan commented on #119
@jmakeig I updated application.properties.CHANGEME so the projectDir points to where entity-services-examples is located.
Ran mldeploy after this edit(both by keeping filename as is and by removing CHANGEME) and still got the 401 issue; users and roles werent created.

[2016-08-22 17:55] grechaw commented on #119
Thanks @bsrikan that makes sense to me now.  mldeploy has to not only run but also to work.

[2016-08-22 22:09] bsrikan commented on #119
@grechaw So it seems now that this issue was caused by #85. I updated the build script and now examples project is deployed from examples folder. Dont see the 401 error anymore. Shipping it.

[2016-08-22 22:18] grechaw commented on #119
cool

[2016-08-22 23:18] bsrikan commented on #85
Examples project is now setup such that mldeploy should be run from examples dir. Will ship after successful regression run.

[2016-08-23 22:43] jmakeig opened #122 "Namespaces for enveloped entity instances"
Generally it's best practice to put all elements from a vocabulary in their own namespace to avoid conflicts and to allow easy and unambiguous discrimination from elements in other vocabularies (e.g. for schema validation). On the other hand, namespaces add complexity for just about everything downstream. What’s the cost-benefit? Should this be optional? If so, how do we determine the namespace UR

[2016-08-23 22:45] grechaw commented on #122
"If so, how do we determine the namespace URI and prefix?"

We have included baseUri in the model for this purpose (for the URI anyhow).  There are potentially two uses for this Uri in instance data: both in the XML persistence layer and in a TDE template to extract triples.

[2016-08-24 17:20] bsrikan commented on #85
Shipping the bug as the unit/functional tests and examples/e2e artifacts are running/deployed successfully in regression.

[2016-08-24 23:14] sammefford opened #123 "401 error on 'gradle mlDeploy"
I'm trying to follow the instructions from README.md, and I'm getting the following:

[code]

[2016-08-24 23:15] sammefford commented on #123
should I be added to the project so I can set assignee and labels?

[2016-08-24 23:47] grechaw commented on #123
It's true, the examples no longer deploy from the top-level directory.
To use examples, first `cd` into the examples directory then run

`../gradlew mlDeploy`

and it will properly deploy the users for the examples.

[2016-08-24 23:49] grechaw commented on #123
Added team-java write access to this repo.

[2016-08-25 17:02] sammefford commented on #123
When I did that, I got the following:

[code]

Might that mean that I'm already setup and ready to go?  Does mlGradle not have a way to run everything idempotent?

[2016-08-25 17:11] grechaw commented on #123
I have not seen this before.  The deploy normally is idempotent.  My guess is that gradle's internal dependency (stored relative to your current directory) stores what has been run and not.
So my guess is that either you'll just see this message once, or this error will generally go away if you `gradle mlUndeploy` first.

Note that @jmakeig introduced a required manual step in the examples last we

[2016-08-25 17:30] sammefford commented on #123
What's the required manual step?

Also, how do I get the transforms installed?  I tried

    gradle entity-services-examples:run

and I got the errors: "transform extension does not exist: turtle-to-xml", "transform extension does not exist: ingester" and "transform extension does not exist: ingester-angel-island" and

[2016-08-25 17:48] grechaw commented on #123
mlDeploy does need to complete successfully.  It installs all of the extensions.
Sorry there's so much trouble with this stuff!
To get the security of the loader set up, you need to edit

`src/main/resources/application.properties.CHANGEME`
and save it at `src/main/application.properties`

Probably a better approach would be to supply the project dir from a shell script using a -P gradle property

[2016-08-25 17:50] grechaw commented on #123
Seems the README still needs a makeover...  I'll make a task for that now.

[2016-08-25 17:51] grechaw opened #124 "README makeover for examples."
As a final EA-3 task, get the README for the examples in line with how they are currently working.  As part of this I may want to change how application.properties is working now, as it's a bit of a burden to ask for an edit to this file.

[2016-08-25 18:02] jmakeig commented on #123
and save it at `src/main/application.properties`

Is there no way we can figure out the `projectDir` path at runtime? This would eliminate the need for `.CHANGEME` as the other values have sensible defaults.

[2016-08-25 18:19] grechaw commented on #123
We can, I'm sure of it.  A shell script could set a gradle property.

We could also put the sample data into the classpath and load it from there.  That would make the project less realistic IMO, but it would work more effortlessly out of the box.

I'll consider a few options here and  find a way forward

[2016-08-25 18:47] sammefford opened #125 "ExamplesBase throws ClassCastException when error occurs"
This line in ExamplesBase

    (CharSequence[]) Arrays.stream(batch.getItems()).map(item -> item.getTargetUri()).toArray())

throws this error

    java.lang.ClassCastException: [Ljava.lang.Object; cannot be cast to [Ljava.lang.CharSequence;
        at com.marklogic.entityservices.examples.ExamplesBase.lambda$importRDF$2(ExamplesBase.java:108)

[2016-08-25 18:47] sammefford commented on #125
I found this to work:

    Arrays.stream(batch.getItems())
        .map(item -> item.getTargetUri())
        .collect(Collectors.joining("\n"))

[2016-08-25 18:50] sammefford commented on #123
I ran 'gradle mlUndeploy' successfully from the entity-services-examples directory, but then trying 'gradle mlDeploy' from that directory gave the same error.  It appears I'm facing a conflict on port 8203 because both e2e and examples are configured to the same port.

[2016-08-25 18:51] sammefford opened #126 "gradle mlUndeploy throws 503"
from the root entity-services folder:

[code]

[2016-08-25 19:07] grechaw commented on #123
Ah, I think @bsrikan is working on that.

[2016-08-25 19:08] grechaw commented on #123
I've got a fix whereby application.properties is checked in, and one need not configure the project dir.
I'll make a PR that addresses this issue and some others too.

[2016-08-25 19:08] grechaw commented on #126
Hi Sam, this is expected behavior from ml-gradle when it removes appservers, and marklogic restarts.

[2016-08-25 19:10] grechaw commented on #125
Ah, nice thanks for the tip.

[2016-08-25 19:11] grechaw commented on #125
Set to ea-3 because it's in example code, not server.

[2016-08-25 19:38] bsrikan commented on #123
PR #128 takes care of the 400 Bad request error resulting from e2e and examples running from same port.

[2016-08-25 19:54] sammefford opened #129 "Role does not exist"
When I changed the port on entity-services-examples/gradle.properties to 8204, 'gradle mlDeploy' gave the following:

[code]

[2016-08-25 20:35] grechaw commented on #129
You have to run the examples from the examples directory.  I use the gradle wrapper.

[code]

This was an EA-3 decision because of some underlying issue with paths and ml-app-deployer

[2016-08-25 20:35] grechaw commented on #129
I'll be updating the readme to include in most recent PR.

[2016-08-25 20:38] grechaw commented on #126
Not sure what to do with such issues -- just close or assign back.  i chose the latter here

[2016-08-25 20:44] sammefford opened #130 "The system cannot find the path specified"
I'm getting the error "The system cannot find the path specified".  It looks like perhaps a folder was removed "metadata" inside "transforms".  I'm running this from the entity-services-examples folder.

[code]

[2016-08-25 20:46] sammefford commented on #129
Ok, I'll just close this and I won't try to run it from the root folder.

[2016-08-25 20:46] #129 closed

[2016-08-25 20:47] sammefford commented on #126
Hmm, this doesn't look good to me.  Is there an issue logged against ml-gradle?  If not, I can log one.

[2016-08-25 20:53] grechaw commented on #130
@sammefford this is also not a bug.  ml-gradle provides a mechanism to supply metadata files for extensions, which this project does not have.  I suppose it's worth a mention in docs, but it has nothing to do otherwise with the examples or entity services.

[2016-08-25 20:54] grechaw commented on #126
It's not an issue.  ml-gradle polls the server during restart to see it its come back up yet.  503 is when it's not available.  ml-gradle handles that by trying again a bit later.

[2016-08-25 20:59] sammefford commented on #130
Ok

[2016-08-25 21:03] grechaw commented on #130
By the way thanks so much for kicking the tires!

[2016-08-25 21:03] sammefford commented on #126
If it's not an issue, can we remove the error and stack trace?  Maybe it's just me, but when I see a stack trace I immediately think something went wrong.

[2016-08-25 21:08] sammefford commented on #126
Lol, I just looked again and it's not a stack trace.  Sorry about that.  It's a structured JSON error message.  But it stands out, of course.  So I guess my question is whether we can hide it if it's not an issue.

[2016-08-25 21:37] kcoleman-marklogic commented on #126
My experience with our gradle projects is that it spews out too much when there's not a problem, and not nearly enough when there is one. It can be quite confusing and frustrating at times.

[2016-08-25 22:25] jmakeig commented on #125
Ha! That’s what I get for trying to turn Java into Python via some Stack Overflow copy-pasta. Thanks, @sammefford and @grechaw.

[2016-08-25 22:42] grechaw commented on #125
Hi @bsrikan  I implemented Sam's suggestion -- you can just maybe verify tests and close, or maybe you'l lhave similar change to make in e2e.

[2016-08-25 22:47] jmakeig commented on #130
Yes, this is just a warning. @rjrudin wasn’t sure why these were messages were logging at the info level. I’ll file an issue with ml-gradle (someday).

[2016-08-25 23:06] jmakeig opened #131 "application.properties has disappeared from a clean install"
https://github.com/marklogic/entity-services/pull/127#issuecomment-242570019

[2016-08-25 23:32] #131 closed

[2016-08-26 12:07] rjrudin commented on #130
Weird. I modified ml-javaclient-util recently to log an IOException at the debug level, and any other exception at the warn level. A non-existent file should be an IOException. I'll look into this.

[2016-08-26 12:14] rjrudin commented on #126
I'll file a ticket for this in ml-app-deployer. It logs every HTTP response error that it receives from the Management API. It just needs to be a little smarter to say - if this is a 503 from /admin/v1/timestamp, just ignore it.

[2016-08-26 16:47] grechaw opened #134 "Complete version translation example."
This example code is in progress, but still not complete, so I want a task to identify the work still to do before EA-3.

[2016-08-26 16:56] grechaw commented on #130
Looks like the project setup has conflicting ml-gradle versions in parent and child projects.
Indeed, I think that the superproject configuration was preventing the new code.
/cc @rjrudin @jmakeig
With the upgraded ml-gradle this warning goes away.

[2016-08-26 16:56] grechaw commented on #130
reopened as I'll be preparing a patch.

[2016-08-26 17:45] bsrikan commented on #130
Verified that we dont get "Unable to build metadata from resource file:...." error post PR #135

[2016-08-26 18:05] bsrikan commented on #125
Verified and am able to "run" examples without any exception. Shipping the bug.

[2016-08-26 19:59] grechaw commented on #124
In PR

[2016-08-26 20:05] grechaw commented on #117
Im assigning this to you for refinement/requirements.  I think it's a great idea, would be very different as recipe vs. say, as an export commant.

[2016-08-26 20:06] grechaw commented on #112
This has enough information in it to assign as task.  I'll give it to you for prioritization, but when planning comes around we'll have a hopper and can get an idea of how much we can get done.

[2016-08-26 20:07] grechaw commented on #112
(I'm adding a severity label so that bugtrack won't complain)

[2016-08-26 20:08] grechaw commented on #115
Good thing to add to a transformation pipeline.  Calls to functions that create side-effect metadata documents could be generated.

[2016-08-26 20:12] grechaw commented on #121
Good idea.  we should do this in EA-4.

[2016-08-26 20:26] jmakeig opened #137 "Need CONTRIBUTING.md"
See https://github.com/marklogic/node-client-api/blob/develop/CONTRIBUTING.md.

[2016-08-26 23:01] bsrikan opened #138 "Calling CodeGenerator and CSVLoader from ExamplesLoader.java"
Hi @grechaw ,

I see that you are calling CodeGenerator(viz generator.generate()) & CSVLoader(viz integrator.go()) in ExamplesLoader.java.

Do you still need to have a main() in CodeGenerator.java & CSVLoader.java with same call.

[2016-08-26 23:06] grechaw commented on #138
Not needed to run the examples -- I thought however it might be nice to have an independent method to run those classes.  In particular, CodeGenerator would normally be run separately from a loading process.

I should make a comment to this effect somewhere

[2016-08-27 23:46] grechaw commented on #137
got it.  will close after bt sync.

[2016-08-27 23:47] grechaw commented on #124
I think you've already reviewed this to your satisfaction, feel free to ship/close

[2016-08-29 17:44] #137 closed

[2016-08-29 17:53] grechaw commented on #118
Closing, as this was a fix to examples.

[2016-08-29 18:25] #34 closed

[2016-08-29 19:50] grechaw opened #139 "version-translator should have informative section listing non-functional differences."
report section on non-functional differences in `version-translaror-generate`

While version tranlsator provides code stubs to convert one kind of model to another, it could also include a report section in a comment that describes each model so that one can get an overview of the changes.

This issue was migrated from bugtrack, and there was a subask of 36574.

[2016-08-29 19:56] grechaw opened #140 "Extraction template should not have a column for the property when that property is locally referencing an entity type without primaryKey"
Recreating from bugtrack -- this was reported 5/4 by @bsrikan

a model:

[code]

A template:

[code]

Bug:
In above example the column for arrayreferenceInThisFile shouldn’t be there.

[2016-08-30 20:38] jmakeig opened #142 "Generate unit tests"
Along with the transformation code, we should generate unit test stubs.

[2016-08-31 21:25] grechaw commented on #134
This is task from the PR you merged yesterday.   We can chat about the version translation.  It could be I should have a more involved example than I do now, but I made a good first pass at a working one.

[2016-09-01 01:02] bsrikan commented on #134
Will take a look at it.

[2016-09-01 16:38] jmakeig commented on #117
Repatriation is another use case: Get all of the transactions from customers in one jurisdiction and physically move them to servers located in that jurisdiction.

[2016-09-01 18:18] paxtonhare opened #143 "Add additional elements to the envelope structure"
The Data Hub Framework would like to see es:triples and es:headers added to the es:envelope.

The current envelope in the hub looks like:

[code]

content already maps to es:instance. The triples and headers will make our plan for world domination complete.

[2016-09-01 18:19] paxtonhare opened #144 "Add the option to persist Entity Instances as JSON"
Currently entity instances are persisted as XML. The Data Hub Framework gives users the option to persist as XML or JSON. We would like to see this feature added to Entity Services too.

[2016-09-01 18:47] #118 closed

[2016-09-01 18:49] grechaw commented on #126
@sammefford ok to move this bug to closed?  I don't want to take on hiding messages just in examples code.

[2016-09-01 18:51] #130 closed

[2016-09-01 18:51] #123 closed

[2016-09-01 19:19] #71 closed

[2016-09-01 19:19] #77 closed

[2016-09-01 19:19] #82 closed

[2016-09-01 19:19] #85 closed

[2016-09-01 19:19] #91 closed

[2016-09-01 19:19] #101 closed

[2016-09-01 19:19] #110 closed

[2016-09-01 19:19] #119 closed

[2016-09-01 19:19] #124 closed

[2016-09-01 19:19] #125 closed

[2016-09-01 19:42] jmakeig commented on #143
@paxtonhare What is `headers` used for?

Just to be clear, the envelop that Entity Services prescribes is just the default. You can change it however you see fit in the transformation code. Agreed, though if we could make the defaults more applicable, users would have to do *less* modification of the out-of-the-box transforms.

[2016-09-01 19:46] jmakeig commented on #144
@grechaw Let’s figure out how this might shake out and how it prioritizes with other stuff on the plates of dev, QA, and docs. We should do it. I just don't know where it fits in terms of size and timing.

[2016-09-01 20:21] grechaw opened #145 "Add triples to extraction template that link model to instance"
A proposal for EA-4 is to add a triple to the envelope.

The purpose of this triple is to provide an explicit indexed mapping of one instance document to its type.

To construct an IRI for a given instance, concatenate

prune(baseUri) +   "/instance/" + unique value

where the pruned baseURI is simply baseUri with trailing '#' or '/' removed.

'unique value' is TBD.

This triple is enough to provi

[2016-09-01 20:33] #138 closed

[2016-09-01 20:38] grechaw commented on #76
marked enhancement to assist in prioritizations

[2016-09-01 20:40] grechaw commented on #46
@paxtonhare created #144 to explicitly ask for a JSON envelope.  That would solve this issue as well, so I'll close this as a duplicate.

[2016-09-01 20:40] #46 closed

[2016-09-01 21:25] grechaw commented on #144
One way we could do this:

ad

[code]

[2016-09-02 21:16] bsrikan opened #146 "Schema gen - extra information in schema"
Creating git issue from BT 38966.

import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';
es:schema-generate(fn:doc('valid-db-prop-et.json'))

Above query generates a snippet as below which shouldnt be there. There is no xs:element in the model referring to such container type. Its OK for ProductContainerType to be in there since th

[2016-09-06 18:05] bsrikan commented on #134
Good to see the results. You are right about having an involved example. SKOS is new to me and it would be great to have a 1:1 on that subject with you to get me initiated.
Assigning back to you @grechaw as there is some more examples to add

[2016-09-06 23:19] grechaw commented on #145
We will discuss this enhancement further in next WG

[2016-09-06 23:28] grechaw commented on #76
WG seems to think this is an OK idea.

[2016-09-06 23:36] jmakeig commented on #144
Let’s start with a sketch of the the dev, QA, and docs scope. On the face of it, it sounds too big for 9.0-1.

[2016-09-06 23:37] grechaw commented on #144
This issue is very important for an early decision.  Justin will consider this issue among the others, and see whether or not it is containable.

[2016-09-06 23:39] jmakeig opened #147 "Mapping entity types to external ontologies"
Map entity types to an external ontology, such as [FIBO](http://www.edmcouncil.org/financialbusiness). Generate transformation scaffolding to translate on read *or* write, starting with read. Trace provenance from external ontology all the way back to the source system.

[2016-09-06 23:56] DavidGorbet commented on #144
I can't believe we didn't consider and scope this out early in the project. Has anything changed since then?

[2016-09-07 00:33] jmakeig commented on #144
This was an intentional decision. We knew we'd want to support JSON eventually, but wanted to go deep on the use cases first and then broaden outside of that core. We've received feedback that JSON is important. This is the process of beginning to prioritize that among the other things in 9.0-1.

[2016-09-07 01:54] DavidGorbet commented on #144
Do you mean prioritizing feedback for 9.0-2, or did you really mean 9.0-1?

[2016-09-07 02:34] jmakeig commented on #144
Probably 9.0-2 given what else we have in 9.0-1. But that's the assessment we need to do. Given the feedback, is this more important than the other stuff already scheduled for 9.0-1 and will it not introduce risk we can't accommodate?

[2016-09-07 19:44] grechaw commented on #144
@DavidGorbet You're right in that we did indeed cut this scope early on.  Paxton is voting for it as an important enhancement, so we gave it a good look.  I submit that @paxtonhare design a JSON envelope and implement the functions for it within the data hub.  I suspect the design will be straightforward and we will be able to incorporate his work into a future iteration of Entity Services.

[2016-09-07 20:14] DavidGorbet commented on #144
Ok let's make sure this comes up in the Program Review. Thx.

[2016-09-07 23:03] grechaw commented on #76
We decided to move forward with this refactoring, as it's parallel to what we did for `es:optional`

[2016-09-08 21:47] bsrikan commented on #121
Another confusing error reporting scenario:

model has required property defined as `"required": "ProductID"` instead of `"required": [ "ProductID" ]`
es:model-validate() gave "`"Required" property ProductID doesn't exist.`" error message which is misleading since the real issue was that ProductID wasnt enclosed in [] as _required_ expects an array.

[2016-09-13 13:34] paxtonhare commented on #143
The headers are there to let users store arbitrary key/value data that
doesn't fit elsewhere.

On Thu, Sep 1, 2016 at 3:42 PM, Justin Makeig <notifications@github.com>
wrote:

[2016-09-13 16:19] grechaw commented on #145
From demo day I learned that TDE templates can now have both triples and rows templates in the same TDE.  Also, fn:base-uri() is available within TDE templates.
These two facts together mean that I can implement this feature in the TDE template, rather than in the envelope transform.  A much cleaner solution, that integrates entity instances with semantics very nicely.

[2016-09-13 23:44] grechaw opened #149 "extract-array does not extract a sequence below a property"
Use Northwind-0.0.1.xqy.

extract-instance-Order shoudl work out of the box for northwind data.  Example,

/MarkLogic/git/entity-services/entity-services-e2e/data/northwind/orders/10249.xml

It looks as though extract-array needs a /\* on the end of its last line, but we need to verify and test this hypothesis

[2016-09-16 21:27] grechaw commented on #145
Taking another look at modifying extraction-template-generate to implement this enhancement.  It is possible that, with TDE, we can also tie an instance to its document uri

[2016-09-18 12:43] rjrudin opened #150 "Bump up gradlew version"
I'm following the instructions in http://ea.marklogic.com/features/data-integration/entity-services/, and I used gradlew, and I noticed it downloaded version 2.6.

I recommend going to at least version 2.14, which has some noticeable performance improvements in it that I believe were introduced in 2.13.

Version 3.0 is also out, and I recommend going with that over 2.14, but at least go with 2.14.

[2016-09-18 12:54] rjrudin opened #151 "Cannot run "gradlew run""
I'm following the instructions at http://ea.marklogic.com/features/data-integration/entity-services/ , and for "gradlew run", Gradle errs out because it can't find the data-movement dependency:

$ ../gradlew run
:entity-services-examples:compileJava

FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all dependencies for configuration ':entity-services-examples:compile'

[2016-09-18 12:55] rjrudin opened #152 "Only 3 databases created when running mlDeploy"
The instructions at http://ea.marklogic.com/features/data-integration/entity-services/ state "You should see four new databases: entity-services-content, entity-services-modules, entity-services-schemas, and entity-services-triggers"

However, when I ran mldeploy, I only got 3 databases - the triggers database doesn't exist.

I don't know if that's a problem or not, because I couldn't run the "run

[2016-09-19 04:05] grechaw commented on #151
It seems that the release went out with a snapshot dependency.

[2016-09-19 16:06] grechaw commented on #151
Hi Kiran, we'll need to take another look at the release this week.  I'd like to just take care of these early version-related issues that @rjrudin has raised, and push things out again.

https://github.com/marklogic/entity-services/issues/87

[2016-09-19 16:40] grechaw commented on #152
Yes, they do need an update -- I figured out how to suppress the triggers db creation later on in the game.

[2016-09-19 16:54] grechaw commented on #151
Actually, I noted that the dependency is updated properly for the release tag, but I botched the master branch.  What branch are you using @rjrudin ?  We had considered leaving develop depending on SNAPSHOT DMSDK, but if that's inconvenient we could reconsider.

[2016-09-19 16:57] rjrudin commented on #151
Ah, I'm on "develop", but that's apparently the default branch - i.e. following the instructions will clone the repo and you'll start on the develop branch. So at least per the instructions, a user will run into this issue, unless they change over to master.

[2016-09-19 17:04] jmakeig commented on #151
EA users should be working off of `master`, no? A public release should be tagged on `master`. `develop` should be stable, but not necessarily aligned with a release tag.

[2016-09-19 17:14] rjrudin commented on #151
Sounds right, but when you run "git clone https://github.com/marklogic/entity-services.git", you start off on the develop branch. Same is true for when you go to https://github.com/marklogic/entity-services - the default branch is develop.

[2016-09-19 17:15] jmakeig commented on #151
Ah yes, we should change the default then.

@grechaw do I have the workflow correct here? If so, can you please change the default branch?

[2016-09-19 17:18] jmakeig commented on #151
@kkanthet, I thought all non-GA releases would have SNAPSHOT versions, for the sake of Maven. Is that not the case?

[2016-09-19 17:51] kkanthet commented on #151
For EA release we mentioned will have EA versions and develop is the only place we will have SNAPSHOT.

I think what's missed here is during the release is
- merge EA release to master branch
- Change default branch to Master

[2016-09-19 18:02] jmakeig commented on #151
Yes, that sounds perfect.

[2016-09-19 18:04] grechaw commented on #151
We merged last week.  Will make the change to default branch.

[2016-09-19 18:17] grechaw commented on #145
I will provide examples of these triples as part of design phase this week.

[2016-09-19 18:26] grechaw commented on #143
We will add es:headers, es:triples, but not es:content.

[2016-09-19 18:51] jmakeig commented on #143
Whichever envelope format we come up with, it’s _only_ the default—a user could write her own. However, the out-of-the-box implementation is a key indicator of how to think about envelopes and why you need them. Thus we should try to provide the primary use cases out-of-the-box.

As a data steward, Stewart needs to track various dimensions of the data in order to capture everything he knows about

[2016-09-19 18:53] jmakeig commented on #143
Now that I wrote that down, isn’t `<es:instance/>` just a specialized case of `<es:view/>`? Wouldn’t Stewart want to model the `QualityOfCare` view just like the canonical (and then do model-to-model) transformation?

(Copying @damonfeldman too.)

[2016-09-19 21:09] grechaw commented on #151
OK I've changed the default branch to master now.  I'll close this issue as that's the remediation, but keep it coming!  You may after all want to try develop after the gradle version is updated :)

[2016-09-19 21:09] #151 closed

[2016-09-19 21:14] grechaw commented on #87
Verified complete.

[2016-09-19 21:15] grechaw commented on #152
Assigned to justin -- this is a sitelet issue.  I configured the project to suppress triggers db and didn't communicate that change.

[2016-09-19 21:54] jmakeig commented on #152
Fixed in marklogic/marklogic-9-ea-sitelet@cea03756a7f36056f9d751b90f4319bd72b73360. I need to figure out how to update the live site still.

[2016-09-19 23:22] grechaw commented on #150
in PR

[2016-09-21 02:14] sammefford commented on #126
I'm fine with closing this, looks like Rob marked it fixed in ml-app-deployer https://github.com/rjrudin/ml-app-deployer/issues/113

[2016-09-21 02:14] #126 closed

[2016-09-21 12:13] rjrudin commented on #126
It'll be part of ml-gradle 2.4.0

[2016-09-21 18:16] sastafford opened #154 "Documentation edit for changing ML properties"
Make sure to indicate in the setup that there is a second properties file that may need to be edited when you run _gradle run_ in the examples.

src/main/resources/application.properties

I run a local virtual machine running on a separate address than localhost.  I had to make the changes to both gradle.properties and application.properties.

[2016-09-21 18:43] sastafford opened #155 "Add the gradle wrapper under entity-services-examples"
I see the gradle wrapper in the root project folder but you will want to add it to the examples project root.

[2016-09-21 18:46] jmakeig commented on #155
Why?

[2016-09-21 18:52] sastafford commented on #155
OK, technically it is not necessary.  I'm used to putting the gradle wrapper in all of the subprojects.  So I don't have to run from a relative directory (i.e. ../gradlew mlDeploy).  I actually missed the part of running it from a relative directory.  I can live either way.  Your call.

[2016-09-21 19:38] grechaw commented on #155
That method had not occurred to me before @sastafford .  In fact I do some unpleasant things because I was having trouble with paths.  I think I'll give it a whirl -- if it makes IDEs and command line play better together than I'll be happy to commit the wrapper to another location.

[2016-09-21 19:50] grechaw commented on #154
Got it. Thanks

[2016-09-21 20:54] grechaw commented on #154
Hi @sastafford were you referring to the EA-3 sitelet here or github?  github does mention this properties file  https://github.com/marklogic/entity-services/tree/master/entity-services-examples#step-two--run

[2016-09-21 21:03] bsrikan opened #156 "Regression test broken in windows"
Entity services tests are failing in windows with error:

`java.nio.file.InvalidPathException: Illegal char &lt;:&gt; at index 2: /C:/builds/win64/HEAD/qa/entity-services/entity-services/build/resources/test/json-models"`

Stack Trace:

`<testcase name="classMethod" classname="com.marklogic.entityservices.tests.TestDatabaseProperties" time="0.0">
    <failure message="java.nio.file.InvalidPathExce

[2016-09-21 21:17] jmakeig commented on #154
@sastafford Please [file an issue on the EA sitelet](https://github.com/marklogic/marklogic-9-ea-sitelet/issues/new).

[2016-09-22 16:04] grechaw commented on #156
K we're merged with this change, all set.

[2016-09-22 16:28] grechaw commented on #155
I added the wrapper to the examples project in develop branch.  I'd like to leave this in 'fix' though until I update the README.  I'm not completely confident about the way we've set up ml-gradle resources for this project, given how two sub-projects share a top-level config, while the other two sub-projects each have their own.

[2016-09-22 16:32] jmakeig commented on #155
How do we figure out if we’re “doing it right”, both from the Gradle and the ml-gradle perspective?

@rjrudin @sastafford

[2016-09-22 16:38] grechaw commented on #155
In terms of how we work with unit + functional tests from QA I'm pretty sure we're in uncharted waters.
To me, the tradeoff is that, right now the tests all run OK, and take a while to setup/teardown.  Adding one more mldeploy will slow it down even more, and take a little effort to get right and move ahead.

It also might turn out that we need more than one examples db... or we may want to spin e

[2016-09-22 16:42] jmakeig commented on #155
I’d prefer not to do that. There is value in having the examples more easily discoverable.

[2016-09-22 16:46] grechaw commented on #150
Pushed up to 3.1.

[2016-09-22 17:30] sastafford commented on #155
@grechaw - "one more mldeploy will slow it down even more"

What did you have in mind that you would need another application deployment?  You could reuse the same database/appserver and just wipe the data between runs.

[2016-09-22 23:24] grechaw commented on #145
Made good progress on prototyping this change.  Should be able to update spec tomorrow with some examples.

[2016-09-23 17:18] bsrikan commented on #156
Shipping the bug as the regression is clean.

[2016-09-23 19:57] #150 closed

[2016-09-23 20:01] damonfeldman commented on #143
The idea of multiple views is very interesting. Instead of naming sections after their likely use (source, metadata, etc.) it asserts no opinion about use and simply states that they are alternate presentations for the same data (view type=x, view type=y). The distinctions are now system distinctions - what corresponds to your entity definition (<es:instance>), and what does not.

I want to call o

[2016-09-23 20:06] jmakeig commented on #143
Isn’t that the whole point of views? To maintain a static interface, even if the physics data doesn’t necessarily reflect that.

[2016-09-23 23:08] grechaw commented on #140
This issue is also fixed along with #145

[2016-09-26 15:20] damonfeldman commented on #143
Yes. The externally-visible form is certainly a view. The internal section is more "the API to the indexes."

[2016-09-26 18:13] bsrikan commented on #143
Copying self @bsrikan to the issue

[2016-09-26 18:39] jmakeig commented on #143
* **Index:** Data you want to affect the index, but not necessarily serve
* **Serve:** Return data to clients without runtime transformation
* **Raw:** Maintain (immutable) source for future views or autidability
* **Metadata:** Information about the data or lifecycle

[2016-09-26 18:46] grechaw commented on #145
Took back -- should use random integer rather than a required field for generating subject iris.

[2016-09-26 18:46] jmakeig opened #159 "Verify whether a primaryKey is actually unique and not empty"
Helper to figure out if a property is really unique.

[2016-09-26 18:47] jmakeig opened #160 "Bitemporal entities"
Placeholder for bitemporal entity scenarios.

[2016-09-26 18:53] damonfeldman commented on #143
After our discussions today, I'm starting to feel more comfortable with the original envelope naming. (headers, triples, content). The reason is that it conveys a sense the the <content> is the main thing, but you can add more in <headers>, without assuming the particular use.

Using the data hub framework as an example, the Raw/Staging database is "about" raw data. So the content is raw data ther

[2016-09-26 19:42] jmakeig commented on #143
I feel strongly that the wrappers should convey the _purpose_ of the wrapped data. `headers`, `triples`, `content` is all over the place, mixing format and position. Yes, you can do anything with MarkLogic. However, the point here is to be prescriptive about _a_ way.  We identified four key use cases above for why you’d want to segregate data in an envelope:

* **Index:** Data you want to affect t

[2016-09-26 19:46] jmakeig opened #162 "Figure out if/how to use metadata values on envelopes"
New key-value capability in MarkLogic 9.

[2016-09-26 21:42] grechaw commented on #145
After the discussion today, it seems that if there is no primary key, we just should not attempt to emit the two triples.  There's no reliable way to establish unique identity that will last, so the case for creating triples is kind of weak.

Proposing thus that we only emit the two triples if there is a primary key designated for the given type.

[2016-09-26 22:27] jmakeig commented on #154
@sastafford Why did you have to change `src/main/resources/application.properties`? Those values are dependent on `gradle.properties`. Did you change the port number in the latter?

[2016-09-26 23:05] bsrikan commented on #145
Extraction template in description generates a graph Uri which earlier was of the format
baseUri#ETTitle-Version if baseUri did not end with "/"

Now its baseUri/ETTitle-Version irrespective of whether baseUri ends with "/" or not.
Please fix this @grechaw as discussed.

[2016-09-26 23:43] jmakeig commented on #154
Fixed by marklogic/marklogic-9-ea-sitelet#40.

[2016-09-26 23:43] #154 closed

[2016-09-28 14:10] paxtonhare opened #165 "Backwards Compatibility with ML8?"
Is there any value in making the codegen stuff backwards compatible with 8? Right now it uses the new XQuery 3.1 stuff (`=>` and `map:with`). That means it won't work on ML8.

But if it just used the current, uglier map interfaces then it would fly on 8.

[2016-09-28 20:45] grechaw commented on #149
getting a start on this one.

[2016-09-28 23:01] grechaw commented on #149
This is turning out to be a much thornier issue than expected.  I've created several good tests though, and now it's just a matter of getting the code to work!

[2016-09-29 15:27] damonfeldman commented on #143
I'm a little unclear about what an es:instance is. I think of it as data that conforms to a defined model, as distinct from data that is handled less formally and does not have a model defined. To avoid BMOF (big modeling up front) I think it is important to have both, so in that view many things would not be instances. Is that accurate?

I actually like <index>, <serve>,<instance>, <metadata>. Ca

[2016-09-29 15:55] grechaw commented on #143
I think you have the notion of instance right, but it's more about SMOF (small model up front).  Only define the things you know you'll need.  Successive iterations will expose more of the common model.

This iterative approach I realize may not be a good assumption.  Is it acceptable for folks to create just a sparse model and expect to migrate it forward over time?

[2016-09-29 17:37] bsrikan commented on #149
Good to know Charles. I am ready for it :)

[2016-09-29 20:56] grechaw commented on #149
Collecting work and more information under issue #76 .  I'll reference this bug and that task as part of the PR documentation.

[2016-09-30 18:31] paxtonhare commented on #122
I too would like to see support for namespaces in instances.

[2016-09-30 23:42] grechaw commented on #80
I've got an implementation of this working.  I'll pitch it to the WG Monday and see whether or not to move foward with the change.

In essence, I've added an attribute to the default for `es:instance-to-canonical-xml`.  If a property is of type array, then the XML has an attribute datatype="array" added to it

[code]

This attribute can inform es:instance-json-from-document(), which then serialize

[2016-10-01 06:53] bsrikan opened #170 "Misplaced comments in instance-converter-generate()"
Can be removed:
`(: because this implementation uses an XML envelope.                                :)`

Misplaced reference:
`(: The following line identifies the type of this instance.  Do not change it.      :)`
Above comment should refer to:
=>map:with('$type', '<EntityTypeName>')

[2016-10-02 06:01] bsrikan commented on #149
The fix provided in #167 only works for external references. For local $ref I get an error as below:

`XDMP-AS: (err:XPTY0004) $source as node()? -- Invalid coercion: (fn:doc("10249.xml")/Order/OrderDetails/OrderDetail[1]/ProductID, fn:doc("10249.xml")/Order/OrderDetails/OrderDetail[2]/ProductID) as node()?`

IMO in the entity-services-codegen.xqy code below both local and external $ref should be

[2016-10-02 06:03] bsrikan commented on #149
I get that error while executing:

ext:instance-to-envelope(ext:extract-instance-Order( doc('10249.xml')))

[2016-10-03 16:14] grechaw commented on #149
That does look like the right change.  I must not have a unit test that covers it.

[2016-10-03 19:27] grechaw commented on #145
OK back to you for verification.

[2016-10-03 22:58] grechaw opened #172 "Add xdmp:mapping false to version translator"
xdmp:mapping "false" has been added to the instance converter, but not yet to the version comparison module.

There appear to be side effects when I add it, so this issue is to track the change.

[2016-10-03 23:47] grechaw commented on #149
OK I was able to track this down...  With that document and the generated code, I indeed get the error that you do.  It's indicative of an XPath that is getting a sequence rather than an single node, and represents something that needs to be customized.  The OOTB transform works on this XML:

[code]

I had to makd CustomerID and a few other things integers in order to run the extraction successful

[2016-10-03 23:53] grechaw commented on #149
Leaving the source document alone, I made this diff to the generated module to make the extraction work ... not too bad I think:

[code]

[2016-10-03 23:54] grechaw commented on #149
So back to you -- this is a place where the module needs a little massaging to work with the soruce data.  If the nesting is not as the codegen expects sometimes a /* will fix it.

[2016-10-04 23:01] bsrikan opened #173 "extract-instance-SchemaCompleteEntityType returns an additional property"
Query:

[code]

Output:

[code]

referenceInThisFile and maybe externalReference (both local refs) are being returned and external refs in the model are not. Not sure what to expect.

[2016-10-05 01:19] bsrikan commented on #140
Earlier PR #164 pushed changes to test/keys that took care of this fix.

[2016-10-05 01:53] bsrikan commented on #149
Keys updated as the fix now returned values as expected. Changes available in PR # 175

[2016-10-05 01:54] bsrikan commented on #145
Keys updated and new model added. Updated keys after #171 was merged. Changes available in PR #175

[2016-10-05 01:54] bsrikan commented on #76
Changes for moving extract-array() to es:* module has been tested and seems to be working as expected. Keys were updated for instance-converter-generate() and version-translator-generate() tests. Test/key changes available in PR #175

[2016-10-05 17:58] jmakeig opened #176 "Checksums on instance values"
As a compliance officer, I want to be able to quickly and accurately determine if an entity instance has changed. Rather than doing a property-by-property comparison, it would be convenient to be able to hash entities to get a unique signature that reflects its complete state. If that state changes the hash must change too. It’s important that this hash is *not* dependent on the actual serializati

[2016-10-05 18:45] grechaw commented on #176
You are right -- an in-memory entity instance could be accurately hashed.  Of course
that's not a general XML solution.  Entity services
could easily provide this functionality.   If properties appropriate for hashing were part of
the model declarations, then the hash could be used to deduplicate data too --
in your staging-to-production process just get unique values for the hash and only promote

[2016-10-05 18:46] grechaw commented on #176
If a denormalized instance's hash doesn't match the standalone copy, then a cascading update needs to be applied (or there's some other data problem)

[2016-10-05 19:38] jmakeig commented on #176
@grechaw I’m not sure what you’re getting at here.

[2016-10-05 22:54] grechaw commented on #176
Let's  say that you have a 'master' document for a person, but that person also exists, as denormalized copies, in some other documents for speed.  If you find that their two hashes are not the same, then the denormalized copies should be updated from the master record (in a corb-like job, say)

[2016-10-06 15:24] jmakeig commented on #176
Yes, we should have enough information in the model to do batch (or even trigger-based) updates along the graph of related entities to ensure denormalized copies are up-to-date. Testing checksums would be a quick way to determine if an entity’s denormalized state needs to be updated in a foreign entity.

[2016-10-06 21:48] bsrikan opened #177 "deploying e2e and examples give MANAGE-INVALIDPAYLOAD error"
Both e2e and examples give an error as below when "../gradlew mldploy" is run

`POST request for "http://localhost:8002/manage/v2/databases" resulted in 400 (Bad Request); invoking error handler
Logging HTTP response body to assist with debugging: {"errorResponse":{"statusCode":"400", "status":"Bad Request", "messageCode":"MANAGE-INVALIDPAYLOAD", "message":"MANAGE-INVALIDPAYLOAD: (err:FOER0000) Pa

[2016-10-07 00:07] grechaw commented on #177
Yes, I saw this too and immediately went to the workaround of admin/admin.  It's clearly not our bug.

I'll alert Jake.

[2016-10-07 00:11] grechaw commented on #177
Just saw Jake make a change related, bug 42519.

Could be that this will be fixed in the morning, maybe with a new database directory.

[2016-10-07 00:18] jmakeig commented on #177
Friends don’t let friends run their tests as `admin`.

[2016-10-07 01:05] grechaw commented on #177
... we won't speak of friends who BREAK THE BUILD ... :)

[2016-10-07 18:40] bsrikan commented on #177
Bug 42519 has comments that the issue has been fixed and is in Test. Closing this task as e2e and examples have deployed OK in regression today.

[2016-10-07 18:40] #177 closed

[2016-10-11 16:10] grechaw commented on #155
@sastafford I've trained myself now toward `./gradlew mlReloadModules` or the analogous finer-grained commands, which does indeed speed up deployment a lot.  I've refactored the examples directory quite a bit (I'm going to put WIP work in a PR shortly) in order to leverage one directory per example.  I like having the wrapper there available for examples, and so I'm leaning toward just resolving t

[2016-10-11 18:22] grechaw commented on #83
Going to get started on this today.

[2016-10-11 20:52] rjrudin commented on #155
FWIW, I run "g -i mlreloadmod" (I'm too lazy to type "gradle", so I aliased "g" to it). I like "-i" for info-level logging, particularly for reloading modules, as I just like to verify the modules are getting loaded. And you don't have to type full task names in Gradle - as long as you type enough characters to uniquely identify the task, Gradle will figure it out.

I run "mlreloadmod" all the tim

[2016-10-11 23:44] grechaw commented on #139
Here is an example of the output that I've created in my work today, @bsrikan, @jmakeig @kcoleman-marklogic

[code]

[2016-10-12 18:22] grechaw commented on #83
Made progress here.  Working on formatting... again...

[2016-10-13 16:23] grechaw commented on #172
In PR.

[2016-10-13 16:27] grechaw commented on #156
Is OK to close as well?  I'm looking to clean up github issue list.

[2016-10-13 16:29] grechaw commented on #139
In PR

[2016-10-13 16:30] grechaw commented on #83
In PR

[2016-10-13 18:56] bsrikan commented on #156
Still see this issue in regression occasionally.
https://regr-status.marklogic.com/platform/diff?area=server&branch=b9_0&platform=winnt-64-w2k12-cluster&date=2016-10-12&diff=TEST-com.marklogic.entityservices.tests.TestEntityTypes.xml

[2016-10-13 20:34] bsrikan commented on #146
Fix working as expected. Tests running OK in regression. Shipping the bug.

[2016-10-13 20:55] bsrikan commented on #76
extract-array() working as expected after moving it to es:* module. Tests running successfully in regression. Shipping the bug.

[2016-10-13 23:08] bsrikan commented on #140
Fix working as expected. Tests running OK in regression. Shipping the bug.

[2016-10-13 23:22] bsrikan opened #181 "column name should be same as primaryKey for the joined column"
Query:

[code]

Output:

[code]

[2016-10-14 16:40] grechaw commented on #181
I just updated the spec to reflect this decision (there was no info on the name of this column previously)

[2016-10-14 16:42] grechaw commented on #172
Not much to do for QA here I think.  But you'll probably note the change going by.

[2016-10-14 16:43] grechaw commented on #170
I revamped the comments somewhat, I think addressing this issue in the process.

[2016-10-14 16:44] grechaw commented on #155
Good rules of thumb @rjrudin , will speed up dev cycle a lot.

[2016-10-14 16:44] #155 closed

[2016-10-14 17:46] grechaw commented on #181
I've got a fix for this ready to go.

[2016-10-14 22:47] bsrikan commented on #172
Generated code now has xdmp:mapping false added. Changes not in PR yet. Will ship after creating a PR and successful regression run.

[2016-10-14 22:55] bsrikan commented on #170
I have verified that the comments are generated OK now. Will ship the bug after tests/keys are updated and run OK in regression.

[2016-10-14 23:05] bsrikan opened #182 "Indent issue in the commented function when source has ET target doesnt"
Query:

[code]

Above returns a module which has function test-3-from-test-5:convert-instance-Product() commented as expected. But this function has indentation issues as below:

[code]

[2016-10-14 23:17] bsrikan opened #183 "Unexpected comments in version-translator code when target has an ET source doesnt"
Query:

[code]

There are 2 issues here.
1. There are empty XPaths in the generated code
2. Above generates code as below where the comments "(: The following property was missing from the source type :)" is not expected. It should be a no-op transform and look identical to what instance converter generates:

[code]

[2016-10-14 23:24] bsrikan opened #184 "Missing comments in version translator when source has property that target doesnt"
Query:

[code]

Generated code should have properties that are missing in target, commented out as
"(:  The following property was in the source, but not the target :)
   (:  =>map:with(  NO TARGET , casting-function($source-node/path/to/target/property) )          :)" per spec.

Actual output missed out that property completely. Expecting property "Discontinued" below and be commented out:

[code

[2016-10-14 23:34] bsrikan opened #185 "Spec needs update to include es:extract-array in version-translator"
version-translator sample code needs to be updated with es:extract-array in the functional spec

`=>es:with("prop4", json:to-array($source-instance/ET1/prop4 ! xs:int(.)))`

`=>es:with("referenceProperty",
           ($source-instance/ET1/referenceProperty/ET1) !
           X:convert-instance(.))`

`(: Warning: potential data loss, truncated array :)
=>es:with("prop5", ($source-instance/ET1/prop5)

[2016-10-14 23:49] bsrikan opened #186 "Order of functions returned per ET type for version translator keeps changing"
Lets say source and target models have 2 ET types for ex Customer and Product. version translator generates code such that the order of functions returned keeps changing.

ie on first run its
X-convert-instance-Customer() { ... }
X-convert-instance-Product() { ... }

on second run its
X-convert-instance-Product() { ... }
X-convert-instance-Customer() { ... }

Needs to be consistent.

[2016-10-17 18:47] jmakeig commented on #143
@damonfeldman said,

The effect is the same though, with `index`, `serve`, and `instance`: materialization of some model, wether explicit from and Entity Services definition or implicit from some code. What if you want to both index and serve a particular instance of an entity? The distinction gets fuzzy and unhelpful. (Yes, I’m contradicting what I asserted above.) Couldn’t we collapse these into

[2016-10-17 18:53] jmakeig commented on #143
The iterative approach should be our default assumption. One of the reasons MarkLogic is better is because you can model gradually as you understand the data/requirements. There may be greenfield applications that start with a mostly formed model upfront, but I think that’s the exception not the rule.

[2016-10-17 19:08] grechaw commented on #173
in PR

[2016-10-17 19:09] grechaw commented on #181
In PR

[2016-10-18 20:26] grechaw commented on #121
Added a patch to PR.
I didn't address your last comment in it though @bsrikan so I'll probably add another commit to the PR before moving this to test.

[2016-10-18 20:51] grechaw commented on #121
OK I've added support for the last validation message that you posted, @bsrikan .

[2016-10-18 21:23] grechaw commented on #185
Just updated svn with changes to spec

[2016-10-18 21:58] jmakeig opened #188 "Assemble mode descriptors from graph"
As a data steward, I want to be able to organize my entities into descriptor docs as I see fit, for example, to group related entities into their own descriptor documents or separate entities into one descriptor per entity or to have just one descriptor doc for all entities. Each grouping should distill into the same entity type graph. Today, the downstream artifact generators assume one in-memory

[2016-10-18 21:59] jmakeig commented on #188
@grechaw @damonfeldman @paxtonhare

[2016-10-18 22:12] grechaw commented on #186
verified.  should be a simple use of json:object rather than map:map.

[2016-10-18 22:41] grechaw commented on #186
OK I've a fix ready for this and will add to PR #187

[2016-10-18 22:51] grechaw commented on #182
pushed to PR #187

[2016-10-18 23:08] grechaw commented on #183
The thing about the comment is that the source version in this scenario has no value to fill the XPath expression, and so will always be empty.  What needs to happen perhaps is for a developer to ascribe a default value to the property instead, one that is typed appropriately.  (Would mean a spec edit I understand).

Default values though are dangerous.  One would not want a dev to skip editing a

[2016-10-19 12:07] koenh1 opened #190 "attachments are output twice when calling mymodule:instance-to-envelope()"
should line
https://github.com/marklogic/entity-services/blob/develop/entity-services/src/main/xdmp/entity-services/entity-services-codegen.xqy#L278
not exclude $attachments also ?
As it stands now, calling instance-to-envelope() will output the attachments twice.

[2016-10-19 14:52] paxtonhare opened #191 "Consider using ML8 compatible xquery"
As written, the entity services library modules are heavily using map:with and =>.

If they were written with ML8 compatible code then ML8 can take advantage of the Entity Services codegen.

[2016-10-19 15:14] paxtonhare commented on #191
My bad. this is a dupe of #165.

[2016-10-19 15:14] #191 closed

[2016-10-19 15:15] paxtonhare commented on #165
@jmakeig This has relevance for the data hub. Rather than having to release 2 versions of the hub I would much rather release 1 version that works in both 8 and 9+.

[2016-10-19 16:10] grechaw commented on #165
@jmakeig , say the word and I'll prioritize this issue.  Of course I'd prefer if XQ 1.0-ml supported => in 8.  map:with is a trivial function to implement ourselves.

[2016-10-19 16:48] grechaw commented on #190
Your reasoning makes sense to me, but I've not noticed the behavior.   I would have thought that no names staring with '$' would be castable as NCName, in which case excliding $type is unreachable code.  Thanks for finding the issue @koenh1

[2016-10-19 17:00] paxtonhare commented on #165
@grechaw I guess you could use the

[code]

in your prolog. Would still work with all instances of 8.x

[2016-10-19 17:33] grechaw commented on #165
Yes, you're right @paxtonhare that would solve the issue.  There are some other things that have to be done in 3.1, but I don't think they would be too onerous.  It would be surprising to most MarkLogic developers, however, to be subject to the quirks of not having 1.0-ml (maybe)

The change is more about level of effort of changing the syntax I think.  I might have a => fetish, but I try to ratio

[2016-10-20 17:55] kcoleman-marklogic opened #192 "es:model-get-test-instances array of refs behavior is surprising"
This is probably more a request for clarification than a bug report.

The spec currently says the following about `model-get-test-instances`:

I have a property that is an array of entity refs, and I see two surprising things about the resulting test instance:

- The test instance only generates one item in the array, not 3, as spec'd. IDC, but it would be good to know how it is supposed to behave

[2016-10-20 18:25] grechaw commented on #192
Hi Kim, good catches.  The first was a deliberate change -- I remember editing the spec but I sure don't see those edits now!

The second issue -- it's not actually devolving to a string, although I admit it looks like that -- those are 'references' rather than embedded objects.  So there is a devolution, but that is indeed the valid way to represent a reference to another instance.

[2016-10-20 18:30] kcoleman-marklogic commented on #192
Definitely not a bug, then. Thanks for the clarifications, Charles.

[2016-10-20 18:30] #192 closed

[2016-10-20 21:41] bsrikan opened #193 "Linux only issue: model-validate() returns coercion error"
Query:

[code]

Response:

`XDMP-AS: (err:XPTY0004) $__cnode__ as node()? -- Invalid coercion: function(map:map?, item()?) as item()* as node()`

Regression started today Oct20:
https://regr-status.marklogic.com/status?area=server&branch=b9_0&date=2016-10-20

[2016-10-20 22:03] bsrikan commented on #83
version-translator now returns unexpected output as below. Bunch of NO TARGET:

[code]

[2016-10-20 22:03] bsrikan commented on #83
Query for above:
[code]

[2016-10-20 22:21] bsrikan commented on #181
Tests ran successfully in regression. Shipping the bug.

[2016-10-20 22:28] bsrikan commented on #172
This is working as expected now and version-translator() code returns xdmp:mapping false. Shipping the bug.

[2016-10-20 22:51] bsrikan commented on #170
Tests running as expected. Shipping the bug.

[2016-10-21 06:31] bsrikan commented on #121
Tests ran successfully in regression. Passing it to you @kcoleman-marklogic for review since you raised this bug.

[2016-10-21 06:32] bsrikan commented on #173
Tests ran successfully in regression. Shipping the bug.

[2016-10-21 23:09] bsrikan commented on #185
Verified specs and looks good. Shipping the bug.

[2016-10-21 23:10] bsrikan commented on #149
Tests ran successfully in regression. Shipping the bug.

[2016-10-21 23:12] bsrikan commented on #139
Tested and looks good so far. Will test for other version-translator bugs, verify the listing of non-functional differences in other model descriptors and ship the bug.

[2016-10-22 17:03] jmakeig opened #195 "Optic queries over entities"
As a developer, I want to be able to write “strongly typed” Optic API queries. Rather than `op.viewCol('Order','quantitiy')`, I want to write `order.quantity`. The latter style has several benefits:

1. It’s less typing
1. More importantly, it’s possible for an IDE to provide hints, docs, refactor support, etc.
1. It allows safer encapsulation of different concerns

This probably does’t belong in

[2016-10-23 15:19] ehennum commented on #195
Although this context strongly motivates the thought, perhaps the requirement belongs in a different repository?

On the second open question, I believe the object returned by an accessor operation could provide these conveniences by introspection instead of code generation.  The problem is on the client, where the entire plan is built and sent to the server before the accessor operation executes.

[2016-10-24 17:30] jmakeig commented on #195
Just an inkling thus far. Do you have a better forum in mind?

Right, I imagine we'd have to do code gen at the clients to avoid the cost of asking for the live metadata.

Yeah, I’m just digesting much of this in the context of everything else. Good stuff.

[2016-10-24 20:17] grechaw commented on #190
"$type" castable as xs:NCName

This evaluates to 'false'  .  So the bug here is rather that the second part is unreachable code.  $attachments should also not be emitted.

[2016-10-24 22:18] kcoleman-marklogic commented on #121
It's certainly improved for the one error case I reported. If that's all the verification needed then this can be closed.

[2016-10-25 16:33] #193 closed

[2016-10-25 16:54] grechaw opened #196 "Examples no longer load data."
The .flush method went away on batcher, so I removed invocations from the examples loading code, but now something is missing because the data never gets loaded from sources.

I need to reinstate whatever new code replaces the old flush method.

[2016-10-25 17:11] grechaw commented on #196
The replacement method is flushAsync or flushAndWait.  I need to reincorporate one of these into each example.

[2016-10-25 17:58] grechaw commented on #196
I went ahead and resolved this little issue with examples and pushed.  examples now should be working well with current develop branch of java client.

[2016-10-26 23:26] grechaw commented on #83
OK your suggestions have been incorporated, all is in good shape.

[2016-10-27 19:07] bsrikan commented on #183
Sending back to fix @grechaw as second issue pointed above still persists:

[code]

[2016-10-27 20:36] kcoleman-marklogic opened #198 "deploy of example failing with an auth error"
This will probably turn out to be user error. I have a clean installation of the server and a clone of the project. I just want to run the examples, so I went directly to the examples dir to try to do so. I did not run gradle at all in parent dir.

I modified the gradle.properties in examples dir to change mlHost (mine is remote), mlAdminPassword, mlRestAdminPassword, and mlManagePassword.

I then

[2016-10-27 20:59] kcoleman-marklogic commented on #198
Editing entity-services-examples/gradle.properties to set `mlRestAdminPassword` and `mlManagePassword` back to a series of asterisks made this problem go away. Is that WAI?

My guess it maybe changing the passwords in gradle.properties is conflicting with what's in entity-services-examples/src/main/ml-config/security/users/adam.json.

(Why, oh, why can't we just call that directory "examples". Lol

[2016-10-27 21:59] grechaw commented on #198
Some EA folks got the same issue.  srikanth tracked it down to a bug in ml-gradle around deploy/undeploy sequencing.

[2016-10-27 22:00] grechaw commented on #198
setting to fix -- we need the examples to be more fool-proof.

[2016-10-27 22:43] bsrikan commented on #186
This is working as expected now. Functions are returned in the same order at all times.
Shipping the bug.

[2016-10-27 22:47] bsrikan commented on #182
Indentation issue is resolved now. Shipping the bug.

[code]

[2016-10-27 22:50] bsrikan commented on #184
Issue fixed. Shipping the bug.

[code]

[2016-10-27 23:00] kcoleman-marklogic opened #199 "Improve how-to info for the examples"
I don't want to double up on this info by having it both here and in the ES dev guide. GitHub should be The Place. The instructions are pretty good right now, but assume more knowledge than I'm comfortable with. I would like to either beef up the README or, if Justin and Charles prefer to keep the landing page minimal, create a project wiki page with more detailed info.

What I perceive as current

[2016-10-27 23:33] bsrikan commented on #196
@grechaw When I run "../gradlew runExampleRaces" I get transform extension does not exist error:

[code]

[code]

[2016-10-27 23:36] bsrikan commented on #196
I did install the latest java-client snapshot like so:
`mvn install:install-file -DgroupId=com.marklogic -DartifactId=java-client-api -Dpackaging=jar -Dversion=4.0-SNAPSHOT -Dfile='lib/java-client-api-4.0-SNAPSHOT.jar'`
and could see in my Eclipse that import statements for WriteBatcher and QueryBatcher do resolve.

[2016-10-27 23:46] bsrikan commented on #198
I think what Kim mentioned here is different from what EA folks were doing although the error message is same. Kim has tried deploying from the examples dir and she found the root case to be setting of password to something other than "********"

[2016-10-28 00:18] bsrikan opened #200 "version-translator should list datatype changes also as non-functional differences"
Currently version-translator has an info section that lists following non functional differences:
    primaryKey: None
    required: None
    range indexes: None
    word lexicons: None

It is good to have datatype changes of properties for an ET, listed as non functional differences as well.

[2016-10-28 04:49] bsrikan commented on #139
For scenario where Source has
[code]
Target has

[code]

Target Model report looks like below:

[code]
Type Order:
When Target has None, report doesnt show what was in source. It does so when Target has atleast one property like in wordLexicon.
Type OrderDetail:
The reverse works just fine when source has None and Target has some index properties:

[2016-10-28 14:05] kcoleman-marklogic commented on #199
The README in the examples dir tells you to look at the info in each example dir for instructions on how to run it. And those READMEs say something like run "./gradlew runExamplePerson". That would all fine if only you didn't need to run that command from the parent dir. This is silly experience, even if the directions were correct:

- go down into the example dir
- read the instructions
- go back

[2016-10-28 14:31] kcoleman-marklogic opened #201 "Person example failing with NPE"
Could just be some mismatch between the current state of DMSDK and the current state of ES as I just pulled new Java Client sources this morning. Or maybe I need a newer server? Mine is from 10/24. Will try a server upgrade first.

`./gradlew --stacktrace --info runExamplePerson`

[code]

[2016-10-28 14:41] kcoleman-marklogic commented on #201
Alas, a server upgrade did not help. The example assumes a lot of knowledge I don't have (optic, sparql, etc.), so I'm not sure what threads to pull on. Suggestions?

[2016-10-28 14:45] kcoleman-marklogic commented on #199
The little bit about code gen at the bottom is great, but a little confusing out of context. I'd like to reword it a bit, and correct a couple typos.

[2016-10-28 15:54] grechaw commented on #196
runExample must be run after mlDeploy.

[2016-10-28 17:37] grechaw commented on #201
No, this is an optic query that returns no results, and my example code throws NPE for this.  Not the final state of examples, so I'll put this in "fix" status.

[2016-10-28 20:37] bsrikan commented on #196
This is now fixed. To deploy races have to deploy as:
../gradlew -PexampleDir=example-races mlDeploy

to run races example:
../gradlew runExampleRaces

Shipping the bug as examples loads data as expected.

[2016-10-28 20:43] bsrikan commented on #145
Shipping this enhancement as the tests are running OK in regression. Have added a note to self in e2e task in bugtrack to write Sparql and Optic queries for this enhancement.
Verified with sample query in races example and get below

[code]

[2016-10-29 00:25] grechaw commented on #198
Just to collect more issues here....
If you run gradle deploy from parent directory, it does not see schemas config for children (which are relative to the child directories.  So current state is that you have to run gradle mldeploy from subdirectories for unit tests all to pass, too.

[2016-10-29 06:37] bsrikan commented on #80
Shipping the bug as the added tests run OK in regression.

[2016-10-29 06:53] bsrikan commented on #83
All tests for this task/bug have been added and merged to develop. Shipping.

[2016-10-31 17:18] grechaw commented on #139
OK I understand the gap here.  Will get bugfix prepared.

[2016-11-01 22:40] grechaw commented on #190
I think this is just shippable, @bsrikan

[2016-11-01 22:55] bsrikan commented on #190
Sure, will wait for regression results tomorrow and ship.

[2016-11-02 18:31] grechaw commented on #198
I'm experimenting with configuration of security.
One way to make the deployment more idiot-proof (we think @bsrikan found a bug in using highly-privileged users who are not admin in ml-gradle), would be to use an admin user for administration, but 'user' users for running tests and apps.

@jmakeig did good work in putting security into the examples, but having done so he complexified the configur

[2016-11-02 18:45] grechaw commented on #198
For these projects, we have three levels of admin -- the 'admin' user has to create and remove users.  This user is currently only set at the parent project level.

I'm going to suggest that we dispense with the third 'middle admin' role.  It's causing issues for us that will make adoption harder, and yet most of the time, admin/admin will indeed be the administrative credentials for folks working

[2016-11-02 18:47] jmakeig commented on #198
Is the issue the security configuration or the multiple projects? I hadn’t considered the latter when I implemented what’s there. (And that’s probably more of a consideration for our demo potpourri than someone configuring a single application for herself.) Regardless, we need to get to the point where the set-up “just works”.

[2016-11-02 18:58] kcoleman-marklogic commented on #198
Perhaps some of this is handable through documentation. What you must/should/can do and what you must not do in standing up the examples. This ties back into the task I filed the other day. See #199.

[2016-11-02 19:08] grechaw commented on #198
Correct me if I'm mistaken @bsrikan but I think we're hitting an actual bug in ml-gradle.
The undeploy command, somewhere in the interaction of multiproject and ml-gradle, removes the rest-admin/manage user before trying to use him (adam) to remove things.  I think @bsrikan was going to file something against ml-gradle.

In my tests right now, when I just set tall the mlAdminUsername to admin, the

[2016-11-02 20:37] rjrudin commented on #198
Where does it fail? Users and roles aren't undeployed until near the very end. See https://github.com/rjrudin/ml-app-deployer/blob/master/src/main/java/com/marklogic/appdeployer/command/SortOrderConstants.java#L62 - the higher the number, the later it runs during mlUndeploy. So users, then roles, then mimetypes, then groups, then done.

Now - if this is multi-project, and Project A defines a user

[2016-11-02 20:58] bsrikan commented on #198
What you mentioned Charles about users getting removed first before databases are removed is what I observed as well.

For some reason now undeploy for e2e(not a multiproject) and examples(multiproject) didnt give any authorization error. I am going to try again from scratch ie deploy run test then undeploy and report if I get the auth error.

[2016-11-02 21:21] kcoleman-marklogic commented on #198
You guys probably already understand this, but just to be certain: The auth error I got was not during an undeploy. It was while deploying the example. No "un".

[2016-11-02 21:30] bsrikan commented on #198
Yes Kim. Moreover you tried setting a password other than "********" and you werent getting the auth error once you set the *s back in the password field right.

I think we are just listing all auth errors that we encounter while running examples here.

[2016-11-02 21:44] bsrikan commented on #198
I dont get auth error on deploy or undeploy for examples when running from examples dir.

We would get auth error on deploy or undeploy when we try to do so from parent project because the users are config to setup only in examples(and e2e)sub-projects. I think we did chat about this Charles that we would not want to move the ml-config/security to parent dir.

Except races none of other projects i

[2016-11-02 22:58] grechaw commented on #198
As an experiment though I did remove the admin users for e2e and examples.
deploy and undeploy are faster now (removing the unused roles would speed it up more)
I kind of like the improved UX of making the deploys faster.

Do you all support simplifying the security model if it is better UX?  It's just less likely to end up in some tricky unrecoverable state, even if there's no real bug.

[2016-11-02 23:03] bsrikan commented on #177
Added label closed to this task so it closes 42538 in bugtrack

[2016-11-03 14:41] kcoleman-marklogic commented on #198
Less is more, IMO. The focus should be on ES, anyway. This isn't SampleStack.

[2016-11-03 17:55] bsrikan commented on #190
Tests running fine in regression. Shipping the bug.

[2016-11-03 19:25] grechaw commented on #198
As the auth for examples was never something specified or required, I'd like to proceed with the simplificaftion.  @jmakeig one final OK from you?  I'll put the change into a branch momentarily for review.

[2016-11-03 19:52] jmakeig commented on #198
As long as it doesn't mean doing non-admin things as the `admin` role, like loading or transforming data.

[2016-11-03 19:55] grechaw commented on #198
Yes, that's a good point.  we are indeed covered there, with a runtime user who does the work in the java layer (harmonize, load, etc)

[2016-11-03 20:37] grechaw commented on #198
PR #205 addresses this issue with simplification of security model.

[2016-11-03 21:17] jmakeig opened #206 "Generate JavaScript for instance converter"
Assume JSON in and JSON out. Allow for XML in or out without significant pitfalls.

[2016-11-04 16:47] grechaw commented on #198
This bug is not exactly what was fixed with the recent PR merge, but the PR does take care of auth issues in general.  Do you want to give it a whirl now and see if it works better?  I'm going to also update the NPE error you were seeing in issue #201

[2016-11-05 16:20] kcoleman-marklogic opened #207 "instance-get-attachments won't return JSON data"
I have a mixed set of XML and JSON source data from which I created envelope documents. I find that `es:instance-get-attachments` works fine for the envelope docs derived from XML, but it returns nothing for envelope docs derived from JSON.

For example, given the following envelope doc, you get nothing back from `es:instance-get-attachments`:
[code]
I should be able to get my JSON back out as a s

[2016-11-05 16:41] kcoleman-marklogic commented on #207
QC workspace to facilitate playing with this. You prolly don't need it - the model is just your Person example - but I'm all for lowering barriers. Silly github wouldn't let me attach the workspace as an XML file, so I zipped it up to fake it out. Stupid software tricks.

[json-attachment-bug.zip](https://github.com/marklogic/entity-services/files/573347/json-attachment-bug.zip)

[2016-11-07 19:35] kcoleman-marklogic opened #208 "Review Getting Started chapter of ES dev guide"
Please send me feedback by 20161118, if possible. You can record feedback here, markup a PDF, send me email, whatever is easiest.

You can find the content here: http://pubs.marklogic.com:8011/9.0/guide/entity-services/getting-started. I have also created tasks, internally, for Charles and Srikanth.

The GS has XQuery and SJS parts. It might be most helpful if you look at the SJS portion so you ca

[2016-11-11 00:21] grechaw commented on #201
Put in some code to handle the NPE situation.

[2016-11-14 20:04] grechaw commented on #139
I've got this fix in place.  Running tests and adjusting keys.

[2016-11-14 20:58] grechaw commented on #183
I've paged this back in; seeing what needs doing.

[2016-11-15 00:24] grechaw commented on #183
I've got a fix to this issue ready.  It also refactors the modules a bit for readability, so it may take some more work to get it completely clean.

[2016-11-15 00:26] grechaw commented on #139
should be pretty easy to verify this one.  easier than my next PR :+1:

[2016-11-15 19:00] kcoleman-marklogic opened #212 "search options comment about dup items in confusing wrt primary key"
I have a primary key named "id" in my model. In addition, I tagged this property for a range index.

Options generation produces 2 constraints on id, one a values constraint (from the primary key), and the other a commented out path range constraint (from the rangeIndex):
[code]
I get that the options generation can't include both of them since the names would be the same, but I find the "This ite

[2016-11-15 20:33] grechaw commented on #212
excellent point.

[2016-11-16 01:14] grechaw commented on #183
over to you for comprehensive E2E woot

[2016-11-16 18:25] kcoleman-marklogic opened #214 "TDE template derived from Person example fails validation"
If I generate a TDE template from the Person example model and try to insert it using `tde:template-insert`, the template fails validation. It seems related to having a local ref.  My server build is from yesterday (20161115).

Is this user head gap or a problem with the generated template? Is there a customization lesson in here that I need to communicate to users?

The model looks like the follo

[2016-11-16 18:53] bsrikan commented on #139
Shipping the task. The report in the info section looks good and updated keys are in PR #213.

[2016-11-16 20:14] kcoleman-marklogic opened #215 "func spec: cleanup TDE discussion"
The section of the spec that describes the characteristics of the TDE template is kind of confusing right now. In your copious spare time, please review and revise. I don't require this for EA4, but I need it, say, some time between now and Jan.

I am referring to the section with the following contents. I have inserted my questions/comments in italics.

* The schema for all templates is has the t

[2016-11-16 23:28] kcoleman-marklogic commented on #215
More from the same section. At the bottom where it talks about customization, you say:

* If there is no primary key for an entity type with an array, then it's up to the user to join the array values to the rest of the entity.

Earlier, you say no template is generated for an entity type that has no primary key, so I don't understand what this is saying. This is apparently saying something differ

[2016-11-16 23:37] rashiatmarklogic opened #216 "ES guide : headline change"
Generate a Model from a Basic Model
should this be changed to "Generate a Model from Descriptor".

I find it very confusing to use Basic model for model descriptor.

[2016-11-16 23:42] rashiatmarklogic commented on #216
model descriptor -> basic entity model -> model

shouldnt it be :  model descriptor -> basic entity model -> persisted entity model

[2016-11-16 23:42] rashiatmarklogic commented on #216
@bsrikan @grechaw
subscribing you guys

[2016-11-16 23:52] rashiatmarklogic opened #217 "ES guide : there is no api named query-options-generate"
I think you wanted to say search-options-generate() in the following line:
You can use es:query-options-generate to create a set of query options suitable for use with the Search API and the Client APIs.

[2016-11-17 00:13] rashiatmarklogic opened #218 "ES: guide - wrong languages"
Getting Started Using XQuery
This section uses Server-Side JavaScript and JSON to introduce the Entity Services APIs. If you prefer to use XQuery and XML, see Getting Started Using JavaScript.

Should be :::

Getting Started Using XQuery
This section uses Xquery and XML to introduce the Entity Services APIs. If you prefer to use Server Side Javascript and JSON, see Getting Started Using JavaScript

[2016-11-17 01:01] kcoleman-marklogic commented on #216
Since you didn't include a link to the content, it's hard to tell for sure what you're looking at, but I'm guessing you're talking about the Getting Started chapter. In future, please include a link. Also, it is better to use BugTrack for doc issues since the documentation is not maintained on GitHub.

Be that as it may, one does not generate a model from a descriptor. The process goes model descr

[2016-11-17 01:15] kcoleman-marklogic commented on #217
You're correct. This has been fixed. If you want to check it, you're welcome to do so. Otherwise, I will just tag this as ship.

[2016-11-17 01:19] kcoleman-marklogic commented on #218
This is fixed.

[2016-11-17 04:00] rashiatmarklogic commented on #217
Great ! Will check tomorrow.

[2016-11-17 18:02] grechaw commented on #214
This will be a regression from some work I did a couple weeks ago.  Choice of column names clearly doesn't work the same when it's a self-join!

Agreed that this is an issue -- I don't think the solution is very obvious, but we can hash it out.

[2016-11-17 18:57] rashiatmarklogic commented on #217
Looks good now.

[2016-11-17 19:02] rashiatmarklogic commented on #218
Good to go.

[2016-11-17 19:09] rashiatmarklogic commented on #216
Well, I do not think you need to add a separate step for descriptor to basic model because you have mentioned the validate function to do so. I am fine with "the model". Closing this issue

[2016-11-17 19:09] #216 closed

[2016-11-17 22:01] grechaw commented on #215
Ach, what a mess! Given what you've said about priority I'll defer editing this  now, but recognize a distinct need to go back over this section and make it sensible.

[2016-11-18 12:18] paxtonhare opened #219 "Arrays and items"
Is the datatype = 'array' and items: {} format a product of the Open API format?

I ask because it's a little bit funky. By that I mean that you might end up having to code some logic in your client code to deal with arrays. For example when to set a value in datatype vs items.datatype.

I'm doing this for the hub UI and it gets pretty complicated.

[2016-11-18 17:15] grechaw commented on #219
I agree, it is funky.   I also found it complex to cope with it.  And yes, it's part of the whole JSON Schema thing.  On the other hand, there must be code out there that deals with this exact structure, since it is indeed part of JSON Schema...

[2016-11-18 23:12] bsrikan opened #220 "Update comments in version-translator"
@grechaw I am creating this issue really for the third point below, but thought it would be OK to add other 2 issues that we discussed over chat as well.

Comments in version-translator needs more clarity as to what is the input to convert-instance-X() functions.

Following three places needs update:
1. Comment before convert-instance-X() function:
This function expects either a canonical document

[2016-11-21 20:10] bsrikan commented on #220
Test for point3:

[code]

Entity Type: Product

[2016-11-21 21:11] bsrikan opened #221 "Having to edit version translator output to work with envelope instance and canonical data"
Issue:

Having to edit version translator to include /* for "OrderDetails" and update function to "localArrayRefTgt-from-localArrayRefSrc:convert-instance-OrderDetail#1" in "convert-instance-Order()" to generate desired output when it should have worked out of the box

Data Required ==>
[code]

Version translator generate:
`es:version-translator-generate(fn:doc( 'localArrayRefs-Src.json'), fn:doc(

[2016-11-21 21:40] grechaw commented on #221
It seemed to us on the phone that, if you have to edit convert-instance, then there's probably a bug.  Looks like this one is around handling embedded objects.  In fact, now I think I understand that convert-instance needs a little more logic borrowed from the instance converter.

[2016-11-21 22:25] bsrikan commented on #221
This is how I think we want folks to use version translator:
ModelDescriptor-v1 needs some changes; so now there is ModelDescriptor-v2.
Users will now have two xqy files(instance-converter and version-translator side by side) and would have to update their application code to use convert-instance wherever applicable

What if someone decides to insert convert-instance() function generated in versio

[2016-11-21 23:20] grechaw commented on #221
If somebody wants to simply update the flow to use a new version ,then they should make a new instance-converter and modify it in the same way as the previous one, modulo changes to the version.

convert-instance should be used to convert canonical instance version1 to canonical instance version 2.

It really depends on the instance documents a client's architecture needs to keep around.

[2016-11-23 00:43] grechaw commented on #207
I've got a fix for this that we can triage as appropriate.

[2016-11-23 00:51] kcoleman-marklogic commented on #198
This is still not working for me. I still get an auth failure, though at a different stage of the deployment. It's getting a 401 when doing a `GET /manage/v2/roles`. A plain ol' curl request with the correct password works.

Do you want to track it here, or would you like me to file a new issue?

[2016-11-23 00:54] kcoleman-marklogic commented on #198
P.S. Working with today's server build, a fresh build of the Java Client (which appears to be the origin of the rejected request, based on the debug log), and the latest ES sources.

[2016-11-23 16:27] kcoleman-marklogic commented on #201
Presently blocked on testing this by my inability to deploy the example successfully. See #198 .

[2016-11-23 17:01] grechaw commented on #198
I need steps to reproduce.  The instructions for deploying examples have changed.  I suspect that you don't do things in an OOTB way (like, heaven forbid, not using admin/admin or something).  So I think you've got a valid issue, I just don't know what it is.

Important for examples are running from the examples dir, and using the -PexampleDir parameter.

[2016-11-23 17:01] grechaw commented on #198
heh FWIW when I just tried to repro I got a 500 error and missing module (need to rebuild)

[2016-11-23 17:18] kcoleman-marklogic commented on #198
Steps were the same as in the original filing of the issue.
* Clone the ES project.
* Went into the entity-services-examples directory
* Modified gradle.properties to change `mlHost` and `mlAdminPassword`
* Ran `./gradlew -PexampleDir=example-person mlDeploy`

You say the instructions have changed, but when I look at the README, it still looks like the above is the correct deploy command. What's t

[2016-11-23 17:19] kcoleman-marklogic commented on #198
And no, I don't have an OOTB configuration. My ML host is remote and my admin password is not "admin". I think the latter is the likely source of difficulty, just like before.

[2016-11-23 17:19] grechaw commented on #198
That looks right (they're different from EA-3 is what I meant).
maybe I have some boneheaded bug involving admin password -- i remember such a bug from samplestack days

[2016-11-23 18:25] bsrikan commented on #183
Shipping the bug. Tests running ok in regression

[2016-11-23 18:46] grechaw commented on #198
Not sure what the problem is, but I reproduced just now indirectly by changing the password in the properties file.  mldeploy still succeeded.  So the credentials for ml-gradle are not matching those in the properties file.  Maybe it's just the wrong property name, or perhaps multiproject is causing a confusing override.

This does need to be fixed, to unblock kim (workaround is admin/admin) and b

[2016-11-23 19:09] grechaw commented on #198
I think I've found a small bug in ml-app-deployer.  It will take me a bit to report properly.

The workaround that creates successful deployment is to add to your gradle.properties file

mlManagePassword=YOURADMINPASSWORD

Without this line, the manage client uses 'admin' as a default password for mlDeploy tasks.

I can add this line to the gradle.properties as a workaround as well, but should pro

[2016-11-23 19:10] grechaw commented on #198
I spoke too soon.  This change got initial deployment completed, but I just got another 401 further along.

[2016-11-23 19:10] grechaw commented on #198
In this case the 401 is in the loadSchemas command.

[2016-11-23 19:14] kcoleman-marklogic commented on #198
If you think it would help for me to change my admin password in the parent properties file, I'm perfectly happy to do so as a workaround.

[2016-11-23 19:15] kcoleman-marklogic commented on #198
(And I'm not blocked on anything except poking and prodding at your examples. This isn't preventing me from working on the documentation.)

[2016-11-28 20:41] grechaw commented on #214
You are getting good with entity services code machinations @kcoleman-marklogic .

I need a suggestion for column naming in this circumstance.  The first occurence of 'id' is the ID of the 'friend' on the left-hand side of a relationship.  The second is the ID of that person's friend.

[2016-11-28 20:44] grechaw commented on #214
The mitigation for this situation (if we don't change entity services codegen) is to rename one or both of those columns in the derived artifact.  Since we can predict when this will happen, however, it seems we should provide a template that doesn't break OOTB.

[2016-11-28 20:56] grechaw commented on #198
OK I've found where I left off here.  The first workaround appears to be to add to your properties file a new property

mlManagePassword=xxxx

with your admin password in it.   But that's not the entire story, it just gets me most of the way.
It's worth changing the admin username too -- this seems to be an altogether too pervasive kind of bug to be hitting late in the game.

[2016-11-28 20:58] grechaw commented on #198
I think the second bug is in the code I wrote into ml-app-deployer for loading the schemas database, a similar but separate defaulting error.

[2016-11-28 21:09] grechaw commented on #198
Here is the issue:

[code]

The RestAdminPassword, like ManagePassword, is either explicit or defaulted to 'admin'.  It doesn't follow a properties chain.  I can see @rjrudin defending that position.

What we need to make explicit perhaps is that you need properties for all of the roles, depending on what you expect mldeploy to try to do.

Another reason to merge manage admin and rest admin maybe.

[2016-11-28 21:15] grechaw commented on #198
adding mlRestAdminPassword helped here.

So I'm checking the non-admin username case, and will put the full inventory of properties into the examples file.  No reason to confuse or hamper with lack of information in this case!

[2016-11-28 21:32] grechaw commented on #198
OK I've added a commit to an existing PR that solves this issue.  We have to decide to triage, but this is a safe and good addition.
Note @jmakeig that I've taken the low road and provided the ubiquitous 'admin/admin' in the examples for every password and username, to underscore just how examply this example is.
Because anyone who has changed the values will know what to do here, I think.

[2016-11-28 22:43] jmakeig commented on #198
Sigh.

[2016-11-28 23:37] kcoleman-marklogic commented on #214
I'm not at all sure I am the best person to suggest a column name, given my deep ignorance of all things relational. Would something like "origin_id", "friend_of", or "friends_with" work?

[2016-11-28 23:44] kcoleman-marklogic commented on #198
Didn't the examples `gradle.properties` file have RestAdminPassword and ManageAdminPassword in it at the beginning of this exercise? Changing the password in those vars didn't help back when I initially reported this.

[2016-11-29 00:42] grechaw commented on #221
I coded up a solution for this issue.
It follows logic that is in extract-instance.  If a reference is local, it makes the assumption that the canonical xml has embedded references and emits an expression that works for them.  If the reference is external it assumes normalized documents and emits something that makes $refs.

I'm actually not that happy where we ended up.  Seems we should incorpora

[2016-11-29 17:48] sastafford opened #223 "Include a default grammar when I generate the search options"
As a developer
I want to TITLE
So that I can have a base grammar that I can modify later.

Right now, there is no default grammar when I generate search options.  By including a default grammar I could quickly show users/customers range queries from a query string.

Example:
q= salary GT 10000

[code]

[2016-11-29 17:49] sastafford commented on #223
Email discussion on 11/28

-----Original Message-----
From: Justin Makeig
Sent: Monday, November 28, 2016 2:46 PM
To: Charles Greer <Charles.Greer@marklogic.com>
Cc: Scott Stafford <Scott.Stafford@marklogic.com>
Subject: Re: RFE?

Yes, please create a GitHub issue with the discussion below.

Justin

[2016-11-29 18:02] ehennum commented on #223
We have always discouraged developers from defining their own grammar.

If anything, we're moving farther in that direction.  With the availability of SJS tools like JISON, that gives developers a better path for defining performant grammars.

We should think long and hard about whether entity services should encourage people to modify search grammars.

[2016-11-29 18:10] grechaw commented on #198
I think this is ready for you now @kcoleman-marklogic .  You'll see where you have to update username and password pretty explicitly in gradle.properties now.

[2016-11-29 18:46] grechaw opened #224 "When java-client-api maven rename happens, update entity services examples"
See https://github.com/marklogic/java-client-api/issues/436

That issue is set for 4.0.1 of java client api

[2016-11-29 23:21] sastafford commented on #223
@ehennum - I agree with the need to decouple grammar from search options.  But the fact that entity services generates search options encourages use of custom grammars via the search options.  In fact, this is the first I've heard of not using a custom grammar not offered by the Search API.

If you could recommend some other options for search grammar transforms I'd be happy to look into.

In the

[2016-11-29 23:34] grechaw commented on #220
I've made these changes and will put into a PR now.  I'm not completely sure whether my choices for wording will satisfy you, but we shall see.

[2016-11-29 23:49] grechaw commented on #223
Thoughts, @jmakeig ?

Adding boilerplate to the generated search options is trivial.  I also had no idea that customizing the grammar was in general use.

@sastafford , we'll be interested to know whether cts:parse, were it to be available, would meet your needs.  It's a faster parsing method, at the expense of some of the configurability of the Search API grammar.

[2016-11-29 23:52] ehennum commented on #223
@sastafford - yes, custom grammars are a documented capability, but we expect most Search API users won't create custom grammars.  Throwing the complexity of the grammar in the middle of the search options is a good way to send people running for the exit.

On the alternatives, I've done experiments with JISON in SJS.  From what I saw, JISON had more flexibility and better performance than a dynam

[2016-11-30 00:10] jmakeig commented on #223
@sastafford, I don’t understand the motivating example. If `salary` is configured as a range constraint don’t you get that behavior by default?

[2016-11-30 00:26] kcoleman-marklogic commented on #223
I think it would be terrible to include the grammar. Even setting aside the elephant-sized fact that we wish to discourage the use of custom grammars, including the grammar in the generated options adds a lot of noise that will not be needed/used by most users.

Just as you're able and expected to customize the code generated by ES, you can and should customize the options. If you want to use a cu

[2016-11-30 15:20] sastafford commented on #223
@jmakeig - thank for bringing to my attention that I am an idiot and not using the correct options file.  The grammar GT, LT, GE, LE is implicitly declared in the search options.  I have verified in my test environment.  I'm sorry for spinning up everyone about this.

[2016-11-30 15:20] #223 closed

[2016-11-30 21:51] grechaw commented on #224
Looks like this change has gone into develop.  Resetting milestone and will make a PR to change.

@kkanthet , you will be noting this change that cascades through future releases of entity services (and marklogic-jena, marklogic-sesame)

[2016-12-01 21:18] rashiatmarklogic opened #227 "Modified Model artifacts should be generated and deployed"
So, the issue is : Lets say I have model1 and now I am changing the model as model2. I can  run `version-translator-generate()` to generate a module which will convert the source instances into converted instances, but, do I need to remove all artifacts which were generated from model1 and deploy the new artifacts generated from model2 ?

If yes, then we should add this as part of the recommendati

[2016-12-01 21:23] rashiatmarklogic commented on #227
@bsrikan keeping you in loop too.

[2016-12-01 21:26] rashiatmarklogic commented on #227
part of the experiment is also - to see what happens when the artifatcs from model1 and model2 coexist. According to Charles the only artifact which will create some mess is "schema-generate" else all other artifacts can be modified for model2.

[2016-12-01 21:30] grechaw commented on #227
I would refine what you've said slightly.  The presence or absence of the old artifacts has nothing technically to do with Entity Services.  Entity Services doesn't really proscribe where to store documents or how to manage your data.

It is however true that the generated "application scaffold" artifacts do not make an attempt to specify versions except in comments.  A developer does need to be a

[2016-12-02 00:57] bsrikan commented on #221
I have added test and key updates to verify this bug. Works in my local. Will wait for regression run tomorrow and ship.

[2016-12-02 00:58] bsrikan commented on #220
I have added key updates to verify this bug. Updated sandbox test as well. Works in my local. Will wait for regression run tomorrow and ship.

[2016-12-02 00:59] bsrikan commented on #207
I have added new test to verify this bug. Works in my local. Will wait for regression run tomorrow and ship.

[2016-12-02 17:39] grechaw commented on #221
Hi @bsrikan before you ship this I'd like to consider maybe that we should not have had to update the keys this last time.  I managed to write a function that does the right thing for my test case, and am looking into whether or not I can generate this function without it looking too confusing.

[2016-12-02 18:02] bsrikan commented on #221
I updated the comments for the generated xqy module out of all version-translator output, but didnt have to change the keys that verified the convert-instance-output for this bug. It was a typo on my part and I meant to say added and updated test. As I had to update the test to call convert-instance from the generated version-translator xqy than the edited one.

[2016-12-02 18:28] bsrikan commented on #220
Tests run OK in regression. Shipping the bug.

[2016-12-02 18:33] kcoleman-marklogic commented on #198
I am able to successfully deploy the example now. Thank you.

[2016-12-02 18:41] bsrikan commented on #207
Test works OK in regression. Shipping the bug.

[2016-12-02 19:02] kcoleman-marklogic commented on #201
I was able to successfully deploy and run the example. No NPE or other errors. Shipping.

[2016-12-02 19:28] grechaw commented on #221
I do have code now that handles the old and new cases properly.   Let me adjust my tests and see whether you think another commit is needed (I do).

[2016-12-03 06:06] bsrikan commented on #221
Tests pass locally without having to edit the version-translator output. Last merge from #229 will run in next regression and will ship the bug then.

[2016-12-05 16:57] grechaw commented on #224
This task was accomplished.

[2016-12-05 17:01] grechaw commented on #219
anything more to do with this issue @paxtonhare ?

[2016-12-05 18:52] rashiatmarklogic opened #230 "runExampleRaces throws IllegalStateException"
MacAir-2797:entity-services-examples rgupta$ ./gradlew runExampleRaces
:entity-services-examples:compileJava UP-TO-DATE
:entity-services-examples:processResources UP-TO-DATE
:entity-services-examples:classes UP-TO-DATE
:entity-services-examples:runExampleRaces
10:49:33,494 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
10:49:33,495 |-INFO in ch.q

[2016-12-05 19:40] grechaw commented on #227
I'll take the action to put some information about versions and artifacts in the functional specification.

[2016-12-06 23:56] grechaw commented on #230
I've made the appropriate modiications to the examples code to avoid this error.  It was my mistake in DMSDK usage.

[2016-12-07 00:15] #224 closed

[2016-12-07 17:01] grechaw commented on #230
Note to @jmakeig and @kcoleman-marklogic , the races example is running successfully once more.

[2016-12-07 17:02] #152 closed

[2016-12-07 17:06] grechaw opened #232 "Consider refactoring of instance-converter functions to have separate let and return blocks"
In the data hub impementation, @paxtonhare used a style for the extraction functions that seems to me an improvement over how Entity Services does it.

[code]

This style has the benefit of putting all customization at the top of the function, and also makes it more obvious that the actual structure of the instance is more hands-off.

If docs can contain the changes to examples for 9.0-1 (I can he

[2016-12-07 17:26] #219 closed

[2016-12-07 17:33] kcoleman-marklogic commented on #232
It's fine.

I do have one comment, though: I was always under the impression that evaluating code in variables (rather than inline) is kind of anti-pattern for XQuery because it defeats the optimizer. If this is so, is this a smart choice?

(Mind you, I tend to code like this anyway because I still haven't shaken off my procedural upbringing and stubborn preference for maintainability over optimal

[2016-12-07 18:36] grechaw commented on #232
I think that the maintainability is the motive here.  But your concern is legit.  I suppose we need to weigh the importance and validity of this anti-pattern idea and move ahead based on consultation with pattern gurus.

[2016-12-07 19:45] jmakeig commented on #232
Let's not make this change in 9.0-1 until we weigh the performance/usability impacts. I don’t find the Data Hub style that much more readable.

[2016-12-07 22:07] grechaw commented on #215
In progress this week.

[2016-12-08 20:24] grechaw commented on #214
A proposal as I'm reviewing and editing spec.  In the circumstance where the columns have the same, name, append _l to the left one and _r to the right one.

[code]

Usage in SQL would be

SELECT l.name, r.name
FROM Person l, Person_friends m, Person r
where l.id = m.id_l and m.id_r = r.id

[2016-12-08 20:41] grechaw commented on #215
OK I've checked in some (I hope) better language for TDE.  Putting in your court for now but send back with more questions and requests for clarification.

[2016-12-09 00:32] bsrikan commented on #221
Tests working ok in regression. Shipping the bug.

[2016-12-13 19:36] jmakeig opened #233 "Trace lineage on generated transforms"
With Entity Services you can generate transformation code that maps from source to canonical forms. There should be an easy way for a developer to track that transformation code was generated from a specific version of the model, is relevant to entities X, Y, and Z, and other provenance metadata.

In the future we should have a declarative way to configure “simple” mappings from source to canonica

[2016-12-13 19:43] jmakeig commented on #233
Ping @rjrudin and @paxtonhare.

[2016-12-13 22:02] bsrikan commented on #230
examples run OK now for all three sub projects: races,person and suppliers. Shipping the bug.

[2016-12-14 00:11] popzip opened #234 "Query transform mapping - source data and source to canonical mapping"
As a downstream developer, or as a developer digging into source code for an existing entity services implementation,
I would like to be able to perform the following queries on the model-generated transforms:
* How does this source field "id" from the helpdeskSystem map to my canonical definition? (answer - it is the "customerId" field)
* What various source fields map to the new canonical "custo

[2016-12-16 19:27] jmakeig opened #235 "Race examples are outdated"
After successfully completing the deployment I get the following report in the `01. load-report` tab of `races-qc.xml`. Are the target numbers wrong or has my set-up gone awry?

[code]

[2016-12-16 19:34] jmakeig commented on #235
I just cleared my content database and am able to reproduce this. Am I missing a set-up step? I did:

[code]

[2016-12-16 22:24] bsrikan commented on #235
Setup step seems OK to me. I think the ingest transforms that generate envelopes is not working:

harmonizer.harmonize();
harmonizer.secondSourceHarmonize(); and
translator.translate();

All those 1354 documents are raw source documents from ~/example-races/data directory

[2016-12-16 22:37] bsrikan commented on #235
If you do run as:
../gradlew runExampleRaces

then everything seems OK. Looks like there is a difference in running ./gradlew and ../gradlew @jmakeig

[2016-12-16 22:50] grechaw commented on #235
Actually there's a legit bug having to do with most recent changes--- DMSDK async finishes before harmonize is done.  I'll have a fix later today I think

[2016-12-16 23:30] jmakeig commented on #235
Too legit to quit, apparently. (Sorry.)

[2016-12-16 23:32] grechaw commented on #235
Very nice.  When I went through and updated the examples (because awaitTerminiation() had gone away),
I used flushAsync everywhere in stead of flushAndWait.

I've taken out all the threading filigree.  Just running the three DMSDK jobs one after another is fine for the example.

[2016-12-16 23:33] grechaw commented on #235
The other change is how Optic returns JSON.  I'm updating person example to have correct handling of these results, and I'm also going to make a qc workspace with the XQ and JS versions of those same optic queries.

[2016-12-19 22:45] jmakeig commented on #235
Fixed by #236.

[2016-12-19 22:45] #235 closed

[2016-12-19 23:09] jmakeig opened #238 "Better paths in Query Console examples"
[code]

The [current implementation](https://github.com/marklogic/entity-services/blob/develop/entity-services-examples/example-races/races-qc.xml#L6) breaks if paths have spaces (mine do).

[code]

[2016-12-19 23:21] grechaw commented on #238
So something like:

[code]

?

[2016-12-19 23:45] jmakeig commented on #238
Take look at #239.

The places where you use `$PATH` in an `fn:doc()` call need to be URL encoded.

[2016-12-20 00:04] grechaw commented on #238
I'm going to give it a try to fix the document uris so as to not need file paths.

[2016-12-20 00:04] grechaw commented on #238
heads up to @bsrikan that we may need another ea-4 change

[2016-12-29 21:27] kcoleman-marklogic commented on #214
No objections but just wondering: These are left and right of what? Each other in the mythical table? (Sorry, I'm sure my relational ignorance is showing.)

[2016-12-29 23:25] kcoleman-marklogic commented on #215
Thanks, Charles. I am, of course, never satisfied, so I still have some linger questions.

The following is unchanged, and  I still don't understand what it means in the context of the template. What are the user implications?
* The schema for all templates is has the title of the entity type document.

The following is still present, and I still do not understand its significance to the user:
* I

[2017-01-03 18:05] grechaw opened #240 "instance functions should have consistent signatures."
@kcoleman-marklogic noticed that the specification for instance functions has them return arity of 1, but the implementation does not match.

This issue is a proposal to treat this as a spec bug, and that we should align the instance functions to return a sequence of 0 or more instances. (type depends on function).

current state:

[code]

[2017-01-03 18:15] grechaw opened #241 "Provide example to map RDF-based model to entity services"
Given a model defined with RDFS, infer or generate the corresponding model in entity services vocabulary and use that generated model to build an integration application.

This is a kind of scenario/recipe/enhancement.  It requires some method for using triples to create in-memory entity models (#188)

[2017-01-03 18:16] grechaw commented on #241
This may be a redundant recipe, come to think of it.  I'll triage later today.

[2017-01-03 18:16] grechaw commented on #188
I consider this a high-priority item for vnext.    Creating entity models out of external, say, RDF-based models requires a method for making models out of triples.    Just made #241 as a recipe that would depend on this functionality.

[2017-01-03 18:21] grechaw commented on #240
Note to self to make sure I test all arities.

[2017-01-04 00:04] bsrikan opened #242 "running ./gradlew genCode gives "no user provided" error"
Run ./gradlew genCode from command line to get the error.

[2017-01-04 00:08] grechaw commented on #242
Fixed this issue with commit to develop branch 1a1ed875bc937c33ed6554f49d6315d705bd6914

[2017-01-04 00:09] grechaw commented on #242
assigned to @bsrikan to cover changes in e2e directory.

[2017-01-04 22:25] bsrikan commented on #242
Updated application.properties in e2e as well to include mlAdminUsername and mlAdminPassword to resolve the error. Works ok now. Shipping the bug.

[2017-01-05 00:31] bsrikan opened #243 "search-options-generate() shouldnt make tuples if less than 2 indexes are defined"
Currently search-options-generate() makes a tuple with 1 range.

Ex: northwind.xml in e2e

  <search:tuples name="Product">
    <search:range type="xs:decimal" facet="true">
      <search:path-index xmlns:es="http://marklogic.com/entity-services">//es:instance/Product/ProductID</search:path-index>
    </search:range>
  </search:tuples>

[2017-01-09 17:46] grechaw commented on #122
temporarily switched to 'task' to prod the bugtrack integration into setting to 9.0-2.
still considered enhancement until we decide to put it into a scope of work tho.

[2017-01-11 23:38] grechaw opened #245 "Move extractions for all sources into a single module?"
In conversation with @bsrikan it seems that the races example could be improved, with regard to suggested best practice.

I created the example with two conversion modules for the first version of Races.  The first extracts one source, and the second extracts another.

It might be better to put both extractions into a single module, to emphasize that all of those extractions are feeding instance d

[2017-01-12 23:01] bsrikan commented on #238
This bug was tested for examples and e2e. $PATH is no longer being used and the same has been applied to all data loads from different sources. Shipping the bug.

[2017-01-13 00:32] kcoleman-marklogic commented on #214
Has anything changed recently related to this? I'm working off last night's trunk server build. I'm getting an entirely different validation failure now. `tde.validate` reports:
[code]
That's because the template for friends has an empty scalar type. That piece of the template looks like the following now. I marked the bad spot with a smart ass comment.
[code]

[2017-01-13 01:08] grechaw commented on #214
Interesting.  I'll be taking these bugs up when EA-4 goes out.  EA-4 is still tied to our develop branch, so I didn't want to touch it much.  But I do intend to fix!

[2017-01-14 00:09] grechaw commented on #243
Looking into this now, I expect a quick fix.

[2017-01-16 18:25] bsrikan opened #246 "example races query(tab 4 and 9) show null values"
Run tab 04 and 09 from races examples.
Discussed with @grechaw and filing a bug for 9.0-1.

[2017-01-16 18:26] grechaw commented on #246
What we have found is that the join keys for races satisfy both version one and version 2 envelopes, so once all of the versions are in the db together, the queries collide.

Interesting problem to consider while working on versioning example.

[2017-01-16 21:34] #238 closed

[2017-01-18 20:06] bsrikan opened #247 "TDE fails with BADVALEXPRESSION when primaryKey has a datatype other than string"
Error is in the <val> element of subject-iri in the tdex file and has to be casted to string now explicitly in order to make it work if the primary Key is not a string datatype:

<var>
	  <name>subject-iri</name>
	  <val>sem:iri(concat("http://marklogic.com/test/Northwind-0.0.1/Order/", fn:encode-for-uri(xs:string(./OrderID))))</val>
	</var>

Stack Trace:
Local message: failed to apply resource at

[2017-01-18 20:44] grechaw commented on #247
I've got a fix in place for this now.

[2017-01-18 22:15] bsrikan commented on #247
Other area where I think this bug might have an impact is the table view. As suggested by Fayez and per TDE spec (http://pubs.marklogic.com/engweb/specifications/functional/b9_0/Template_Driven_Data_Extraction.html#template-structure), I added <view-layout>sparse</view-layout> in version 2 of the tdex and expected all the columns from both templates to show up. It did so for Customer table and did

[2017-01-19 17:40] jmakeig opened #249 "Reproduce an Entity Services environment for support"
As a developer using Entity Services, when I run into a problem I want to be able to easily stand up another environment with a similar config in order isolate and reproduce a problem, for example, to share with MarkLogic support.

How does/should this play with the existing “support dump”?

[2017-01-19 17:41] jmakeig commented on #249
Ping @joseespinoza

[2017-01-19 19:38] grechaw commented on #214
Added a proper validity test to unit tests in addition to tde:get-view.  This will catch the invalid templates, and now I can fix this as a bug.

[2017-01-20 16:26] grechaw commented on #246
I'll fix this issue by backing out version translation from the original races example, and creating a separate versioning example (as tracked in #141 )

[2017-01-20 16:31] grechaw commented on #165
I think we've backpedaled on this issue.  Most of our team thinks it important to move to and promote new language features, and in particular map:with and the arrow operator are considered important and incompatible changes in 9.

This is a proposal to close this issue.

[2017-01-20 19:38] paxtonhare commented on #165
Close it. we forked the hub so it's a non-issue now.

On Fri, Jan 20, 2017 at 11:31 AM, Charles Greer <notifications@github.com>
wrote:

[2017-01-20 19:43] bsrikan opened #250 "Schema gen gives invalid coercion when input has 0 instance"
While testing the bug fix for #240 in PR #248 found this issue where schema gen throws invalid coercion error for input with no instance.

Doc:
<es:envelope xmlns:es="http://marklogic.com/entity-services">
</es:envelope>

Test:
import module namespace es = "http://marklogic.com/entity-services" at "/MarkLogic/entity-services/entity-services.xqy";
es:schema-generate(doc('test-envelope-no-instances.

[2017-01-20 19:51] bsrikan commented on #250
Discussed with @grechaw. Will be good to have a fix in #248 itself since schema-gen, extraction-template and get-test-instances functional tests error out with following exception:

java.lang.RuntimeException: com.marklogic.entityservices.TestEvalException: com.marklogic.client.FailedRequestException: Local message: failed to apply resource at eval: Internal Server Error. Server Message: XDMP-AS:

[2017-01-20 21:22] grechaw commented on #165
Thanks @paxtonhare

[2017-01-20 21:22] #165 closed

[2017-01-20 21:24] grechaw commented on #250
Um, but this document is a test envelope, not a model.  Why are you trying to run schema-generate on it?

[2017-01-20 21:45] bsrikan commented on #250
Maybe because I had inserted the envelope in the database. So far all the documents in the database have been descriptors. schema-generate and other functional tests validate every descriptor doc stored in the content database.

Maybe I should delete the document after the test is run.

[2017-01-20 22:05] kcoleman-marklogic commented on #250
Or change the tests to differentiate between artifacts and instances using directories or collections. That's what I do in the documentation examples. Models go in /models/, all my Person envelope documents are in a "person-envelope" collection, etc.

[2017-01-20 22:07] bsrikan commented on #250
Thanks Kim. Thats exactly how I have handled it. Have a separate dir for such documents that dont need to be tested by other APIs

[2017-01-20 22:13] bsrikan commented on #250
Closing as not a bug

[2017-01-21 00:41] grechaw commented on #250
note that unless an issue has 'severity' and 'status', it never gets to bugtrack at all, so you can just close this here with github.

[2017-01-23 17:26] grechaw commented on #214
Looks like you're already getting this ready @bsrikan

[2017-01-23 18:35] bsrikan commented on #214
Added test and is available in latest QA PR

[2017-01-23 18:35] bsrikan commented on #240
Added test and is available in latest QA PR #251

[2017-01-23 18:36] bsrikan commented on #243
Added test and is available in latest QA PR #251

[2017-01-23 18:57] bsrikan commented on #247
Added test and is available in latest QA PR #251.

[2017-01-24 22:53] bsrikan commented on #247
Test running ok in regression. Shipping the bug.

[2017-01-24 22:53] bsrikan commented on #243
Test running ok in regression. Shipping the bug.

[2017-01-24 22:54] bsrikan commented on #240
Test running ok in regression. Shipping the bug.

[2017-01-24 22:55] grechaw commented on #113
Made good progress on this eaxmple today.  Setting to fix as I'm now in progress.  The example I'm working on first is a minimal data migration project, where the delta between the models is very small.

[2017-01-24 22:56] bsrikan commented on #214
QA has verified this bug and test running ok in regression.
Passing over to @kcoleman-marklogic to verify and ship

[2017-01-25 21:37] grechaw opened #252 "Proposed change to TDE, constrain version"
Right now, the OOTB template from extraction-template-generate matches all instance data. It might be very useful to add a predicate to the top-level context that limits the version and schema name.

With this change in place, it's more likely that a users's TDE will scope only to instance data, and not index values of different types or versions.

I discovered this issue in working with instance

[2017-01-25 21:40] grechaw commented on #252
The change would be to the <context/> line at the top of TDE.

now:

`<context>//es:instance</context>`

after

`<context>//es:instance[es:info/es:version= "version-of-model"]</context>

[2017-01-25 21:42] grechaw commented on #246
This issue is related to the new one I just created #252

There are two things creating the cross-product.  having two templates that both index everything, and having a join key that isn't unique once the data is in the database.  Fixing #252 would solve this issue I believe.  If I can verify this with the existing races example then we might want not to take out the converted data, as it will no

[2017-01-26 00:58] grechaw commented on #252
This is really the appropriate fix to #246 and it indeed fixes that issue.  Moving ahead with a PR.

[2017-01-27 22:20] bsrikan commented on #252
Latest QA PR 254 includes tests for this issue. Will ship after the code is merged and the test had run once successfully in regression.

[2017-01-27 23:45] grechaw commented on #212
What do you think of:

options: "The name of this constraint is a duplicate in the generated XML. It is within a comment so that the XML may be valid, but you may need to edit for your use case."

schemas: "XSD schemas cannot have conflicting configuration for the same element name. This model has two elements of the same name, so the following is commented out."

[2017-01-30 19:31] bsrikan commented on #246
Shipping the bug as the issue seems to be fixed. Able to run qc tab 4 and 9 for races and dont see any null result. Results returned seems correct.

[2017-01-31 17:58] bsrikan commented on #252
Test running OK in regression. Shipping the bug.

[2017-02-06 18:26] grechaw opened #256 "Migrate to XMLUnit 2.0"
Non-trivial task to update tests to use XMLUnit 2.0.

https://github.com/xmlunit/user-guide/wiki/Migrating-from-XMLUnit-1.x-to-2.x

[2017-02-07 00:59] bsrikan opened #257 "Docs: Entity Services Dev Guide - Chapter 2 - Typos"
* **Issue1:**
http://pubs.marklogic.com:8011/9.0/guide/entity-services/getting-started#id_94014
point 5 in "Optional: Create a Content Database":
Actual:
"Copy and paste the following code into the new query. This code creatse a forest and a database, and then attaches the forest to the database."
Expected:
"Copy and paste the following code into the new query. This code creates a forest and a dat

[2017-02-07 01:01] bsrikan opened #258 "Docs: Entity Services Dev Guide - Chapter 1 - Typos"
* **Issue#1** ==> Typo in Terms and Definitions section as below
Actual:
"This material in this guide assumes the reader if familiar with the following terms and definitions:"
Expected:
"The material in this guide assumes the reader is familiar with the following terms and definitions:"

* **Issue#2** ==> Typo in Why Use Entity Modeling section just above Modeling Pipeline chart as below
Actual:
"

[2017-02-07 01:04] bsrikan opened #259 "Docs: Entity Services Dev Guide - Chapter 1 - model descriptor issue"
Model descriptor in chapter 1 is as below:

[code]

Issue:
There are 2 entities having same name "Customer". Readers might get a feeling that its ok to have 2 entities with same name. On trying to insert into db, properties from the 2nd entity is only persisted.

[2017-02-07 22:25] grechaw commented on #245
On track for merging with version example, which is still in progress.

[2017-02-07 22:39] grechaw commented on #227
Hi @kcoleman-marklogic , I've added you as also assigned to this issue.  In the ongoing work on the versions example, we see that, although one *can* insert schemas or extraction templates for multiple versions of a document at once, somebody in charge of a data migration must manage these assets with care.

Extraction templates are generated such that they only match instances of a given version.

[2017-02-17 00:59] grechaw commented on #245
In PR

[2017-02-17 00:59] grechaw commented on #227
I put in a bit of documentation about this issue into my latest PR, for the versions example.  It explains how TDE templates are best scoped to just a single version, and suggests how one might want to manage the transition of models.

[2017-02-17 01:00] grechaw commented on #113
In PR

[2017-02-23 18:33] grechaw opened #261 "Use quotes consistently in codegen"
I've been working on workshop materials and noticed that sometimes I used single-quotes for strings in entity services codegen, and sometimes double-quotes.

Copying funcions into QC, I find it's much preferable to have all the same quoting, so I can wrap the whole module in the other delimiter to quote it.

I'd like to take the hit to our test keys to change this.  It's convenient to be able to t

[2017-02-23 18:38] kcoleman-marklogic commented on #261
It comforts me to know I am not the only person who does this!

FWIW, I've taken to using single quotes as much as possible in XQuery so that it "translates" easily when working through the same example in JS.

Of course, pure JSON throws a monkey wrench in this strategy, but I find the data case comes up less often than the code one.

[2017-02-27 20:41] grechaw commented on #261
This change is included now in the outstanding PR.

[2017-02-27 21:51] grechaw commented on #212
I've included a fix for this issue in the outstanding PR

[2017-03-03 18:02] bsrikan commented on #245
Verified the merge and tested races-qc.xml. Updated races-qc.xml after testing and the same is available in PR #260 	314ef12
Looks good.

[2017-03-03 20:43] grechaw opened #262 "Version example README expand"
The README for the version example should have more inputs/outputs and an explanation of what's going on for each.  I'd intended to do this but did not complete it, as the running of the example does not clearly indicate what's happening in each transitional state.

[2017-03-03 22:38] bsrikan commented on #227
Information on how the assets should be handled in various data migration scenarios is detailed. Looks good to me. Passing the issue on to @kcoleman-marklogic to cover this in entity services guide.

[2017-03-03 23:48] bsrikan opened #263 "schema-gen() returns different results for xml and json when an entity type has duplicate property name"
This issue was found when testing #212 .

Sample doc: Attached a zip file

Query:
import module namespace es = 'http://marklogic.com/entity-services' at '/MarkLogic/entity-services/entity-services.xqy';

es:schema-generate( es:model-validate(doc('invalid-bug43212.json'))),
es:schema-generate( es:model-from-xml( fn:doc( 'invalid-bug43212.xml')))

[Test Input file.zip](https://github.com/marklogic/e

[2017-03-04 00:27] grechaw opened #264 "in-memory instances and json canonical instances are missing type info."
I found this issue when reviewing the documentation.  I think that this library requires a change before we ship 9, as behavior does not match future state for json envelopes, and also does not

Right now, the two functions

es:instance-from-document
and
es:instance-json-from-document

retrun the same structure, and they have no type information.  To better integrate these functions with how extra

[2017-03-04 00:36] grechaw commented on #264
@kcoleman This is what I just I just discovered while reviewing the docs.  I think it's an important change to make, as our JSON will be XPath-parity with XML, while the in-memory instance is a flat structure

[2017-03-04 15:05] kcoleman-marklogic commented on #264
So now we have the following representations of an instance, is that correct?
* with $attachments and $type
* with $type
* without $type and $attachments
When is one expected to use the representation that contains $type? (the second in the list above)

[2017-03-04 20:40] grechaw commented on #264
How about

* with $type for the in-memory instance (json:object, JavaScript object)
* with named root for JSON node

$attachments is an ephemeral place to keep source/raw data in extractions.  It gets put into an envelope, but outside of the JSON or XML node representations of an instance.

One thing that should be in the post-9 entity services vocab is 'root' vs' non-root types.  Probably only ro

[2017-03-04 23:41] bsrikan commented on #263
NOTE to self: Uncomment schema-gen() test for json input file once bug is fixed.

[2017-03-04 23:53] kcoleman-marklogic commented on #227
@grechaw Did you give more thought to this:

It seems to me that you simply cannot install (or at least use) multiple schemas. You could modify the complex type names but that doesn't help with the entity element definition. That is, I could fiddle with this to make the type name "PersonType-1.0" or some such thing:
[code]
But what do I do with this guy?
[code]
I poked around a bit in the XML Sche

[2017-03-05 00:34] kcoleman-marklogic commented on #227
Maybe I figured it out, sorta. You can do this in XQuery, at least if you're doing explicit validation:
[code]
No clue if you can do likewise in JS. I thought you might also be able to pull something off with `@xsi:schemaLocation` on the instance root node, but I can't seem to get that work.

[2017-03-05 00:46] kcoleman-marklogic commented on #227
One more question for you @grechaw then I'll leave you peace about versioning for the moment. You said:

`Extraction templates are generated such that they only match instances of a given version. Therefore templates will not over-index instance data. However, it helps to use distinct schema names for different versions. A convention for 'latest' might help with managing extraction tamplates.`

I

[2017-03-05 03:55] grechaw commented on #227
It's a fair question, and not a fully developed answer.

Just as we have a URL for the REST API, /LATEST/documents  , one could devise (and maybe we should devise) a convention where one would create a duplicate TDE template, with a schema name that incorporates "latest" somehow.

Say, version 0.0.1 is Model.Type.  Also present is a duplicate called ModelLatest.Type
The next version is introduced

[2017-03-05 06:03] bsrikan commented on #227
@kcoleman-marklogic This is regarding the last 2 sentences you were referring to.

Say you have a versioning scenario and working with artifacts generated for both versions of the model(model1 and model2 say).So you have 2 sets each of tde, envelopes, xsd, options etc. If you look at the tde, ver1 and ver2, you would find that the schema name is same as the title of the descriptor.

This is all OK

[2017-03-05 15:23] kcoleman-marklogic commented on #227
Thank you both. I finally figured out you guys are probably talking about the template/rows/row/schema-name, not the schema you can generate with ES. I'll read over all this again with that insight and see if it starts making more sense to me. :)

[2017-03-05 16:12] kcoleman-marklogic commented on #214
I'm still seeing exactly the same behavior as before. I get a template that won't validate because `<scalar-type/>` is empty in the friends sub-template.

Is there something about this fix that would require a complete reinstall of the server before it kicks in?

[2017-03-05 17:11] kcoleman-marklogic commented on #214
Broke down and did a completely clean install. Makes no difference. I'm returning this to you for contemplation, @grechaw.

[2017-03-05 19:22] grechaw opened #266 "Define es:top-level or equivalent"
When putting entity instances into documents, one always chooses one to be the root, and others to embed or denormalize into the document structure.

Entity Services in MarkLogic 9 does not provide this vocabulary, but repeated use of the code generation indicates that it could be automated significantly with this extra concept.

1.  Entry point of a module is known.
2.  Expectations of whether a

[2017-03-05 19:32] grechaw commented on #227
Hah, yep, the TDE schema, not XSD schema.  MarkLogic glossary/ontology anyone?

As far as XSD goes, you have probably learned better than I how to do this by now.
Mary confirmed that one can manage schema location as you have above, so if people want to monkey around with having multiple versions of schemas available for validating, there's a known method to do that.

[2017-03-06 18:02] kcoleman-marklogic commented on #259
Thanks, good catch. The second of those is supposed to be "Order".

[2017-03-06 18:40] kcoleman-marklogic commented on #257
Issue #2: This is deliberate. You are not required to use that database, so I don't tell you to use that database.

Issue #4: I chose not to give this Info block formatting, but I did move the paragraph closer to the top of the topic where it is less likely to be overlooked. I don't think it needs to be heavily emphasized. This is just the GS.

Issue #5: I chose not to change this, beyond change i

[2017-03-06 18:46] bsrikan commented on #257
Thanks Kim for your feedback.

[2017-03-06 19:48] bsrikan commented on #261
Regression running ok after key updates. Shipping the bug.

[2017-03-06 19:49] bsrikan commented on #212
Regression running ok after key updates. Passing over to you @kcoleman-marklogic for review.

[2017-03-06 20:11] bsrikan commented on #245
This is working as expected now. All tests in races-qc.xml work ok post this bug fix. Shipping!

[2017-03-06 20:15] bsrikan commented on #113
Versions example look good.
@jmakeig Please let me know if I can ship this task or you want to take a look and ship yourself since its your recipe.

[2017-03-06 23:44] kcoleman-marklogic commented on #214
I'm reassigning this back to myself for now. I walked through the Getting Started example from scratch this afternoon, and the template was OK, so I'm investigating how that was different than what I did yesterday. It's likely to be user-head gap, but I want to understand it in case there's some other case in which the scalar type comes out empty.

[2017-03-07 02:05] kcoleman-marklogic commented on #214
Well, that was exciting to figure out.

It turns out that in the case where the template was (still) invalid, I had left the $ off of my ref ("ref" instead of "$ref"). Since I was using a JSON descriptor rather than XML, validation was a no-op and didn't pick up on this. It was just coincidence that this mistake manifested as exactly the same bad template behavior as the original bug.

All is well

[2017-03-07 02:50] grechaw commented on #214
Victory!

[2017-03-07 18:48] grechaw commented on #264
OK Spec has been updated, and this fix is into a branch.  Making PR now.

[2017-03-07 23:50] bsrikan opened #268 "entity-services-examples mldeploy fails"
Unable to deploy examples. Get following error on all platforms:

[code]

[2017-03-08 00:53] grechaw commented on #268
hm.  doesn't look like our issue does it..

[2017-03-08 04:11] bsrikan commented on #268
I am guessing if recent updates/delete to security/roles in last PR has anything to do with this.

[2017-03-08 05:39] bsrikan commented on #268
Races runs OK. Tried on 03/07 nightly build.
Versions-Example
[code]

Suppliers-Example
[code]

[2017-03-08 16:23] grechaw commented on #268
Indeed, I neglected to copy ml-confg around to the various examples.  Didn't notice the problem because it does not surface unless you undeploy and redeploy each example anew, so great catch.

The fix is simple fortunately.  I'll have a commit and PR shortly.

[2017-03-08 16:29] grechaw commented on #268
Well, given today's packed schedule, it will probably take until tomorrow.

[2017-03-08 21:51] bsrikan commented on #264
Is this an OK result for results that have $ref in it:
[code]
gets converted to below with this change:
[code]

[2017-03-08 21:54] grechaw commented on #264
no that's still a bug

[2017-03-09 18:33] kcoleman-marklogic opened #270 "validation doesn't detect bad array spec"
The following model is missing the `<es:datatype>` wrapper around the array item type definition for the "friends" property. This error isn't trapped by `es:model-validate`.
[code]
It ends up generating a "validated" model with a "friends" property definition that looks like the following and leads to garbage-in-garbage-out code and artifact generation.
[code]

[2017-03-09 18:37] grechaw commented on #270
Oooh that's bad.  the fix will be easy, I don't see why it shouldn't get in before code freeze next week.

[2017-03-09 22:04] grechaw commented on #270
In PR

[2017-03-09 22:04] grechaw commented on #268
I'll re-push this branch in a moment.

[2017-03-10 00:43] bsrikan commented on #270
Nice catch.

[2017-03-10 01:49] bsrikan commented on #268
Updated comments in #268 mldeploy works OK. run gives errors for all but versions.

[2017-03-10 17:25] kcoleman-marklogic commented on #212
Looks fine to me.

[2017-03-10 17:27] kcoleman-marklogic commented on #215
Still have a few lingering questions about this section of the spec, which I sent to Charles via email yesterday. (Forgot about this bug!)

[2017-03-10 17:30] grechaw commented on #215
Your email comments were very pertintent.  I also was confused when I read the spec on these parts.

[2017-03-10 17:43] kcoleman-marklogic commented on #227
Not sure what the expectation was when this got assigned to me, but I've said all I'm going to say about versioning for now, so I am going to ship this bug. If there are versioning related doc issues, they should be reported as doc bugs (preferably on bugtrack).

[2017-03-10 17:46] grechaw commented on #268
makeing sure i can deploy and run anything before giving you another runaround.

[2017-03-10 18:28] kcoleman-marklogic commented on #258
I believe I took care of all of these, @bsrikan, so I am handing this back to you for verification. Issue 6 is intentional, so I did not make a change there.

If you feel you don't have time to check these changes, that's fine - you can just ship it. It's not the end of the world if we miss one of these. :) Also, from my perspective, you don't have to verify the changes by 3/15. More like 4/15.

[2017-03-10 18:30] kcoleman-marklogic commented on #259
This should be OK now.

[2017-03-10 18:44] kcoleman-marklogic commented on #257
As I mentioned on the other doc bug, if you don't have time, you can punt verifying this, and it's also OK if you don't get to it for awhile. 4/15 is soon enough for me to get in any additional corrections.

[2017-03-10 20:09] bsrikan opened #271 "REGR: Unit test TestExtractionTemplates.xml fails"
TestExtractionTemplates.xml unit test started diffing today:

https://regr-status.marklogic.com/platform/diff?area=server&branch=b9_0&platform=linux-64-rh7v-cluster&date=2017-03-10&diff=TEST-com.marklogic.entityservices.tests.TestExtractionTemplates.xml

Snapshot of the error:
`com.marklogic.entityservices.tests.TestEvalException: com.marklogic.client.FailedRequestException: Local message: failed

[2017-03-10 22:30] bsrikan commented on #270
Added new test.

[2017-03-10 22:30] bsrikan commented on #264
Updated keys

[2017-03-10 22:30] bsrikan commented on #113
Shipping this task!

[2017-03-13 17:56] grechaw commented on #271
created bug 45034 for Fayez to weigh in on.
If he pushes back on a fix, I'll have to re-work how I validate extraction template, probably by simply using tde:template-insert which was not available when we started work on ES.

[2017-03-13 19:08] grechaw commented on #271
I reworked the unit tests to avoid this issue.  It is new behavior from when schemas database defaults changed.

[2017-03-13 19:19] grechaw commented on #271
Fix to test in PR.

[2017-03-13 19:29] bsrikan commented on #270
Working as expected post fix. Shipping!

[2017-03-13 19:30] bsrikan commented on #264
Working as expected post fix. Shipping!

[2017-03-13 19:31] bsrikan commented on #268
Working as expected post fix. Shipping!

[2017-03-13 20:56] bsrikan commented on #259
Verified in docs and they seem corrected. Shipping the bug.

[2017-03-13 21:03] bsrikan commented on #258
Verified changes to the docs. Shipping.

[2017-03-13 21:16] bsrikan commented on #257
Looks good. Shipping.

[2017-03-13 21:40] grechaw commented on #263
Duplicate properties are confusing not just for entity services -- I don't think we should try to do anything here.

I would have thought so, but try this:

[code]

It seems JSON nodes can have duplicate keys which is fine, but if you make a json:object out of them, then each key will ever only have one value, even if it looks like there are two items in the map.

[2017-03-14 17:30] grechaw commented on #263
not entirely clear what to do for this bug, and it's impact is minimal, so set to 9.0-2 to provide stability for release target.

[2017-03-14 17:56] grechaw commented on #262
This is my most important task to complete for today

[2017-03-15 17:42] bsrikan commented on #271
Unit tests have run OK on all platforms. Shipping the bug.

[2017-03-17 21:36] jmakeig opened #275 "Add more context to the EA4 workspace"

[2017-03-18 01:40] grechaw commented on #262
probably ready to ship, to you for judgement @bsrikan

[2017-03-20 18:12] grechaw opened #276 "put commentary into qconsole workspaces"
QC example workspaces need more commentary to explain what's going on for each tab.

[2017-03-20 18:35] bsrikan commented on #262
Looks good. Shipping.

[2017-03-20 21:09] bsrikan opened #277 "Docs: Typo bugs in Chapter 1 and 2"
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/intro#id_28145
Actual:
Persistence Convention: The entity pesistence pattern promoted by Entity Services
Expected:
Persistence Convention: The entity persistence pattern promoted by Entity Services

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/getting-started#id_84640
Actual:
The example also uses es.modelValidate

[2017-03-20 21:47] grechaw commented on #188
needs a little design spec/proposal next

[2017-03-21 20:55] grechaw opened #278 "Align/course correct with Data Hub Framework 2.0"
Task to make sure we're considering architecture of DHF when building JSON envelopes and codegen.

[2017-03-22 23:06] bsrikan opened #279 "Docs: Issues in Chapter 3"
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/models#chapter
Link to "Model Descriptor Basics" seems misplaced and redundant as it is covered under "Writing a Model Descriptor"

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/models#id_73385
Actual:
For details, see Entity Type Definition Overview and Writing a Model Descriptor.
Expected:
For details, see Entity

[2017-03-24 03:04] bsrikan opened #280 "Docs: Issues in Chapter 3 cont...."
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/models#id_92216
Actual:
The 'id' and 'name' properies are required.
Expected:
The 'id' and 'name' properties are required.

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/models#id_58667
Unbold 'x' in range-index for below text:
`include a rangeIndex JSON property or range-index XML element`

Issue3:
http://pubs.mar

[2017-03-24 21:47] bsrikan opened #281 "Docs: Issues in Chapter 4"
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/codegen#id_16594
Missing a space
`Both theXQuery (es:*) `

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/codegen#id_16594
Under description for es:database-properties-generate
Actual:
suitable for with the REST Management API or ml-gradle.
Expected:
suitable with the REST Management API or ml-gradle.

Issue3:
http:

[2017-03-24 22:51] bsrikan opened #282 "Docs: Issues in Chapter 4 cont..."
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/codegen#id_81351
Typo.
Actual:
The generated configuration information always at least the following items,
Expected:
The generated configuration information always has at least the following items,

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/codegen#id_57834
Correction required. Refer #243 . Entity type should

[2017-03-27 18:00] #215 closed

[2017-03-27 20:19] grechaw commented on #232
I'm going to reopen this issue for 9.0-2.  In looking at aligning data hub, and especially in making JavaScript modules, the codegen can be simplified by adopting this style for both XQ and Javascript.

I am convinced that the readability is much better with this style -- the variables one has to populate are explicitly named.  It is possible that inlining the expressions will speed up processing

[2017-03-27 20:32] ehennum commented on #232
One minor syntax quibble -- var is now an antipattern in JavaScript and deprecated in favor of const to define constants or let to define mutables.

On the particular issue, the following would be idiomatic in JavaScript (depending on where one lands on the religious war about the trailing semicolon):

    return {
        firstName: fn.head(source.xpath('/source/first_name'),
        lastName: fn

[2017-03-27 21:23] grechaw commented on #232
Finally I understand where var went and why, thank you @ehennum .

Paxton had raised this question originally specifically to separate the ideas of constructing individual properties from constructing the final JavaScript objects,  because sometimes populating the individual properties is a simple expression like these, and sometimes it may require more code.

Does your inclusion of the JS block i

[2017-03-27 21:24] jmakeig commented on #232
Yes, always `const` and sometimes `let`, going forward.

How difficult would it be to generate code that ran in MarkLogic 8 as well? There are no runtime dependencies that would require 9 on the *generated* code are there? Would it be significantly more difficult to parameterize the `var`/`const` option? I’ve heard generating on 9 and running on 8 as a request to more gradually transition to 9.

[2017-03-27 21:31] grechaw commented on #232
no it wouldn't.  I'm going to have to create js and XQ versions of the module's syntax.   Making another option for this keyword difference wouldn't add too much complexity.

[2017-03-27 21:35] ehennum commented on #232
Regarding whether inlining is preferred, many or maybe even most JavaScript developers embrace functional programming to at least some extent.  Witness Array.prototype.map()

That said, I agree that legibility is a huge concern when generating editable code.  So, if constant assignments are more legible instead of more verbose....

[2017-03-27 21:36] grechaw commented on #232
That said, it's also a near-trivial customization for those back-porting.

[2017-03-29 18:32] bsrikan opened #283 "Docs: Issues from Chapter 6"
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/search#id_37110
Actual:
For an examples, see Example: Using SPARQL for Instance Queries and Example: Using the Optic API for Instance Queries.
Expected:
For examples, see Example: Using SPARQL for Instance Queries and Example: Using the Optic API for Instance Queries.

Issue2:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/

[2017-03-29 23:09] bsrikan opened #284 "Docs: Issues in examples across chapters of Entity Services guide and APIs"
Issue1:
http://pubs.marklogic.com:8011/9.0/guide/entity-services/codegen#id_35957
Wherever we say `The following example code generates a converter module from a previously persisted descriptor` , the examples have
`let $desc := fn:doc('/es-ex/models/person-0.0.1.json')`
Previously we had persisted as /es-gs/ and not /es-ex/. Good to fix for consistency sake.

Issue2:
http://pubs.marklogic.com:801

[2017-03-31 19:47] jmakeig opened #285 "Descriptive model summary reports"
As a developer or data modeler, I want to be able to get a quick summary of my model and instance data as I develop. I want to be able to get a high level picture of everything that I've got and then drill down as necessary. For example, what are all of the entities that I have available? Along with each, show me a representative document or three. Given a entity, what are its properties which ent

[2017-03-31 19:52] jmakeig opened #286 "Data-aware adaptive queries"
As a developer, I don't want to have detailed knowledge how a particular entity model is implemented. Ideally, I'd write my application logic in terms of entities and the code itself would figure out how to map that to physical artifacts. Moreover, when the model changes, my code—expressed in terms of the model—should change too. (*Need illustrative example here.*)

One implementation idea is to d

[2017-03-31 19:53] jmakeig commented on #286
Ping @grechaw, @ehennum, @popzip.

[2017-03-31 23:32] grechaw commented on #286
This idea would work best within some kind of controlled notion of a data model -- like "documents for entities, triples for relationships."  With adherence to this idea, entity services could indeed create queries to traverse relationships, report on structures, test/debug/verify es configurations/harmonizations, and discovery and assembly of new models from old ones.

[2017-04-05 16:41] grechaw commented on #286
...it occurred to me that the method of shipping an optic payload
over the wire enables an interesting Java model-driven query interface.   It has probably occurred
to you already that Java Classes and properties could be annotated with optic query plans, a-la
Spring Data. Another capability tied to entity services would be to annotate a Java Class with
@EntityType(version="0.0.1", description="Th

[2017-04-07 16:14] cvbmilani opened #287 "Entity Services-ELS Integrated Demo"
Given a source like this

[code]

I would like to use Entity Services to generate the following document. Note the calculated SSN field, and the attributes
[code]

By going this, I can use ELS to create 4 roles
•	sec.createRole("Reader","ID_read",null, null, null);
•	sec.createRole("ID_read","ID_read",null, null, null);
•	sec.createRole("Compliance","Compliance",null, null, null);
•	sec.createRole

[2017-04-07 19:08] grechaw commented on #287
The approach to making this canonical document would be a little different than what you have.  Entity Services is very opinionated about how the document is created from type and property information.  So if it looked more like the following, would that still work?  Type types in the model are Client and Info in this case.  The wrapping <T> that you have above could be used too.  These changes ju

[2017-04-10 20:44] grechaw opened #288 "Remove tdex extension from examples"
Although we cannot make this change until ml-gradle releases a change for https://github.com/rjrudin/ml-gradle/issues/192, this issue is to remind us to change examples to not rely on the `tdex` extension anymore for deploying extraction templates.

[2017-04-10 22:55] grechaw opened #289 "Consider changing type of document uri in es-triples to sem:iri"
The type of document-uri in the generated TDE triple

subject rdfs:isDefinedBy document-uri

is xs:anyURI.

prov-o is convenient to use when considering documents as entities, and in this circumstance, the document-uri is best considered a sem:iri.  Makes for speedier equality joins, and means that document uris can be the subject of triples in the triples index.

[2017-04-10 23:14] grechaw opened #290 "Data-driven extractions"
As I'm considering extraction template generation, it seems worthwhile to consider using the vocabulary to drive decisions about how the model is exposed in templates:

[code]

In this proposal, 'tripleProperties' would be exposed as RDF properties, using the model's IRI for the given property and it's declared type.

Currently, columns are generated for all properties.  The only property used in

[2017-04-10 23:14] grechaw commented on #290
To be considered for 9.0-3 designs

[2017-04-11 17:19] grechaw opened #291 "Property for envelope style preference"
This is an implementation idea to be discussed in the 9.0-3 design changes.

Introduce a new key in a model's info section

[code]

The first key will determine wheter an instance converter will be generated for JSON envelopes, XML envelopes, or an environment that uses both.  The differences will be in how namespaced elements are handled for database properties and search options generation.

The

[2017-04-17 17:24] bsrikan commented on #282
Comments for fix in bugtrack 45291.
Assigned the bug to self and marked Test.

Looks good. It was my bad, I read "more than one" as "one". Shipping the bug

[2017-04-17 20:15] bsrikan commented on #279
Kim seems to have pushed fixes for the issues in this bug. Updates are in Bugtrack # 45237. Assigning to self with label test.

[2017-04-17 20:17] bsrikan commented on #280
Kim seems to have pushed fixes for the issues in this bug. Updates are in Bugtrack # 45257. Assigning to self with label test.

[2017-04-17 20:31] bsrikan commented on #277
Kim seems to have pushed fixes for the issues in this bug. Updates are in Bugtrack # 45195. Assigning to self with label test.

[2017-04-18 18:40] matt-turner opened #292 "Error generating TDE"
Hi - I'm creating a demo using ES on standards documents with a schema called STS. I've got the description up and working, can generate envelop documents, but when I go to validate and install the TDE I get this error:

[javascript] TDE-INVALIDTEMPLATE: (err:FOER0000) tde.templateInsert( -- Invalid TDE template: XDMP-NOTSIMPLE: Node does not have simple content: fn:doc("/source/models/sts-templ.x

[2017-04-18 18:56] matt-turner opened #293 "ES example nomenclature (minor)"
Hi - when going through the examples I got tripped up after generating the instance converter when the example nomenclature changed from person-0.0.1.* to person-1.0.0 and sometimes person-3.0.0.

Here is what I see on: http://docs-ea.marklogic.com/guide/entity-services/codegen

- version translator uses person-1.0.0 to person-1.0.0.
- TDE starts with person-1.0.0 but the full sample code goes bac

[2017-04-18 19:24] kcoleman-marklogic commented on #292
Charles is out of town, so I'll take a stab. This is not a valid array item type definition.
[code]
It should be like this:
[code]
If you want it to be a reference to some external entity type, then you could set the datatype value to "iri". If std-ref was an entity type defined within this model, then you could reference it  like this:
[code]
Basically, the value of "items" has to have one of the

[2017-04-18 19:40] kcoleman-marklogic commented on #293
You are 100% correct. I recently filed a similar bug (internally) in response to similar review feedback. It is scheduled for 9.0-2.

I'll let Justin decide whether to leave this open or not. From my perspective, it's a dup of an existing bug. The related changes will be tracked internally, not on GitHub. The internal number is 45603.

[2017-04-18 19:42] kcoleman-marklogic commented on #293
Oh, and you'll have to take the x.y.z versions up with Charles and Justin. That's a convention they push.

[2017-04-18 19:59] jmakeig commented on #292
Yes, he did. Where are the rules for column names documented?

[2017-04-18 20:00] matt-turner commented on #292
Oops - I forgot to mention that part as well. Yes I had to change all the names to conform to SQL column heading standards.

Not sure the best way to resolve that ... but that is also an issue.

I don't think I understand the proposed solution ... so let me just go with what I'm trying to do:

Each standard has a set of references called normative references.

I want to create, in the envelop docu

[2017-04-18 20:03] kcoleman-marklogic commented on #292
From what you've said, norm-refs represents another entity type. You should model it accordingly. Entity properties can only have 3 possible types: Scalar, array, and reference to another entity type.

[2017-04-18 20:08] kcoleman-marklogic commented on #292
Since the ES spec doesn't mention this restriction, I was unaware of it until Matt reported his problem. Ergo, it's not documented anywhere, atm. :) However, rest assured that I am going to add it.

Srikanth recently made me aware of a similar restriction on the model title, imposed by TDE.

I believe the TDE documentation covers this in that it states blah blah must be a valid SQL view name, but

[2017-04-18 20:09] jmakeig commented on #292
…today. We’re working on how to model “weak” entities, i.e. that aren’t free-standing, but represent some hierarchy under the main entity.

[2017-04-18 20:11] jmakeig commented on #292
Shouldn’t we just transform the names in the TDE generation so that they’re valid, such as converting `-` to `_`?

[2017-04-18 20:16] kcoleman-marklogic commented on #292
Recall that Charles is out of town. For all practical purposes, that makes this WAI, and it should be documented. Perhaps, an RFE for the next release.

[2017-04-18 20:22] bsrikan commented on #277
For issue#5 I ask to use sjs version since the example box below is sjs and uses instanceToEnvelope and extractInstanceT.

I am not sure about issue6. Looks like what we have there now(xdmp:from-json-string) is correct. Maybe I switched expected and actual.

[2017-04-18 20:27] bsrikan commented on #279
Issue#3 still seems not fixed.

[2017-04-18 21:04] matt-turner commented on #292
So can you guys give me pointers on how to create the proper model? Maybe give me the right way to do this?  Thanks,  Matt

[2017-04-18 22:13] kcoleman-marklogic commented on #277
No problem with Issue 6. You were correct about the mismatch between the text and the example. I just fixed it in a different way than you expected. Both xdmp:unquote and xdmp:from-json-string work here. I chose to go with xdmp:from-json-string.

I understand why you raised Issue 5. You're not wrong, but as I said in Bugtrack, there's not really a good answer there, IMO. I chose to leave it.

[2017-04-18 22:18] kcoleman-marklogic commented on #279
You'll have to give more explicit directions on where or what the problem is if you think Issue 3 is not fixed. I see the following text on pubs:

I find no instances of "and entity" anywhere in that chapter.

[2017-04-18 22:24] kcoleman-marklogic commented on #279
Ah, I see it now. You are correct. There were two errors in that sentence. Sorry. It's really hard for me to pick out what's wrong when you just give me a second sentence and no explanation.

[2017-04-18 23:04] bsrikan commented on #277
Thanks Kim. I can ship this now.

[2017-04-18 23:08] kcoleman-marklogic commented on #292
I don't think you'll get exactly the structure you want using ES (unless, I suppose, you do something custom in your instance converter code), but a combination of arrays and perhaps a second entity type should get close.

Justin can probably speak more wisely to this than I can, isn't starting with the entity structure and trying to force the model to conform a bit of the tail wagging the dog?

I

[2017-04-18 23:24] bsrikan commented on #292
It would be a good idea to rather add this rule to model-validate() so folks dont hit this issue in later stages.

@matt-turner
You can try editing norm-refs as below:
[code]

and adding another entity type as so:
[code]

With this you have to edit the generated conversion-module to add a "/*" as shown in Post Edit:
OOTB:
`  =>es:optional('norm-refs',              es:extract-array($source-node/nor

[2017-04-18 23:29] bsrikan commented on #280
Issue#7 still seems an issue. There was a code change after the docs example would have been written. What I have pasted is the current output.

[2017-04-18 23:30] jmakeig opened #294 "Semantic query rewriting"
As a data architect, I want to be able to model my physical source data to describe its properties and relationships. Given two representations of the same concept in two sources I want to be able to associate those as related, for example, `zip_code` in source A is the same as `postal` in source B. By specifying this much information, the database should be able to rewrite a query that asks for `

[2017-04-18 23:38] jmakeig commented on #294
One advantage to materialization over query rewriting is that you can annotate the snapshot of the data with its own metadata, making it straightforward to maintain as a coherent whole and trace its lineage as things change. With query rewriting you need to get the state of the instance data _and_ the model in order to query in the past or move the data around. Probably not a big deal if we assert

[2017-04-18 23:41] jmakeig commented on #294
Related to https://github.com/marklogic/marklogic-data-hub/projects/1#card-1745528.

[2017-04-19 00:44] matt-turner commented on #292
Thanks - I'll give all that a try and report back (in a day or so).

[2017-04-19 02:30] kcoleman-marklogic commented on #280
Sorry, I think this is another place where I tricked you by fixing the problem a different way. :) I should have mentioned it.

Rather than changing the example output, I changed the description of what that output is. It now says:

Previously, it said `es:instance-from-document` (and `es.instanceFromDocument`).

I find the intermediate, almost internal, canonical representation produced by instan

[2017-04-19 15:02] bsrikan commented on #280
Ok. Shipping the bug. Thanks Kim.

[2017-04-19 16:26] sbuxton commented on #294
One advantage to this "query indirection" is that while the model is in a state of flux (it's changing very often), it's very easy/efficient to change the model and keep working. This can be part of a flow:

1. query for 94111 anywhere in any document
- no model necessary
- can do this right way, after you've loaded as-is
- as the model changes (more sources/document shapes come in) this query con

[2017-04-19 16:50] bsrikan commented on #283
You were right Kim. I tried those example without the template installed. I tried after installing the TDE and they work OK. Everything else looks good. Shipping the bug.

[2017-04-19 16:59] jmakeig commented on #294
What about relationships that are more nuanced than “same as”? Presumably you’d have to tell the query rewriter the meaning of your predicates and how to rewrite them. “Location is defined by ZIP Code except for the cases where ZIP Code is missing and then it’s Region or if it’s a foreign company, then use `postal_code` in England, …”

[2017-04-19 17:25] kcoleman-marklogic commented on #281
OK, here is the change I made related to Issue 8, following our discussion. See if you like it better. And don't be afraid to say no and make me try again. :)

I made the same change to next entry in the table, which was using the same terminology.

[2017-04-19 17:30] bsrikan commented on #281
Thanks Kim for hearing me out. This looks good.

[2017-04-19 20:03] damonfeldman commented on #294
I find that most code built on top of cts.query/search:search expects there to be a value materialized on ingest. E.g. the faceting code in search:search requires one range indexed item (could be a field index, but still, it wants some single index in the db). So I think it pays to be opinionated about harmonization and stay it should ideally be done at ingest with "schema on write." Other places

[2017-04-20 23:55] kcoleman-marklogic commented on #279
That's been fixed, Srikanth. Unless you want to look at the one line again, you can close this.

[2017-04-21 05:58] bsrikan commented on #279
Good to go!

[2017-04-21 06:24] bsrikan commented on #284
Shipping as it is in bugtrack. Looks good to go.

[2017-04-21 17:00] matt-turner commented on #292
OK - here is an update:

1. I am able to generate the templates for TDE with this new configuration
2. But I don't have the conversion working properly - my std_ref data elements in the envelope (and everywhere else) are not pulling the data values

I'm attaching a full set of files for this:

1. Current model
2. Current converter
3. Sample content that includes the right norm_ref -> std_ref struc

[2017-04-21 17:02] jmakeig commented on #292
@bsrikan, do you have some bandwidth to help @matt-turner out? Much appreciated.

[2017-04-21 17:06] bsrikan commented on #292
Sure yes. Looking into it.

[2017-04-21 19:37] bsrikan commented on #292
So I made couple of changes to sts-0.0.2-conv.xqy to get them working:

1. Replaced `$source-node/ref/std/std-ref` with `$source-node//std-ref`
2. extract-instance-Standard() was missing `$instance` before `=>   map:with('urn',` .. etc

[sts-0.0.2-conv.xqy.zip](https://github.com/marklogic/entity-services/files/948141/sts-0.0.2-conv.xqy.zip)

[2017-04-24 05:27] sbuxton commented on #294
You're thinking backwards (Justin), from "if I had a relationship X" to ".... then what could I do with it?"
We should be thinking "what would I want to do with relationships other than sameAs?"
One could imagine at least sub-predicates and super-predicates. So I want to search for "London" in every field that's a "collectiveDwellingPlace" (hamlet, village, town, city, metropolis)

[2017-04-24 05:30] sbuxton commented on #294
Damon: I think you're missing the point of this extra step. It's a level of query indirection *on purpose*, so that the model can be changed quickly and easily (with minimal impact). As soon as you have a materialized field in the document, then any time you make a change you have to change (and re-index) the document. With a level of indirection, you can change the model and have query results ch

[2017-04-24 17:15] bsrikan commented on #292
Okay. The TDE would have passed validation but it doesnt surface the norm_refs table. This is because of - in the view name. Please edit following:
* edit model to change norm-refs to norm_refs
* You might want to regenerate instance converter module with this updated model and edit as before to add /*
* edit generated tdex by replacing `<val>std_ref</val>` with `<val>Std_ref/std_ref</val>` to mat

[2017-04-28 17:07] grechaw commented on #292
Nice thread!  Thank you for persistent experimentation @matt-turner and for your timely responses @bsrikan .  I'm digging out of an email hole and will loop back to this issue later.

[2017-04-28 20:56] grechaw commented on #294
WHen @sbuxton and I discussed this issue last week, I think that it underscored the difference between discovery scenarios and production scenarios.  The data hub will, I hope, encompass both.

The tooling that I seen envisioned so far includes a kind of interface to source data, which can drill into data arbitrarily, and give enough feedback to the expert so that they can plan how to build produc

[2017-04-28 20:59] grechaw commented on #293
It looks like there is some inconsistency that needs to be addressed.  I'll put it in the 9.0-2 buglist, I'll try to take a look at it next week though and hopefully push changes at least to develop branch.

[2017-04-28 21:18] kcoleman-marklogic commented on #293
The versioning inconsistency is in the dev guide, not your examples, Charles, so that's on me. At least, AFAIK. :) That bugtrack bug is filed against me.

So unless you were version-sloppy in your examples, too, I think the only thing you need do is cogitate about semver insistence vs not, and let me know what you decide about that.

[2017-04-28 21:20] grechaw commented on #293
Ah! OK, thanks Kim.

I think that, indeed, we want folks to just get used to looking at semver.  The jury's out on whether the notions of change in models map exactly to those of codebases, but I've seen data versioned with three points for a long time now, even if it's overkill for the examples.

[2017-04-28 22:39] jmakeig commented on #293
For what it’s worth, in speaking with a customer yesterday, without prompting, his examples of schema (model) versioning all used semver. That’s one data point to support this direction. This is something we should validate further.

[2017-04-28 22:42] jmakeig commented on #294
Agreed, that it’s helpful to differentiate between **discovery in staging** and **delivery in production**.

[2017-04-28 23:44] grechaw commented on #122
Set milestone and labels for BT update

[2017-04-28 23:46] grechaw commented on #117
I think this recipe can be worked into the suppliers-parts database example.

[2017-05-01 19:27] matt-turner commented on #292
Another update: by defining a separate Std_ref entity and then referencing that with norm_refs, I am able to extract data from the norm_refs to create envelope data. I also added a title element to those norm_refs. However that data remains in line, not nested under a single norm_ref element in the envelope.
[code]

I can also now query a standard_norm_ref table in SQL, but all the values are null

[2017-05-01 21:24] matt-turner commented on #292
OK we have a fix (sort of):

I have edited the generated TDE template to understand the data location of the norm_ref data.

These lines in the generated TDE (attached) were changed:

[code]
This does now generate the proper standards_norm_ref data ... and I can query it as expected.

However not sure if this is how it should work -> either the model is right OR the way the TDE template is right.

[2017-05-03 16:14] grechaw commented on #232
In reviewing codegen with Matt Turner yesterday, I think that the extensive use of comments in the XQ modules is wrong-headed.  I end up just deleting it all anyway when I use entity services, and it may get in the way of having clearly readable code, rather than comments.  There's a balance to be struck, of course, but I'd like to float replacing the very long comment blocks with, say, a link to

[2017-05-03 16:24] kcoleman-marklogic commented on #232
Yeah, I agree. I found the code difficult to read when I was working on it, and generally removed the comments from any snippets I discussed in detail so that the focus was just on the code.

I cannot contain switching this up for 9.0-2, but I could do something for 9.0-3. (Unless you want handle it through github wiki stuff, of course.)

[2017-05-03 17:31] rashiatmarklogic commented on #232
I second that.

[2017-05-03 18:16] jmakeig opened #296 "Verbose comments in generated artifacts may actually decrease usability"
From #232:

@grechaw,

[2017-05-03 18:16] jmakeig opened #297 "Verbose comments in generated artifacts may actually reduce usability"
From #232, @grechaw,

[2017-05-03 18:18] jmakeig commented on #296
GitHub error caused double submission. See #297.

[2017-05-03 18:18] #296 closed

[2017-05-05 15:30] grechaw opened #298 "Are we handling hyphens appropriately in property and type names?"
We advocate `CapitalCamelCase` for type names and `lowerCamelCase` for property names in Entity Services, which aligns with RDF and Java practices.  Hyphens are not prohibited, however.

This issue is to check to see what happens with TDE and hyphens.  I know that hyphens are not allowed as column names or view names, but do not know what steps to mitigate or protect.

One proposal would be to sub

[2017-05-05 16:15] kcoleman-marklogic commented on #298
You probably know this already, but here is some info I got from Francisco when we tripped over the hyphen this while you were gone:

https://docs.microsoft.com/en-us/sql/relational-databases/databases/database-identifiers

It's all a bit of a tangle, but when I read it, I thought the intersection between this and let's call them "XQuery habits" was only like to collide over hyphens.

[2017-05-11 12:14] ErikHoeven commented on #214
I have got a similar problem with other error message:

[1.0-ml] SVC-FILOPN: File open error: open '/MarkLogic/tde.xqy': No such file or directory
Stack Trace

At line 2 column 0:
In xdmp:eval("xquery version "1.0-ml";
import module namespace ...", (), <options xmlns="xdmp:eval"><database>18182129315596444747</database>...</options>)
1. xquery version "1.0-ml";
2. import module namespace tde = "ht

[2017-05-11 15:08] grechaw commented on #214
Hi @ErikHoeven I can't reproduce your isssue here; TDE imports fine for me on windows, 9.0-1.
It would be very surprising were this to happen.

Check for the existence of the file -- maybe your install failed.  An OS-level permissions error might also cause something like this.  It seems like something in the OS/install level rather than the package though, and TDE was not exposed to the same pack

[2017-05-11 15:10] grechaw commented on #214
I was going to say, you van verify whether or not the tde.xqy file is present at, on linux or mac, `/opt/MarkLogic/Modules/MarkLogic/tde.xqy`  Windows will be `C:\Program Files\MarkLogic\Modules\MarkLogic\tde.xqy`

[2017-05-11 16:33] ErikHoeven commented on #214
Thanks for the fast reply grechaw. I use Linux and get the folowing files

[code]
But i dont find it in there. Can i find it on git hub. Then i can add them to the directory

[2017-05-11 16:44] grechaw commented on #214
Hi Erik, this does not look like MarkLogic 9.  TDE is a MarkLogic 9 feature, just released last week.  You'll want to go and get a new download at developer.marklogic.com.

[2017-05-11 17:52] grechaw commented on #263
I discussed this issue with some members of the team and we agree it's in the 'garbage in garbage out' class of bugs.  We cannot account for the foibles of map/json implementation on the server.

[2017-05-22 19:48] grechaw commented on #206
I've been prototyping a JS module, and am making good progress.  This prototype will help me author a spec and scaffold the codegen.

[2017-05-22 20:36] grechaw commented on #206
Here's a module that appears to work properly for a trivial, flat entity instance, pointers and refs in JSON or XML.  Just a starting point.

[code]

[2017-05-22 20:36] grechaw commented on #206
To use, first

[code]

[2017-05-22 20:37] grechaw commented on #206
Then,  in the same qc tab as the sample code

[code]

[2017-05-22 20:50] grechaw commented on #206
Along with this example, I'll be proposing that we align the SJS and XQuery code so that they look more-or-less the same, although we'll try to make them relatively idiomatic as well.

[2017-05-22 21:26] GayatreeT opened #299 "Error in executing Entity Services Examples"
Hi,

I'm trying to run one of the examples for entity services - it tries to download the gradle 3.1 distribution and fails. The build does not go beyond that point. I have Gradle 3.1 installed.
Attached is the error message (it times out). I've tried setting the proxy too - maybe those settings are wrong? Please advise.
![error](https://cloud.githubusercontent.com/assets/20122171/26329085/85eba2a

[2017-05-22 21:29] grechaw commented on #299
You'll need direct access to the internet to run these examples.  We don't have experience running behind a proxy, but you would have the same issue with any other gradle-based project.

Have you succeeded in running another project?  Can you ping `services.gradle.org` ?

[2017-05-22 21:31] GayatreeT commented on #299
Hi Charles,

Thanks for getting back to me.
Right, the services.gradle.org ping also times out.

Regards,
Gayatree

From: Charles Greer [mailto:notifications@github.com]
Sent: Monday, May 22, 2017 5:29 PM
To: marklogic/entity-services
Cc: Tiwari, Gayatree; Author
Subject: Re: [marklogic/entity-services] Error in executing Entity Services Examples (#299)

You'll need direct access to the internet t

[2017-05-22 21:41] GayatreeT commented on #299
However, I set the proxy in gradle.properties – it still times out..

From: Tiwari, Gayatree
Sent: Monday, May 22, 2017 5:31 PM
To: 'marklogic/entity-services'
Subject: RE: [marklogic/entity-services] Error in executing Entity Services Examples (#299)

Hi Charles,

Thanks for getting back to me.
Right, the services.gradle.org ping also times out.

Regards,
Gayatree

From: Charles Greer [mailto:not

[2017-05-22 21:44] jmakeig commented on #206
Nit picks:

* `let` should be `const` wherever possible
* Single quotes (basically `prettier --single-quote --tab-width 2` using [prettier](https://github.com/prettier/prettier))

[2017-05-22 21:45] jmakeig commented on #206
Idiomatic for the host language is much more important to me than consistency across languages.

[2017-05-22 22:41] grechaw commented on #206
"Assume JSON in and JSON out. Allow for XML in or out without significant pitfalls."

We can extend the vocabulary to specify two orthogonal code-generation preferences:

[code]

(I've been working up such proposals for the envelope, to be recorded in another issue.)